
<section class="article-content--full-section">

    <div class="article-top-section">

        <div class="container-style article-top-container">
            <h1>{{ article.title }}</h1>
            <p>{{ article.excerpt }}</p>
            <span class="scrollable-element" data-scroll="#section2">scroll down</span>
        </div>

    </div>


    <div class="article-content-block-wrapper" id="section2">
        <div class="featured-image-blog">
            <img src="{{ article.image | img_url: '10x' }}"
                class="lazyload"
                data-src="{{ article.image | img_url: 'master' }}"
                data-widths="[1900]"
                data-sizes="auto"
                tabindex="-1"
            />
        </div>
    {% assign counter = 0 %}

    {% for extra_blocks in article.metafields.arena.block_name %}

        {% if article.metafields.arena.article_block_image_position[counter] == 'right' %}
            <div class="article-content--row">
                <div class="article-content--col-left">
                    <div class="article-content--col-left-text">
                        {{ article.metafields.arena.article_block_text[counter] }}
                    </div>
                </div>
                <div class="article-content--col-right">
                    <img src="{{ article.metafields.arena.article_block_image[counter]  }}" />
                    {% if article.metafields.arena.text_with_title_title[counter] != blank %}
                    <div class="article-content-top-title">
                        <span>{{ article.metafields.arena.text_with_title_title[counter] }}</span>
                    </div>
                {% endif %}
                </div>
            </div>

        {% endif %}
        {% if article.metafields.arena.article_block_image_position[counter] == 'left' %}
            <div class="article-content-style2-row">
                <div class="article-content-style2-col-left">
                    <img src="{{ article.metafields.arena.article_block_image[counter]  }}" />
                </div>
                <div class="article-content-style2-col-right">
                    <div class="article-content-style2-col-right-text">
                        {{ article.metafields.arena.article_block_text[counter] }}
                    </div>
                </div>
            </div>
        {% endif %}

      
        {% if article.metafields.arena.text_with_title_text[counter] != blank %}
            <div class="article-content-large-title" {% if article.metafields.arena.youtube_video_id[counter] == blank %}  {% endif %}>
                <h2>{{ article.metafields.arena.text_with_title_text[counter] | replace: "<p>", "" | replace: "</p>", "" }}</h2>
            </div>
        {% endif %}

        {% if article.metafields.arena.youtube_video_id[counter] != blank %}
            <div class="general-video-section">
                <div class="general-video-cover">
                    <img src="{{ article.metafields.arena.video_cover[counter] }}">
                </div>
                <div class="general-video-content">
                    <span class="general-play-button">play</span>
                </div>
                <div class="general-video-iframe">
                    <iframe youtube-id="{{ article.metafields.arena.youtube_video_id[counter] }}" frameborder="0" allow="autoplay; fullscreen" width="100%" height="100%"></iframe>
                </div>
            </div>
        {% endif %}


        {% if article.metafields.arena.article_block_image_2_position[counter] == 'right' %}
            <div class="article-content-style1-row">
                <div class="article-content-style1-col-left">
                    <div class="article-content-style1-col-left-text">
                        {{ article.metafields.arena.article_block_text2[counter] }}
                    </div>
                </div>
                <div class="article-content-style1-col-right">
                    <img src="{{ article.metafields.arena.article_block_image2[counter]  }}" />
                </div>
            </div>
        {% endif %}

        {% if article.metafields.arena.article_block_image_2_position[counter] == 'left' %}


            <div class="article-content--row">
               
             
                <div class="article-content--col-left">
                    <div class="article-content--col-left-text">
                        {{ article.metafields.arena.article_block_text2[counter] }}
                    </div>
                </div>
                <div class="article-content--col-right">
                    <img src="{{ article.metafields.arena.article_block_image2[counter]  }}" />
                    {% if article.metafields.arena.text_with_title_title[counter] != blank %}
                    <div class="article-content-top-title">
                        <span>{{ article.metafields.arena.text_with_title_title[counter] }}</span>
                    </div>
                {% endif %}
                </div>
            </div>

        {% endif %}

        {% assign counter = counter | plus: 1 %}
    {% endfor %}
    </div>

</section>



{% schema %}
    {
      "name": "Article - Content",
      "tag": "section",
      "class": "article-full-section",
      "settings": [
      ],
      "presets": [
        {
          "name": "Article -Full Content"
        }
      ]
    }
    {% endschema %}