
    <div class="general-video-cover">
        <img src="{{ section.settings.image | img_url: '10x' }}"
             class="lazyload"
             data-src="{{ section.settings.image | img_url: '1900x' }}"
             data-widths="[1900]"
             data-sizes="auto"
             tabindex="-1"
        />
    </div>
    <div class="general-video-content">
        <h2>{{ section.settings.title }}</h2>
        <span class="general-play-button">play</span>
        {{ section.settings.description }}
    </div>
    <div class="general-video-iframe">
        <iframe youtube-id="{{ section.settings.video.id }}" frameborder="0" allow="autoplay; fullscreen" width="100%" height="100%"></iframe>
    </div>


{% schema %}
{
  "name": "Experiments - Video",
  "tag": "section",
  "class": "general-video-section",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Cover Image"
    },
    {
      "type": "video_url",
      "id": "video",
      "label": "Video",
      "accept": [
        "youtube"
      ]
    }
  ],
  "presets": [
    {
      "name": "Experiments - Video"
    }
  ]
}
{% endschema %}