
    <div class="overview-processes-top" id="section_process">
        <span>{{ section.settings.subtitle }}</span>
        <h2>{{ section.settings.title }}</h2>
        {{ section.settings.description }}
        <div class="overview-processes-top-link">
            <a href="{{ section.settings.button_link }}">{{ section.settings.button_title }}</a>
        </div>
    </div>
    <div class="swiper slider-processes">
        <div class="swiper-wrapper">
            {% assign counter = 1 %}
            {% for block in section.blocks %}
                <div class="swiper-slide">
                    <div class="swiper-slider-content">
                        <div class="swiper-slider-col-left">
                            <div class="standard-cover">
                                {% include "media-block", block_type:1 %}
                            </div>
                        </div>
                        <div class="swiper-slider-col-right">
                            <span>{{ counter }}</span>
                            <h3>{{ block.settings.title }}</h3>
                            {{ block.settings.description }}
                        </div>
                    </div>
                </div>
                {% assign counter = counter | plus: 1 %}
            {% endfor %}
        </div>
        <div class="swiper-scrollbar"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


{% schema %}
{
  "name": "Overview - Processes",
  "tag": "section",
  "class": "overview-processes-section",
  "settings": [
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Sub Title"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Link Title"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link"
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings":[
        {
          "type": "textarea",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Media Block"
        },
        {
          "type": "select",
          "id": "media_type",
          "label": "Media Type",
          "options": [
            {
              "value": "image",
              "label": "image"
            },
            {
              "value": "vimeo_youtube_video",
              "label": "YouTube or Vimeo Video"
            },
            {
              "value": "video_file",
              "label": "HTML5 Video"
            }
          ],
          "default": "image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "video_url",
          "id": "vimeo_youtube_video",
          "label": "YouTube or Vimeo Video",
          "accept": [
            "youtube",
            "vimeo"
          ]
        },
        {
          "type": "text",
          "id": "video_file",
          "label": "HTML5 Video File URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Overview - Processes"
    }
  ]
}
{% endschema %}