<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  
  {% if template contains 'collection' and current_tags %}
  <meta name="robots" content="noindex" /> 
  <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" /> 
  {% elsif template == 'page.no-follow' %}
  <meta name="robots" content="noindex" /> 
  {% else %} 
  <link rel="canonical" href="{{ canonical_url }}" /> 
  {% endif %}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}

  {% render 'hs-defer-css' with filename: 'theme.scss.css', pages: 'collection,index,product' | split: ',', minify: true, local: true %}

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      dev: {
        variantSelection: '{{settings.variant_style}}',
        preorder: false,
        showReviews: 1,
        otherColors: 1,
        cartTotal: {{cart.total_price | divided_by: 100}}
      }
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>


  {%- if template.directory == 'customers' -%}
    <script defer src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
  {%- endif -%}

  

  {{ content_for_header }}
</head>

<body class="template-{{ template | split: '.' | first }} {{template}}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}">


    <form class="search search-bar__form" action="/search" method="get" role="search">
      <div class="search-bar__flex flex flex--align-center">
        <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="Type to search..." aria-label="{{ 'general.search.placeholder' | t }}">
        <button class="search-bar__submit search__submit btn--link" type="submit">
          {% include 'icon-search' %}
          <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </form>
   
   
  </div>

  {% section 'header' %}

  <div class="page-container" id="PageContainer">

    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{- 'sections.slideshow.navigation_instructions' | t -}}
    </div>

  </div>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  </ul>
  
  {% section 'newsletter-popup' %}
  
  <script async src="{{ 'lazysizes.js' | asset_url }}"></script>
  <script src="{{ 'vendor.js' | asset_url }}"></script>
  <script defer src="{{ 'theme.js' | asset_url }}"></script>
  
  {% if template contains 'product' and product.available and product.options.size > 1 %}
  {% include 'linked-options' %}
  {% endif %}
  
  {% if page and page.handle == 'about-us' %}
  <script defer src="{{ 'history.js' | asset_url }}"></script>
  {% endif %}
  
  <a id="chat-icon" href="#pick-a-chat" class="mfp-inline">
    <span class="c-FabButton__icon--icon css-1v64h5m ewgv1623">
      <svg width="24" height="22" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.347 20.871l-.003-.05c0 .017.001.034.003.05zm-.243-4.278a2 2 0 0 1 .513-1.455c1.11-1.226 1.383-2.212 1.383-4.74C22 5.782 18.046 2 13.125 2h-2.25C5.954 2 2 5.78 2 10.399c0 4.675 4.01 8.626 8.875 8.626h2.25c.834 0 1.606-.207 3.212-.798a2 2 0 0 1 1.575.083l2.355 1.161-.163-2.878zM10.875 0h2.25C19.13 0 24 4.656 24 10.399c0 2.6-.25 4.257-1.9 6.08l.243 4.279c.072.845-.807 1.471-1.633 1.162l-3.682-1.816c-1.212.446-2.527.921-3.903.921h-2.25C4.869 21.025 0 16.142 0 10.4 0 4.656 4.869 0 10.875 0z" fill="#FFF"></path>
      </svg>
    </span>
  </a>
  <div style="display: none;">
    <div id="pick-a-chat" class="regular-mfp-popup">
      <p>Please select and install a <a href="https://apps.shopify.com/search?q=live+chat&st_source=">live chat</a> app</p>
      
    </div>
  </div>
  
  
</body>
</html>
