{% include 'breadcrumbs' %}
{%- liquid
for tag in product.tags
  if tag contains 'video:' 
    assign videoID = tag | remove:'video:'
  endif
endfor
-%}

<div class="product-single__{{ product.handle }} product-template__container page-width small--full-width {% if specialOrder %}product-single__special-order{% endif %}"
     id="ProductSection-{{ section.id }}"
     data-section-id="{{ section.id }}"
     data-section-type="product"
     data-enable-history-state="true"
     data-full-title="{{product.title}}"
     data-preorder="{{presale}}"
     data-preorder-variants=""
     data-preorder-end="{{presale_enddate}}"
     {% if specialOrder %}
     data-normal-version="/products/{{product.handle | remove: '-special-order'}}"
     {% else %}
     data-product-handle="{{product.handle}}"
     data-special-version="/products/{{special_version}}?name={{product.title}}"
     {% endif %}
     >
  {% if product.description contains '<!--split-->' %}
  {% assign pd = product.description | split: '<!--split-->'  %}
  {% assign description = pd[0] %}
  {% assign special_info = pd[1] %}
  {% else %}
  {% assign description = product.description %}
  {% endif %}
  
  {% if product.metafields.pinkys.under_image != blank %}
  {% assign special_info = product.metafields.pinkys.under_image %}
  {% endif %}

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}
  {%- assign product_image_width = 'medium-up--one-half' -%}
  {%- assign product_description_width = 'medium-up--one-half' -%}
  {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
  {%- assign height = 530 -%}


  <div class="grid product-single{% if section.settings.enable_payment_button %} product-single--{{ section.settings.image_size }}-image{% endif %}">
    <div class="grid__item product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}">
      <div class="flex small--flex-column__reverse">
        {% if product.media.size > 1 %}
        <div class="thumbnails-wrapper medium-up--one-fifth small--hide">
          <ul class="product-single__thumbnails product-single__thumbnails-{{ section.id }}">
            {% assign idx = 0 %}
            {% for media in product.media %}
            {% unless media.alt contains 'slideshow' or media.alt contains 'no-watermark' %}
            <li class="product-single__thumbnails-item js" >
              <a href="{{ media.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                 class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }} product-single__thumbnail--{{ media.media_type | handle }}"
                 data-slide-index="{{idx}}"
                 data-thumbnail-id="{{ media.id }}"
                 {% if enable_zoom %}data-zoom="{{ media.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                <img alt="{{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}" class="product-single__thumbnail-image lazyload hs-lazyload hs-id-c8c223ad" data-src="{{ media | img_url: '110x110', scale: 2 }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
              </a>
            </li>
            {% assign idx = idx | plus: 1 %}
            {% else %}
            {% assign has_slideshow_images = true %}
            {% endunless %}
            {% endfor %}
            {% if videoID %}
            <li class="product-single__review-item lazyload lazyfade product-youtube-thumbnail grab-youtube-thumbnail" data-youtube-id="{{videoID}}" data-bg="//img.youtube.com/vi/{{videoID}}/mqdefault.jpg" style="background-image: url(//img.youtube.com/vi/{{videoID}}/mqdefault.jpg);">
              <a href="https://youtube.com/watch?v={{videoID}}" class="mfp-iframe">{% include 'icon-play-video' %}</a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
        <div class="medium-up--four-fifths small--one-whole relative overflow--hidden">
            <div id="product-slick" class="slick-slider">
              {% for media in product.media %}
              {% unless media.alt contains 'slideshow' or media.alt contains 'no-watermark' %}
              {% if media.media_type == 'image' %}
              {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
              {%- assign img_url = media | img_url: '1x1', format: 'jpg' | replace: '_1x1.', '_{width}x.' -%}
              <div {% unless media.alt == product.title %}data-color="{{media.alt}}"{% endunless %} class="filter-{{media.alt | handle}} {% if enable_zoom %}js-zoom-enabled{% endif %}" data-image-id="{{ media.id }}"{% if enable_zoom %} data-zoom="{{ media | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                <img id="{{ img_id }}"
                     class="lazyload"
                     src="{{ media | img_url: '300x', format: 'jpg' }}"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ media.aspect_ratio }}"
                     data-sizes="auto"
                     width="100%"
                     alt="{{ media.alt | escape }}">
              </div>
              {% elsif media.media_type == 'model' %}
              <div class="product-single__media product-single__model" data-media-id="{{ media.id }}">
                {{ media | model_viewer_tag }}
              </div>	
              {% endif %}
              {% endunless %}

              {% else %}
              {{'image' | placeholder_svg_tag}}
              {% endfor %}

              {% if videoID %}
              <div>
                <div class="video-flex-wrapper">
                  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="lazyload hs-id-3d377a08" data-src="https://www.youtube.com/embed/{{videoID}}?playsinline=1&amp;enablejsapi=1" frameborder="0" height="238" width="424">
</iframe>
                </div>
              </div>
              {% endif %}

            </div>
            {% if special_info %}
            <div class="product-single__below-main-photo text-center rte">
              {{special_info}}
            </div>
            {% endif %}

            <!-- include 'wishlist-button-product' with '{{ product.id }}' -->
            <a href="#" class="product-single__zoom small--hide">{% include 'icon-zoom' %}</a>
            <div class="small--hide">{{ lock_content }}</div>
          </div>
          <noscript>
            {% capture product_image_size %}{{ height }}x{% endcapture %}
            <img src="{{ featured_image | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img" style="max-width: {{ height }}px;">
          </noscript>
        </div>
      </div>

      <div class="grid__item {{ product_description_width }} small--full-width">
        <div class="product-single__meta">



          <div class="small--page-width"><h1 class="product-single__title flex flex--wrap">
            <span class="product-title__actual">{{ product.title }}</span>
            {% if ribbon and google_says_so %}
            <div class="ribbon top-left sticky red shadow">{{ribbon | strip}}</div>
            {% endif %}
            <span class="product__price">
              {% include 'product-price', variant: current_variant %}
            </span>
            </h1>  
          </div>
          

          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
          <div class="product__policies rte" style="display:none;">
            {%- if shop.taxes_included -%}
            {{ 'products.product.include_taxes' | t }}
            {%- endif -%}
            {%- if shop.shipping_policy.body != blank -%}
            {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
            {%- endif -%}
          </div>
          {%- endif -%}

          {% if section.settings.show_quantity_selector %}
          <div id="error-quantity-{{ section.id }}" class="form-message form-message--error product__quantity-error hide" tabindex="-1">
            {% include 'icon-error' %} {{ 'products.product.quantity_minimum_message' | t }}
          </div>
          {% endif %}

          {% capture "form_classes" -%}
          product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
          {%- endcapture %}

          {% form 'product', product, class:form_classes, novalidate: 'novalidate' %}


	      {%- unless product.has_only_default_variant -%}
          <div class="product-single__swatches {% if section.settings.variant_style == "dropdown"%} flex flex--wrap product-form__group{% endif %}">
			{% for option in product.options_with_values %}
            <div class="selector-wrapper selector-wrapper--{{ option.name | handle }} js product-form__item" {% unless section.settings.variant_style == "dropdown" %} style="display: none;"{% endunless %} data-reorder-index="{{reorder_index}}">
              <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">{{ option.name }}:</label>
              <div class="selector-box">
                <select class="real-option-selector single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                  {% for value in option.values %}
                  <option data-real-value="{{value | escape}}" value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% endfor %}
          </div>
          {%- endunless -%}
          
          <input type="hidden" id="ZapietId" name="properties['_ZapietId']">

          <select name="id" id="ProductSelect-{{ section.id }}" class="" style="display: none;">
            {% for variant in product.variants %}
            {% if variant.available %}
            <option data-title="{{variant.title | replace: '"','$' }}" data-price="{{variant.price}}" data-compare-at-price="{{variant.compare_at_price}}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-quantity="{{variant.inventory_quantity}}" value="{{ variant.id }}">{{ variant.title | escape }}</option>
            {% else %}
            <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
            {% endfor %}
          </select>


       
          <div class="product-single__errors"></div>

          <div class="product-form__groupz flex product-add-row">
            {% if section.settings.show_quantity_selector %}
            <div class="product-form__item product-form__item--quantity">
              <label for="Quantity-{{ section.id }}" class="visually-hidden">{{ 'products.product.quantity' | t }}</label>
              <input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
            </div>
            {% endif %}
            <div class="product-form__item product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
              <button data-variant-id="{{current_variant.id}}" type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
                <span id="AddToCartText-{{ section.id }}" class="add-to-cart-text">
                  {% unless current_variant.available %}
                  {{ 'products.product.sold_out' | t }}
                  {% else %}
                  {{ 'products.product.add_to_cart' | t }}
                  {% endunless %}
                </span>
                <span class="add-to-cart-loader" >{% include 'icon-preloader' %}</span>
              </button>

              {% if section.settings.enable_payment_button %}
              {{ form | payment_button }}
              {% endif %}
            </div>
          </div>

          {% endform %}
        </div>

        {%- comment -%}
        Live region for announcing updated price and availability to screen readers
        {%- endcomment -%}
        <p class="visually-hidden" data-product-status
           aria-live="polite"
           role="status"
           ></p>


        <div class="flex links-below-add-button small--flex-columns flex--wrap">

          <a class="mfp-ajax" data-div="question--description" href="/products/{{ product.handle }}?view=popups">Description</a>
        
        </div>


      </div>
    </div>
  </div>



  {% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  
  <script type="text/javascript">
    var currentVariant = {{ product.selected_or_first_available_variant | json  }};
    var currentProduct = {{ product | json }};
    var specialVersion = {{ all_products[special_version] | json }};
    
    {% for variant in product.variants %}
    {% assign idx = forloop.index0 %}
    currentProduct.variants[{{ idx }}].ships_in = {{ shipping_time | json }};
    {% if variant.metafields.pinkys.ships_in != blank %}
    currentProduct.variants[{{ idx }}].ships_in = {{ variant.metafields.pinkys.ships_in | json }};
    {% endif %}
    
    {% if variant.id == product.selected_or_first_available_variant.id %}
      currentVariant.ships_in = {{ shipping_time | json }};
      {% if variant.metafields.pinkys.ships_in != blank %}
      currentVariant.ships_in = {{ variant.metafields.pinkys.ships_in | json }};
      {% endif %}
    {% endif %}
  {% endfor %}
    
    
  </script>

  {% endunless %}

  <script type="text/javascript">
    var inv_qty = {};
    {% for variant in product.variants %}
    inv_qty[{{- variant.id -}}] = {{ variant.inventory_quantity | default: 0 }};
    {% endfor %}
 
    theme.strings = {
      shippingCalcSubmitButton: {{ settings.shipping_calculator_submit_button_label | default: 'Calculate shipping' | json }},
      shippingCalcSubmitButtonDisabled: {{ settings.shipping_calculator_submit_button_label_disabled | default: 'Calculating...' | json }},
      {% if customer %}shippingCalcCustomerIsLoggedIn: true,{% endif %}
      shippingCalcMoneyFormat: {{ shop.money_with_currency_format | json }}
    }

    var shippingTime = {{ shipping_time | strip | json }};
    var shippingTimeSpecial = {{ special_order_value | json }};
    var shippingTimeElements = document.querySelectorAll('.shipping-text');
    shippingTimeElements.forEach(function(el) {
      el.textContent = shippingTime;
    });
    var specialOrderLink = document.querySelector('.special-order--link');
//     specialOrderLink.setAttribute('data-tooltip', shippingTime);
    
  </script>
  
  

  {% capture fill_text %}<p>Narwhal vinyl vaporware, cray glossier twee tacos franzen taxidermy mustache 90's pug neutra. Lumbersexual godard kale chips roof party freegan, af artisan enamel pin dreamcatcher. Yuccie microdosing palo santo, artisan pug poutine letterpress disrupt cred migas health goth hot chicken. Intelligentsia kombucha hell of taiyaki bespoke, tilde gochujang celiac fingerstache. Affogato VHS retro austin flannel heirloom.</p>{% endcapture %}

 
  <script>
    const productJSON = {{ product | json }};

  </script>


  {% schema %}
  {
  "name": {
  "de": "Produktseiten",
  "en": "Product pages",
  "es": "Páginas de productos",
  "fr": "Pages de produits",
  "it": "Pagine di prodotto",
  "ja": "商品ページ",
  "pt-BR": "Páginas de produtos"
  },
  "settings": [
  {
  "type": "select",
  "id": "image_size",
  "label": {
  "de": "Foto-Größe",
  "en": "Image size",
  "es": "Tamaño de la imagen",
  "fr": "Taille des images",
  "it": "Dimensione immagine",
  "ja": "画像のサイズ",
  "pt-BR": "Tamanho da imagem"
  },
  "options": [
  {
  "value": "small",
  "label": {
  "de": "Klein",
  "en": "Small",
  "es": "Pequeña",
  "fr": "Petite",
  "it": "Piccolo",
  "ja": "小",
  "pt-BR": "Pequeno"
  }
  },
  {
  "value": "medium",
  "label": {
  "de": "Mittel",
  "en": "Medium",
  "es": "Mediana",
  "fr": "Moyenne",
  "it": "Medio",
  "ja": "中",
  "pt-BR": "Médio"
  }
  },
  {
  "value": "large",
  "label": {
  "de": "Groß",
  "en": "Large",
  "es": "Grande",
  "fr": "Grande",
  "it": "Grande",
  "ja": "大",
  "pt-BR": "Grande"
  }
  },
  {
  "value": "full",
  "label": {
  "de": "Volle Breite",
  "en": "Full-width",
  "es": "Ancho completo",
  "fr": "Pleine largeur",
  "it": "Intera larghezza",
  "ja": "全幅",
  "pt-BR": "Largura completa"
  }
  }
  ],
  "default": "medium"
  },
  {
  "type": "checkbox",
  "id": "show_quantity_selector",
  "label": {
  "de": "Quantitäts-Auswahl anzeigen",
  "en": "Show quantity selector",
  "es": "Mostrar selector de cantidad",
  "fr": "Afficher le sélecteur de quantité",
  "it": "Mostra selettore quantità",
  "ja": "数量セレクターを表示する",
  "pt-BR": "Exibir seletor de quantidade"
  },
  "default": false
  },
  {
  "type": "checkbox",
  "id": "show_variant_labels",
  "label": {
  "de": "Varianten-Etiketten anzeigen",
  "en": "Show variant labels",
  "es": "Mostrar etiquetas de variantes",
  "fr": "Afficher le nom des variantes",
  "it": "Mostra etichette varianti",
  "ja": "バリエーションのラベルを表示する",
  "pt-BR": "Exibir etiquetas de variantes"
  },
  "default": true
  },
  {
  "type": "checkbox",
  "id": "show_vendor",
  "label": {
  "de": "Lieferanten anzeigen",
  "en": "Show vendor",
  "es": "Mostrar proveedor",
  "fr": "Afficher les vendeurs",
  "it": "Mostra fornitore",
  "ja": "販売元を表示する",
  "pt-BR": "Exibir fornecedor"
  },
  "default": false
  },
  {
  "type": "checkbox",
  "id": "enable_zoom",
  "label": {
  "de": "Foto-Zoom zulassen",
  "en": "Enable image zoom",
  "es": "Habilitar zoom de imagen",
  "fr": "Activer le zoom d'image",
  "it": "Abilita lo zoom dell'immagine",
  "ja": "画像ズームを有効にする",
  "pt-BR": "Ativar o zoom da imagem"
  },
  "default": true
  },
  {
  "type": "checkbox",
  "id": "enable_payment_button",
  "label": {
  "de": "Dynamischen Checkout Button anzeigen",
  "en": "Show dynamic checkout button",
  "es": "Mostrar botón de pago dinámico",
  "fr": "Afficher le bouton de passage à la caisse dynamique",
  "it": "Mostra pulsante di check-out dinamico",
  "ja": "ダイナミックチェックアウトボタンを表示する",
  "pt-BR": "Exibir botão dinâmico de finalização da compra"
  },
  "info": {
  "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in Ihrem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Infos](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
  "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
  "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
  "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
  "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
  "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[もっと詳しく] (https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
  "pt-BR": "Cada cliente verá seu método de pagamento preferido dentre os disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
  },
  "default": true
  },
  {
  "type": "checkbox",
  "id": "show_share_buttons",
  "label": {
  "de": "Buttons für Social Media anzeigen",
  "en": "Show social sharing buttons",
  "es": "Mostrar botones para compartir en redes sociales",
  "fr": "Affichez les boutons de partage sur les médias sociaux",
  "it": "Mostra i pulsanti per la condivisione sui social",
  "ja": "ソーシャル共有ボタンを表示する",
  "pt-BR": "Exibir botões de compartilhamento em redes sociais"
  },
  "default": true
  },
  {
  "type":"select",
  "id":"variant_style",
  "label":"Variant Style",
  "options" : [
  {
  "value":"dropdown",
  "label":"Dropdown"
  },
  {
  "value":"swatch",
  "label":"Swatch"
  }
  ],
  "default":"swatch"
  }
  ]
  }
  {% endschema %}
