<!-- /snippets/product-price.liquid -->
{%- liquid
  assign current_variant = product.selected_or_first_available_variant

  if block.settings.price_size
    assign price_size_class = block.settings.price_size | prepend: 'accent-size-'
    assign price_small_class = block.settings.price_size | minus: 1 | prepend: 'accent-size-'
  endif
-%}

<div class="product__block__price" style="--PB: {{ block.settings.padding_bottom }}px;" {{ block.shopify_attributes }}>
  <div class="product__price__wrap">
    <div class="product__price__main" data-price-wrapper>
      <span class="product__price {{ price_size_class }}">
        <span data-product-price {% if current_variant.compare_at_price > current_variant.price %} class="product__price--sale"{% endif %}>
          {%- if settings.currency_code_enable -%}
            {{ current_variant.price | money_with_currency }}
          {%- else -%}
            {{ current_variant.price | money }}
          {%- endif -%}
        </span>
      </span>

      <span data-price-off class="product__price--off hide">
        <span data-price-off-type>{{ 'products.product.sale' | t }}</span>
        <em>•</em>
        {{ 'products.product.save' | t }}
        <span data-price-off-amount></span>
      </span>

      {% liquid
        assign units = product.variants | map: 'unit_price' | compact
        if units[0]
          assign has_units = true
        else
          assign has_units = false
        endif
      %}
      {% if has_units %}
        {% capture show_units %}
          {%- unless current_variant.unit_price -%}style="display: none;"{%- endunless -%}
        {% endcapture %}
        {% capture unit_price_separator %}
          <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
        {% endcapture %}
        {% capture unit_price_base_unit %}
          <span>
            {% if current_variant.unit_price_measurement %}
              {% if current_variant.unit_price_measurement.reference_value != 1 %}
                {{ current_variant.unit_price_measurement.reference_value }}
              {%- endif -%}
              {{ current_variant.unit_price_measurement.reference_unit }}
            {% endif %}
          </span>
        {% endcapture %}
        <div class="product__price--unit {{ price_small_class }}">
          <span data-product-unit {{ show_units }}>
            <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
            <span data-product-unit-price id="unit-price-{{ block.id }}">
              {%- if settings.currency_code_enable -%}
                {{ current_variant.unit_price | money_with_currency }}
              {%- else -%}
                {{ current_variant.unit_price | money }}
              {%- endif -%}
            </span>
            {{ unit_price_separator }}
            <span data-product-base id="unit-price-base-{{ block.id }}">{{ unit_price_base_unit }}</span>
          </span>
          <span data-price-each class="hide">
            {{ 'products.product.each' | t }}
            <span data-price-each-amount></span>
          </span>
        </div>
      {% endif %}
    </div>
  </div>
</div>
