<section class="upcoming-tournaments">
    <div class="upcoming-tournaments__holder">
        <div class="upcoming-tournaments__header">
            <h2 class="upcoming-tournaments__heading">{{ section.settings.heading }}</h2>
            {% if section.settings.btn_text != blank %}
                <div class="upcoming-tournaments__button"><a class="button" href="{{ section.settings.btn_link }}">{{ section.settings.btn_text }}<svg class="button__icon" aria-hidden="true" role="img" focusable="false" width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.12252 3.4674L1.94252 0.287401C1.80169 0.145416 1.61 0.0655518 1.41002 0.0655518C1.21004 0.0655518 1.01834 0.145416 0.877518 0.287401C0.586726 0.579929 0.586726 1.05237 0.877518 1.3449L3.53252 3.9999L0.877518 6.6549C0.586726 6.94743 0.586726 7.41987 0.877518 7.7124C1.01906 7.85279 1.21067 7.93105 1.41002 7.9299C1.60937 7.93105 1.80098 7.85279 1.94252 7.7124L5.12252 4.5324C5.26451 4.39158 5.34437 4.19988 5.34437 3.9999C5.34437 3.79992 5.26451 3.60823 5.12252 3.4674Z" fill="currentColor"></path></svg></a></div> 
            {% endif %}
               
        </div>
            <div class="swiper mySwiper-old upcoming-tournaments__slider">
                <div class="swiper-wrappers">
                    {% assign selected_collection = collections[section.settings.collection] %}

                    {% for product in selected_collection.products %}
                        <div class="upcoming-tournaments__item swiper-slide" style="width: 378.788px; margin-right: 20px;">
                            <a class="upcoming-tournaments__item-link" href="{{ product.url }}">						
                                <figure class="upcoming-tournaments__item-media">
                                    <img decoding="async" src="{{ product.featured_image |  img_url: 'master' }}" class="upcoming-tournaments__item-img " alt="">
                                    {% comment %} <img decoding="async" src="https://www.ppatour.com/wp-content/uploads/2024/10/PPA-Vulcan-Orlando-Cup-Logo-scaled-1-254x240.webp" class="upcoming-tournaments__item-logo"> {% endcomment %}
                                </figure>
                                <div class="upcoming-tournaments__item-content">
                                    <div class="upcoming-tournaments__item-date">

                                    {{ product.created_at | date: "%m/%d/%Y" }}							
                                    </div>
                                    <h3 class="upcoming-tournaments__item-heading">{{ product.title }}</h3>
                                </div>
                            </a>
                        </div>   
                    {% endfor %}
                </div>
               
            </div>
    </div>
</section>

{% schema %}
{
    "name": "Tournament Block",
    "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "btn_text",
                "label": "Button Text"
            },
            {
                "type": "url",
                "id": "btn_link",
                "label": "Button Link"
            },
            {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
            }
        ],
        "blocks": [
                {
                "type": "Item",
                "name": "Slide",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading"
                    },
                    {
                        "type": "text",
                        "id": "date",
                        "label": "Date"
                    }
                ]
                }
            ],
        
        "presets": [
            {
                "name": "Tournament Block"
            }
        ]
}
{% endschema %} 