{%- liquid

  assign locale_selector = false
  assign country_selector = false

  if section.settings.show_country_selector and localization.available_countries.size > 1
    assign country_selector = true
  endif

  if section.settings.show_locale_selector and localization.available_languages.size > 1
    assign locale_selector = true
  endif

-%}
{% if locale_selector or country_selector %}
  {{ 'component-footer-disclosures.css' | asset_url | stylesheet_tag }}
{% endif %}

{% style %}
  #shopify-section-{{ section.id }} {
    color: {{ section.settings.color }};
    background: {{ section.settings.bg_color }};
  }
{% endstyle %}

<section class="footer-section footer-template" data-section-id="{{ section.id }}" data-section-type="footer-section">

  <div class="grid__wrapper">
    <ul id="footer_icons" class="span-12 auto">
      {% render 'social-icons', fill_color: 'var(--footer-icons)', wrapper: '.footer-section' %}
    </ul>
  </div>

  <div id="footer" class="grid__wrapper">
  {% for block in section.blocks %}
    <div class="block-{{ block.id }} footer-block footer-{{ block.type }} sm-span-12 auto">
      {% case block.type %}
      {% when 'menu' %}
        <h3 class="h4">{{ block.settings.title | escape }}</h3>
        <ul {{ block.shopify_attributes }}>
          {% for link in linklists[block.settings.footer_nav].links %}
            <li>{{ link.title | link_to: link.url }}</li>
          {% endfor %}
        </ul>
      {% when 'newsletter' %}
        <h3 class="h4">{{ block.settings.title | escape }}</h3>
        <div class="rte">
          {{ block.settings.mailing_subheading }}
        </div>
        <div id="footer_signup">
          {% form 'customer', id: "newsletterSignup" %}
            {%- if form.errors -%}
              <div class="note-error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}
            {% if form.posted_successfully? %}
              <p class="note-success success">{{ 'general.password_page.thanks' | t }}</p>
            {% else %}
              <input type="hidden" name="contact[tags]" value="prospect, newsletter">
              <label class="visually-hidden" for="footer-EMAIL">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
              <input type="email" name="contact[email]" id="footer-EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">
              <input type="submit" id="footer-subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
            {% endif %}
          {% endform %}
        </div>
      {% when 'text' %}
        <h3 class="h4">{{ block.settings.title | escape }}</h3>
        <div class="rte">
        {{ block.settings.footer_text }}
      </div>
      {% endcase %}
      {% assign frac = block.settings.column_size %}
      <style>
        @media screen and (min-width: 981px) {
          .block-{{ block.id }}.footer-block {
              grid-column: auto / span {{ frac }};
          }
        }
        @media screen and (min-width: 741px) and (max-width: 980px) {
          .block-{{ block.id }}.footer-block {
            grid-column: auto / span {{ frac | plus: 0 | times: 2 }};
          }
        }
        @media screen and (max-width: 740px) {
          .block-{{ block.id }}.footer-block {
            grid-column: auto / span 12;
          }
        }
      </style>
    </div>
  {% endfor %}
  </div>
  <div id="bottom-footer" class="sub-footer grid__wrapper">
    <div class="footer-left span-6 auto sm-span-12">
        {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
          <div class="footer__follow-on-shop">
            {{ shop | login_button: action: 'follow' }}
          </div>
        {%- endif -%} 
        <p>{% if section.settings.show_copyright %}<a href="{{ routes.root_url }}">&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}</a> • {% endif %}{{ powered_by_link }}</p>
    </div>
    <div id="payment" class="footer-right span-6 auto sm-span-12">
      {% if locale_selector or country_selector %}
        <div class="disclosures">
          <div class="selectors-form">
            {%- if locale_selector -%}
              <div class="selectors-form__item">
                <noscript>
                  {%-
                    form 'localization',
                    id: 'FooterLanguageFormNoScript',
                    class: 'localization-form selectors-form',
                    data-disclosure-form: ''
                  -%}
                    <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">
                      {{ 'general.currency.dropdown_label' | t }}
                    </h2>
                    <div class="selectors-form__select">
                      <select
                        name="locale_code"
                        class="localization-selector button"
                        aria-labelledby="FooterLanguageLabelNoScript"
                        aria-label="Choose language">
                        <option value="" disabled>{{ 'general.language.dropdown_label' | t }}</option>
                        {%- for language in localization.available_languages -%}
                          <option
                            value="{{ language.iso_code }}"
                            lang="{{ language.iso_code }}"
                            {%- if language.iso_code == localization.language.iso_code %}
                            selected
                            {% endif %}>
                            {{ language.endonym_name | capitalize }}
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'snip-icons',
                         type: 'apollo',
                         icon: 'down-carrot',
                         size: '8px',
                         fill: 'var(--footer-text)',
                         hover: 'var(--footer-background)' %}
                    </div><!-- /.selectors-form__select -->
                    <button class="localization-form__noscript-btn">
                      {% render 'snip-icons',
                         type: 'apollo',
                         icon: 'checkmark',
                         size: '12px',
                         fill: 'var(--footer-text)',
                         hover: 'var(--footer-background)' %}
                    </button>
                  {%- endform -%}
                </noscript>
                {%-
                  form 'localization',
                  id: 'FooterLanguageForm',
                  class: 'localization-form selectors-form',
                  data-disclosure-form: ''
                -%}
                <div class="disclosure" data-disclosure-locale>
                  <div class="no-js-hidden">
                    <h2 class="visually-hidden" id="FooterLanguageLabel">
                      {{ 'general.language.dropdown_label' | t }}
                    </h2>
                    <button
                      type="button"
                      class="disclosure__toggle"
                      aria-expanded="false"
                      aria-controls="FooterLanguageList"
                      aria-describedby="FooterLanguageLabel"
                      aria-label="Choose language"
                      data-disclosure-toggle>
                      {{ localization.language.endonym_name | capitalize }}
                      {% render 'snip-icons',
                         type: 'apollo',
                         icon: 'down-carrot',
                         size: '8px',
                         fill: 'var(--footer-text)',
                         hover: 'var(--footer-background)' %}
                    </button>
                    <ul id="FooterLanguageList" class="disclosure-list" data-disclosure-list>
                      {%- for language in localization.available_languages -%}
                        <li
                          class="disclosure-list__item {% if language.iso_code == localization.language.iso_code %}disclosure-list__item--current{% endif %}">
                          <a
                            class="disclosure-list__option"
                            href="#"
                            hreflang="{{ language.iso_code }}"
                            title="{{ language.endonym_name | capitalize }}"
                            lang="{{ language.iso_code }}"
                            {% if language.iso_code == localization.language.iso_code %}
                            aria-current="true"
                            {% endif %}
                            data-value="{{ language.iso_code | capitalize }}"
                            data-disclosure-option>
                            {{ language.endonym_name | capitalize }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                    <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}" data-disclosure-input/>
                  </div><!-- /.no-js-hidden -->
                </div><!-- /.disclosure -->
              {%- endform -%}
              </div><!-- /.selectors-form__item -->
            {%- endif -%}

            {%- if country_selector -%}
              <div class="selectors-form__item">

                <noscript>
                  {%-
                    form 'localization',
                    id: 'FooterCountryFormNoScript',
                    class: 'localization-form selectors-form',
                    data-disclosure-form: ''
                  -%}
                    <h2 class="visually-hidden" id="FooterCountryLabelNoScript">
                      {{ 'general.currency.dropdown_label' | t }}
                    </h2>
                    <div class="selectors-form__select">
                      <select
                        class="localization-selector button"
                        name="country_code"
                        aria-labelledby="FooterCountryLabelNoScript"
                        aria-label="Choose country">
                        <option value="" disabled>{{ 'general.currency.dropdown_label' | t }}</option>
                        {%- for country in localization.available_countries -%}
                          <option
                            value="{{ country.iso_code }}"
                            {%- if country.iso_code == localization.country.iso_code %}
                            selected
                            {% endif %}>
                            {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'snip-icons',
                         type: 'apollo',
                         icon: 'down-carrot',
                         size: '8px',
                         fill: 'var(--footer-text)',
                         hover: 'var(--footer-background)' %}
                    </div><!-- /.selectors-form__select -->
                    <button class="localization-form__noscript-btn">
                      {% render 'snip-icons',
                         type: 'apollo',
                         icon: 'checkmark',
                         size: '12px',
                         fill: 'var(--footer-text)',
                         hover: 'var(--footer-background)' %}
                    </button>
                  {% endform %}
                </noscript>
                {%-
                  form 'localization',
                  id: 'FooterCountryForm',
                  class: 'localization-form selectors-form',
                  data-disclosure-form: ''
                -%}
                <div class="disclosure" data-disclosure-country>
                  <div class="no-js-hidden">
                      <h2 class="visually-hidden" id="FooterCountryLabel">
                        {{ 'general.currency.dropdown_label' | t }}
                      </h2>
                      <button
                        type="button"
                        class="disclosure__toggle"
                        aria-expanded="false"
                        aria-controls="FooterCountryList"
                        aria-describedby="FooterCountryLabel"
                        aria-label="Choose country"
                        data-disclosure-toggle>
                        {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                        {% render 'snip-icons',
                           type: 'apollo',
                           icon: 'down-carrot',
                           size: '8px',
                           fill: 'var(--footer-text)',
                           hover: 'var(--footer-background)' %}
                      </button>
                      <ul
                        id="FooterCountryList"
                        class="disclosure-list"
                        data-disclosure-list>
                        {% for country in localization.available_countries %}
                          <li class="disclosure-list__item {% if country.iso_code == localization.country.iso_code %}disclosure-list__item--current{% endif %}">
                            <a
                              class="disclosure-list__option"
                              href="#"
                              title="{{ country.iso_code }}"
                              {% if country.iso_code == localization.country.iso_code %}
                              aria-current="true"
                              {% endif %}
                              data-value="{{ country.iso_code }}"
                              data-disclosure-option>
                              {{ country.name }} <span class="localization-form__currency">{{ country.currency.iso_code }} {{ country.currency.symbol }}</span>
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                      <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}" data-disclosure-input/>
                  </div><!-- /.no-js-hidden -->
                </div><!-- /.disclosure -->
                {% endform %}
              </div><!-- /.selectors-form__item -->
            {%- endif -%}
          </div><!-- /.selectors_form -->
        </div><!-- /.disclosures -->
      {% endif %}
      {% if section.settings.show_credit_cards %}
        <div class="payment-methods">
          {% for type in shop.enabled_payment_types %}
            {{ type | payment_type_svg_tag: class:'payment-icon' }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</section>




{% schema %}
{
  "name": "Footer",
  "max_blocks": 6,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_credit_cards",
      "label": "Show credit card icons",
      "default": true,
      "info": "The icons that show are determined by your store's payment settings."
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "Enable Follow on Shop",
      "info": "To allow customers to follow your store on the Shop app from your storefront, Shop Pay must be enabled. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)"
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "label": "Show site name and copyright",
      "default": true
    },
    {
      "type": "header",
      "content": "Language Selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/Region Selector",
      "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": true
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
    },
        {
              "type": "color",
              "id": "color",
              "label": "Text Color"
          }
  ],
  "blocks":[
    {
      "type":"menu",
      "name":"Menu",
      "settings":[
        {
          "type": "link_list",
          "id": "footer_nav",
          "label": "Choose a menu",
          "info":"This menu won't show dropdown items"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Explore"
        },
        {
          "type":      "range",
          "id":        "column_size",
          "min":       2,
          "max":       6,
          "step":      1,
          "label":     "Block size",
          "default":   2,
          "info": "Choose how many blocks this will fill (max 12 blocks per row)"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 2,
      "settings":[
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About"
        },
        {
          "id": "footer_text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Add some text to your footer.</p>"
        },
        {
          "type":      "range",
          "id":        "column_size",
          "min":       2,
          "max":       6,
          "step":      1,
          "label":     "Block size",
          "default":   2,
          "info": "Choose how many blocks this will fill (max 12 blocks per row)"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter signup",
      "limit": 1,
      "settings":[
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "connect"
        },
        {
          "type": "richtext",
          "id": "mailing_subheading",
          "label": "Subheading",
          "default": "<p>Join our mailing list for updates</p>"
        },
        {
          "type":      "range",
          "id":        "column_size",
          "min":       2,
          "max":       6,
          "step":      1,
          "label":     "Block size",
          "default":   2,
          "info": "Choose how many blocks this will fill (max 12 blocks per row)"
        }
      ]
	  }
  ]
}
{% endschema %}
