<section class="global__section logolist__section" data-section-id="{{ section.id }}" data-aos="{{ settings.scroll_animation }}">

  <div class="row">
  {% if section.settings.title != blank %}
     <div class="section-heading">
         <h2>{{ section.settings.title | escape }}</h2>
       <span class="section-border">
         {%- if settings.header_border_style == 'zigzag' -%}<div class="zigzag"></div>{% endif %}
       </span>
     </div>
    {% endif %}

    <div class="logolist__container grid__wrapper section-{{ section.id }}">
    {% for block in section.blocks %}
      <div class="logolist__section-column block-{{ block.id }}" data-block-type="{{ block.type }}" data-aos="{{ settings.scroll_animation }}" data-aos-delay="{{ forloop.index | times: 150  }}" {{ block.shopify_attributes }}>
        {% if block.settings.link != blank  %}<a href="{{ block.settings.link }}">{% endif %}
          <div class="logolist__column-image{% if block.settings.overlay %} overlay{% endif %}">
            {% if block.settings.image != blank %}
              {% render 'basic-responsive-image',
                type: block.settings.image,
                width: 400
               %}
            {% else %}
              <div class="onboard logolist__column-image">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            {% endif %}
          </div>
        {% if block.settings.link != blank %}</a>{% endif %}
      </div>
      {% endfor %}
    </div>
   </div>
  {% assign grid = section.settings.block_size %}

  <style>
    .logolist__container.grid__wrapper.section-{{ section.id }} {
      grid-template-columns: repeat({{ grid }}, 1fr);
      align-items: center;
      grid-gap: 30px;
    }
    @media screen and (max-width: 740px) {
      .logolist__container.grid__wrapper.section-{{ section.id }} {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
      }
    }
  </style>


</section>

{% schema %}
{
  "name": "Logo list",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured brands"
    },
    {
      "type":      "range",
      "id":        "block_size",
      "min":       3,
      "max":       6,
      "step":      1,
      "label":     "Blocks per row",
      "default":   6
    }
  ],
	"blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "220px x 120px recommended"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": [
      "404",
      "article",
      "blog",
      "cart",
      "collection",
      "index",
      "list-collections",
      "page",
      "product",
      "search",
      "customers/account"
    ],
    "groups": [
      "footer"
    ]
  },
  "presets": [
    {
      "name": "Logo list",
      "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
