{%- liquid

  if section.settings.parallax_scroll
    assign scale = '2'
  else
    assign scale = '0'
  endif

  assign caption_position = section.settings.caption_position
  assign background = section.settings.background
  assign color = section.settings.text_color
  assign height = section.settings.page_height
  assign button_text = section.settings.button_color
  assign button_background = section.settings.button_background

-%}
{% style %}
  #shopify-section-{{ section.id }}{
    --text-color: {{ color }}
    ;
    --section-background: {{ background }}
    ;
    --button-text: {{ button_text }}
    ;
    --button-color: {{ button_background }}
    ;
    --section-overlay-color: {{ section.settings.overlay_color | color_to_rgb | remove: 'rgb(' | remove: ')' }}
    ;
    --section-overlay-opacity: {{ section.settings.overlay_opacity | plus: 0 | divided_by: 100.0  }}
    ;
  }
  .parallax-{{ section.id }}.parallax__container {
    height: {{ height }}
    px;
    min-height: {{ height }}
    px;
  }
{% endstyle %}
<section
  id="product-image-overlay-block"
  class="global__section parallax-{{ section.id }} parallax{% if section.settings.no_bottom_margin %} mb0{% endif %}"
  data-section-type="parallax-section"
  data-scale="1.{{ scale }}"
  data-aos="{{ settings.scroll_animation }}"
  data-section-id="{{ section.id }}">
  <div class="row parallax__container">
    <div class="parralax__image">
      {% if section.settings.image != blank %}
        {% render 'basic-responsive-image', type: section.settings.image, width: 3000 %}
      {% endif %}
    </div>
    <div class="parallax__caption {{ caption_position }}">
      <div class="parallax__caption-text">
        {% unless section.settings.heading == blank %}
          <h2>{{ section.settings.heading | escape }}</h2>
        {% endunless %}
        {%- unless section.settings.subheading == blank -%}
          <div class="rte">
            {{ section.settings.subheading }}
          </div>
        {%- endunless -%}
        {% if section.settings.button_link != blank and section.settings.button_text != blank %}
          <div class="clear"></div>
          <a class="button" href="{{ section.settings.button_link }}">
            {{ section.settings.button_text | escape }}
          </a>
        {% endif %}
      </div>
    </div>
    {% if section.settings.image == blank %}
      <div class="onboard parallax__placeholder">
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {% endif %}
  </div>
</section>
<div class="clear"></div>
{% schema %}
  {
    "name": "Product Image overlay",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1920px x 1000px recommended"
      },
      {
        "type": "checkbox",
        "id": "parallax_scroll",
        "label": "Add parallax scrolling"
      },
      {
        "type": "range",
        "id": "page_height",
        "min": 200,
        "max": 800,
        "step": 100,
        "label": "Image height",
        "default": 500
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay color",
        "default": "#000000"
      }, {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Overlay opacity",
        "default": 0
      }, {
        "type": "header",
        "content": "Caption"
      }, {
        "type": "select",
        "id": "caption_position",
        "label": "Caption position",
        "default": "center",
        "options": [
          {
            "value": "top_left",
            "label": "Top left"
          },
          {
            "value": "bottom_left",
            "label": "Bottom left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "top_right",
            "label": "Top right"
          }, {
            "value": "bottom_right",
            "label": "Bottom right"
          }
        ]
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Image with text overlay"
      }, {
        "type": "richtext",
        "id": "subheading",
        "label": "Text",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      }, {
        "id": "button_text",
        "type": "text",
        "label": "Button text",
        "default": "Add a button",
        "info": "Visible only if a link is chosen"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#000"
      }, {
        "type": "color",
        "id": "button_color",
        "label": "Button text",
        "default": "#ffffff"
      }, {
        "type": "color",
        "id": "button_background",
        "label": "Button background",
        "default": "#000000"
      }, {
        "type": "color",
        "id": "background",
        "label": "Caption background",
        "default": "transparent"
      }, {
        "type": "checkbox",
        "id": "no_bottom_margin",
        "label": "Remove bottom margin",
        "default": false
      }
    ],
    "enabled_on": {
      "templates": [
        "404",
        "article",
        "blog",
        "cart",
        "collection",
        "index",
        "list-collections",
        "page",
        "product",
        "search",
        "customers/account"
      ]
    },
    "presets": [
      {
        "name": "Product Image overlay"
      }
    ]
  }
{% endschema %}