<!-- Sales Rep -->
{% if customer.tags contains "sales_rep" or customer.tags contains "pro_rep" %}
{% render 'hs-defer-css' with filename: 'https://sdks.shopifycdn.com/polaris/latest/polaris.css', pages: 'collection,index,product' | split: ',', minify: false, local: false %}
<div class="sr_account">
  {%include'SR_Dashboard'%}
  {%include'SR_PagesScriptCode'%}
</div>
<script src="{{ 'SalesRepJS.js' | asset_url }}"></script>
{% else %}
<!-- End of Sales Rep --><div class="page-width">
<div class="section-header text-center">
  <h1>{{ 'customer.account.title' | t }}</h1>
  {% if customer.first_name %}Hi, {{customer.first_name}}!<span style="display: inline-block; padding: 10px;"></span>  {% endif %}{{ 'layout.customer.log_out' | t | customer_logout_link }}
  <br><br>
  
  <a class="btn" href="/pages/track-my-order">Track My Order</a>
</div>

<div class="grid myaccount">
  <div class="grid__item myaccount__order-history">
    <h2>{{ 'customer.orders.title' | t }}</h2>

    {% paginate customer.orders by 20 %}
    {% if customer.orders.size != 0 %}

    <table class="responsive-table">
      <thead>
        <tr>
          <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
          <th scope="col">{{ 'customer.orders.date' | t }}</th>
          <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
          <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
          <th scope="col">{{ 'customer.orders.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
        <tr>
          <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
            <a href="{{ order.customer_url }}" class="" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
          </th>
          <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'month_day_year' }}</td>
          <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
          <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
          <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}

    <p>{{ 'customer.orders.none' | t }}</p>


    {% endif %}
    {% if paginate.pages > 1 %}
    {% include 'pagination' %}
    {% endif %}
    {% endpaginate %}
  </div>
  <div class="grid__item myaccount__account-details">
    <h2>{{ 'customer.account.details' | t }}</h2>

    {{ customer.default_address | format_address }}

    <p><a href="/account/addresses" class="btn btn--small">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
  </div>
</div>
</div>
<!-- Sales Rep Closing -->{% endif %}<!-- End Sales Rep Closing -->
