{% comment %} {% assign bg_image = section.settings.bg_image | default: 'https://cdn.shopify.com/s/files/1/0576/0057/3476/files/Group_2.webp?v=1727908139' %} {% endcomment %}

<div class="heading-banner" style="background-image: url({% if section.settings.bg_image != blank %}{{ section.settings.bg_image | img_url: 'master' }}{% else %}{{ 'default-banner-img.webp' | asset_url }}{% endif %});">
<div class="container">
    <div class="heading">
        <h1>{{ section.settings.heading }}</h1>
    </div>
    <div class="sub-heading" style="font-size: {{ section.settings.font_size }}px;">
        {{ section.settings.sub_heading }}
    </div>
    <div class="subtext">
        {{ section.settings.content }}
    </div>
</div>
<div class="overlay"></div>
</div>

{% schema %}
{
    "name": "Heading Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background Image"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "sub_heading",
            "label": "Heading"
        },
        {
            "type": "range",
            "id": "font_size",
            "label": "Heading",
            "default":30,
            "min": 0,
            "max": 60,
            "step": 1,
            "unit": "px"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        }
        ],
        "presets": [
            {
                "name": "Heading Banner"
            }
        ]
}
{% endschema %}