<section class="faq-block" style="background-image: url({{ section.settings.bg_image | img_url: 'master' }});">
<div class="wrap-faq-block">
    <div class="content-wrapper">
        <div class="left-column">
            <h2 class="heading">{{ section.settings.heading }}</h2>
            <div class="text">
                {{ section.settings.text }}
            </div>
    
            <a href="{{ section.settings.btn_link }}"><button class="button-label" style="background-image: url({{ 'button-bg.png' |  asset_url }});">{{ section.settings.btn_text }}</button></a>

        </div>
        <div class="right-column">
            <div class="accordion-box">
                {% for block in section.blocks %}
                    <div class="accordion">
                        <div class="accordion-head">
                            <h2 class="heading">{{ block.settings.heading }}</h2>
                            <div class="icon"></div>
                        </div>
                        <div class="accordion-body" >
                            <div class="text">
                              {{ block.settings.text }}
                            </div>
                        </div>
                    </div>        
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</section>



{% schema %}
    {
        "name": "Faqs Block",
        "settings": [
            
                {
                    "type": "image_picker",
                    "id": "bg_image",
                    "label": "Background Image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "url",
                    "id": "btn_link",
                    "label": "Button Link"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button Text"
                }
            ],
            "blocks": [
                    {
                    "type": "Icons",
                    "name": "Icons",
                    "settings": [
                      
                        {
                            "type": "text",
                            "id": "heading",
                            "label": "Heading"
                        },
                        {
                            "type": "richtext",
                            "id": "text",
                            "label": "Text"
                        }
                    ]
                    }
                ],
                "presets": [
                    {
                        "name": "Faqs Block"
                    }
                ]
    }
    {% endschema %}