<section class="organ-superfoods">
    <div class="wrap-organ-food-block">
        <h2 class="heading">{{ section.settings.heading }}</h2>
      
        <div class="slider-container">
            <div class="swiper s">
            <div class="swiper-wrappers">
             {% for block in section.blocks %}
            <div class="swiper-slide" style="background-image: url({{ 'slider-item-bg.png' |  asset_url }});">
                <div class="card">
                    <div class="title-icon">
                        <h3 class="title">{{ block.settings.title }}</h3> <div class="icon"><img src="{{ block.settings.icon |  img_url: 'master' }}" alt=""></div>
                    </div>
                
                    <div class="desciption">
                       {{ block.settings.description }}
                    </div>
                </div>
                <p class="highlight">{{ block.settings.highlight }}</p>
            </div>    
             {% endfor %}
            </div>

            <div class="arrow-nav-button-block">
                {% comment %} <div class="arrow-block">
                    <div class="swiper-button-prev">
                        <img src="{{ 'previous-icon.png' |  asset_url }}" alt="">
                    </div>
                    <div class="swiper-button-next">
                        <img src="{{ 'next-icon.png' |  asset_url }}" alt="">
                    </div>
                    
                </div> {% endcomment %}

                <a href="{{ section.settings.btn_link }}"><button class="button-label" style="background-image: url({{ 'button-bg.png' |  asset_url }});">{{ section.settings.btn_text }}</button></a>

            </div>
         
            </div>
        </div>
    
    </div>
   </section> 

   {% schema %}
    {
        "name": "Organ Superfoods Block",
        "settings": [
            
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                "type": "url",
                "id": "btn_link",
                "label": "Button Link"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button Text"
                }
            ],
            "blocks": [
                    {
                    "type": "items",
                    "name": "item",
                    "settings": [
                        {
                            "type": "text",
                            "id": "title",
                            "label": "Title"
                        },   
                        {
                            "type": "image_picker",
                            "id": "icon",
                            "label": "Icon"
                        },
                        {
                            "type": "richtext",
                            "id": "description",
                            "label": "Description"
                        },
                        {
                            "type": "text",
                            "id": "highlight",
                            "label": "Highlight Text"
                        }
                       
                    ]
                    }
                ],
                "presets": [
                    {
                        "name": "Organ Superfoods Block"
                    }
                ]
    }
    {% endschema %}