{% assign show_social_block = false %}
{% if
 settings.sm_facebook_link != blank or
 settings.sm_twitter_link != blank or
 settings.sm_instagram_link != blank or
 settings.sm_youtube_link != blank or
 settings.sm_vimeo_link != blank or
 settings.sm_tiktok_link != blank or
 settings.sm_pinterest_link != blank or
 settings.sm_snapchat_link != blank or
 settings.sm_houzz_link != blank or
 settings.sm_tumblr_link != blank or
 settings.sm_linkedin_link != blank
 %}
  {% assign show_social_block = true %}
{% endif %}


{% capture footer_col_style %}col-12  col-md-4 col-lg{% if section.settings.show_borders %}
    footer__cols-borders{% endif %}
{% endcapture %}

<footer
  class="footer"
  data-wetheme-section-type="footer"
  data-wetheme-section-id="{{ section.id }}">

  {% if section.settings.show_back_to_top %}
    <div class="container-xl">
      <div class="row justify-content-center{% if section.settings.show_borders %} footer__back-to-top-border{% endif%}">
        <a href="#theme-section-header" class="footer__back-to-top{% if section.settings.back_to_top_text == blank %} footer__back-to-top--chevron-only{% endif %}">
          <div class="footer__back-to-top-chevron--wrapper">
            <div class="footer__back-to-top-chevron">
              {% if section.settings.back_to_top_text == blank %}
                <span class="sr-only">Back to top</span>
              {% endif %}
            </div>
          </div>
          {% if section.settings.back_to_top_text != blank %}
            {{ section.settings.back_to_top_text }}
          {% endif %}
        </a>
      </div>
    </div>
  {% endif %}


  <div class="container">
    <div class="row">

      {% for block in section.blocks %}

        {% case block.type %}

          {% when 'menu' %}

            <div class="{{ footer_col_style }} footer__block-wrapper footer__block-type--menu" {{ block.shopify_attributes }}>
            {%- assign footer_linklist = block.settings.footer_linklist -%}
            <div class="{% if block.settings.menu_title != blank %} d-none d-md-block{% endif %}">
              {% unless block.settings.menu_title == blank %}
                <h3 class="type-subheading type-subheading--1">{{ block.settings.menu_title | escape }}</h3>
              {% endunless %}

              {% if linklists[footer_linklist].links.size > 0 %}
                <nav>
                  <ul class="{% if block.settings.menu_title == blank %}footer__block-heading-blank{% endif %}">
                    {% for link in linklists[footer_linklist].links %}
                      <li
                        {% if link.object.tags and link.object.tags.size > 0 %}
                        class="children"
                        {% endif %}>
                        <a href="{{link.url}}">{{ link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </nav>
              {% endif %}
            </div>

            {%- comment -%} MENU ITEMS EXPANDABLE ON MOBILE {%- endcomment -%}
            {% unless block.settings.menu_title == blank or linklists[footer_linklist].links.size == 0 %}
              <div class="footer__mobile-menu-expandable">

                <h3 class="type-subheading type-subheading--1">
                  <button
                    type="button"
                    aria-expanded="false"
                    class="footer__mobile-menu-toggle alt-focus">
                    {{ block.settings.menu_title | escape }}
                  </button>
                </h3>

                {% if linklists[footer_linklist].links.size > 0 %}
                  <nav>
                    <ul>
                      {% for link in linklists[footer_linklist].links %}
                        <li
                          {% if link.object.tags and link.object.tags.size > 0 %}
                          class="children"
                          {% endif %}>
                          <a href="{{link.url}}">{{ link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </nav>
                {% endif %}
              </div>
            {% endunless %}
          </div>

          {% when 'follow_on_shop' %}

            <div class="{{ footer_col_style }} footer__block-type--follow-on-shop footer__block-wrapper" {{ block.shopify_attributes }}>
              {% unless block.settings.title == blank %}
                <h3 class="type-subheading type-subheading--1">{{ block.settings.title | escape }}</h3>
              {% endunless %}
              {% if shop.features.follow_on_shop? %}
                <div class="footer__follow-on-shop{% if block.settings.title == blank %} footer__block-heading-blank{% endif %}">
                  {{ shop | login_button: action: 'follow' }}
                </div>
              {% endif %}
            </div>

          {% when 'text' %}

          <div class="{{ footer_col_style }} footer__block-type--text footer__block-wrapper" {{ block.shopify_attributes }}>
            {% unless block.settings.title == blank %}
              <h3 class="type-subheading type-subheading--1">{{ block.settings.title | escape }}</h3>
            {% endunless %}
            <div class="rte footer__block-text{% if block.settings.title == blank %} footer__block-heading-blank{% endif %}">{{ block.settings.contact_content }}</div>
          </div>

          {% when 'newsletter' %}

          <div class="{{ footer_col_style }} footer__block-type--newsletter footer__block-wrapper" {{ block.shopify_attributes }}>
            {% unless block.settings.menu_title == blank %}
              <h3 class="type-subheading type-subheading--1">{{ block.settings.menu_title | escape }}</h3>
            {% endunless %}
            {% if block.settings.footer_newsletter_description != empty %}
              <div class="rte footer__block-text{% if block.settings.menu_title == blank %} footer__block-heading-blank{% endif %}">{{ block.settings.footer_newsletter_description }}</div>
            {% endif %}

            {% render 'newsletter-form', form_id: 'newsletter_footer_form' %}

          </div>

          {% when 'social' %}

          {% if show_social_block %}
            <div class="{{ footer_col_style }} footer__block-wrapper footer__block-type--social-media" {{ block.shopify_attributes }}>
              {% unless block.settings.menu_title == blank %}
                <h3 class="type-subheading type-subheading--1">{{ block.settings.menu_title | escape }}</h3>
              {% endunless %}
              <div class="footer__social-icons {%if block.settings.menu_title == blank %} footer__block-heading-blank{% endif %}">
                {% render 'social-links' %}
              </div>
            </div>
          {% endif %}

          {% when 'image' %}

          <div class="{{ footer_col_style }} footer__image-id--{{ block.id }} footer__block-type--logo footer__block-wrapper" {{ block.shopify_attributes }}>

            {%- assign img_url = block.settings.image -%}

            {% if img_url != blank %}
              <div class="image-bar__item">
              {% endif %}

              {% capture image_width %}
                {{ block.settings.image_max_width }}{% endcapture %}
              {% capture image_opacity %}
                {{ block.settings.image_opacity }}{% endcapture %}
              <div class="image-bar__content" style="width: {{ image_width }}%; opacity: {{ image_opacity }}%;">
                {% if img_url == blank %}
                  {{ 'image' | placeholder_svg_tag: 'icon--placeholder' }}
                {% else %}
                  {% capture image_styles %}max-width: {{ block.settings.image.width }}px;{% endcapture %}
                  {% capture alt %}
                    {{ block.settings.image.alt }}{% endcapture %}
                  {% render 'responsive-image' with block.settings.image, blur: 'center', styles: image_styles, alt: alt %}
                {% endif %}
              </div>

              {% if img_url != blank %}
              </div>
            {% endif %}

        {%- assign logo_text = block.settings.logo_description -%}
            {% if logo_text != blank %}
              <div class="logo-content__item">
              {{ block.settings.logo_description }}
              </div>
              {% endif %}

          </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</footer>

<script>


</script>

{% schema %}
  {
    "name": {
      "en": "Footer main"
    },
    "max_blocks": 10,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_back_to_top",
        "label": {
          "en": "Enable “back to top”",
          "de": "Zurück zum Anfang“ aktivieren",
          "es": "Activar 'volver al inicio'",
          "fr": "Activer le « Retour en haut de page »",
          "pt-PT": "Ativar “voltar ao início”"
        },
        "default": true
      }, {
        "type": "text",
        "id": "back_to_top_text",
        "label": {
          "en": "“Back to top” message",
          "de": "Hinweis „Zurück zum Anfang“",
          "es": "Mensaje 'volver al inicio'",
          "fr": "Message de « Retour en haut de page »",
          "pt-PT": "Mensagem para “Voltar ao início”"
        },
        "default": {
          "en": "Back to top",
          "de": "Zurück zum Anfang",
          "es": "Volver al inicio",
          "fr": "Retour en haut de page",
          "pt-PT": "Voltar ao início"
        }
      }, {
        "type": "checkbox",
        "id": "show_borders",
        "label": {
          "en": "Show borders",
          "de": "Grenzen anzeigen",
          "es": "Mostrar bordes",
          "fr": "Afficher les bordures",
          "pt-PT": "Mostrar margens"
        },
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": {
          "en": "Text",
          "de": "Text",
          "es": "Texto",
          "fr": "Texte",
          "pt-PT": "Texto"
        },
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Heading",
              "de": "Überschrift",
              "es": "Encabezado",
              "fr": "Rubrique",
              "pt-PT": "Título"
            },
            "default": {
              "en": "Contact us",
              "de": "Kontaktieren Sie uns",
              "es": "Contacto",
              "fr": "Contactez-nous",
              "pt-PT": "Contacte-nos"
            }
          }, {
            "type": "html",
            "id": "contact_content",
            "label": {
              "en": "Text",
              "de": "Text",
              "es": "Texto",
              "fr": "Texte",
              "pt-PT": "Texto"
            },
            "default": {
              "en": "<p>Share store details, promotions, or brand content with your customers.</p>",
              "de": "<p>Teilen Sie Einzelheiten zum Store, Werbeaktionen oder Markeninhalte mit Ihren Kunden.</p>",
              "es": "<p>Comparta detalles de la tienda, promociones o contenido de la marca con sus clientes.</p>",
              "fr": "<p>Partagez les détails du magasin, les promotions ou le contenu de la marque avec vos clients. </p>",
              "pt-PT": "<p>Partilhe detalhes, promoções ou conteúdo da marca da loja com os seus clientes.</p>"
            }
          }
        ]
      },
      {
        "type": "menu",
        "name": {
          "en": "Menu",
          "de": "Menü",
          "es": "Menú",
          "fr": "Menu",
          "pt-PT": "Menu"
        },
        "settings": [
          {
            "type": "text",
            "id": "menu_title",
            "label": {
              "en": "Heading",
              "de": "Überschrift",
              "es": "Encabezado",
              "fr": "Rubrique",
              "pt-PT": "Título"
            },
            "default": {
              "en": "Links",
              "de": "Links",
              "es": "Enlaces",
              "fr": "Liens",
              "pt-PT": "Ligações"
            }
          }, {
            "type": "link_list",
            "id": "footer_linklist",
            "label": {
              "en": "Menu",
              "de": "Menü",
              "es": "Menú",
              "fr": "Menu",
              "pt-PT": "Menu"
            },
            "default": "footer"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": {
          "en": "Newsletter",
          "de": "Newsletter",
          "es": "Boletín de noticias",
          "fr": "Bulletin d'information",
          "pt-PT": "Newsletter"
        },
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "menu_title",
            "label": {
              "en": "Heading",
              "de": "Überschrift",
              "es": "Encabezado",
              "fr": "Rubrique",
              "pt-PT": "Título"
            },
            "default": {
              "en": "Join our mailing list",
              "de": "Melden Sie sich bei unserer Mailingliste an",
              "es": "Únase a nuestra lista de correo electrónico",
              "fr": "Inscrivez-vous à notre liste d'envoi",
              "pt-PT": "Aderir à nossa Lista de E-mails"
            }
          }, {
            "type": "richtext",
            "id": "footer_newsletter_description",
            "label": {
              "en": "Newsletter description",
              "de": "Newsletter-Beschreibung",
              "es": "Descripción del boletín de noticias",
              "fr": "Description du bulletin d'information",
              "pt-PT": "Descrição da newsletter"
            }
          }
        ]
      },
      {
        "type": "social",
        "name": {
          "en": "Social icons",
          "de": "Soziale Symbole",
          "es": "Iconos de redes sociales",
          "fr": "Icônes sociales",
          "pt-PT": "Ícones sociais"
        },
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "menu_title",
            "label": {
              "en": "Heading",
              "de": "Überschrift",
              "es": "Encabezado",
              "fr": "Rubrique",
              "pt-PT": "Título"
            },
            "default": {
              "de": "Bleiben Sie auf dem Laufenden",
              "en": "Get connected",
              "es": "Conectarse",
              "fr": "Restez en contact",
              "pt-PT": "Fique Ligado"
            }
          }, {
            "type": "paragraph",
            "content": {
              "en": "Edit your social settings and accounts in Theme settings",
              "de": "Bearbeiten Sie Ihre sozialen Einstellungen und Konten in den Theme-Einstellungen.",
              "es": "Edite sus ajustes de redes sociales y cuentas en la configuración del tema",
              "fr": "Modifiez les paramètres de vos médias sociaux et de vos comptes dans les paramètres du Thème",
              "pt-PT": "Edite as suas configurações e contas sociais nas configurações do Tema"
            }
          }
        ]
      }, {
        "type": "image",
        "name": {
          "en": "Logo",
          "de": "Logo",
          "es": "Logotipo",
          "fr": "Logo",
          "pt-PT": "Logótipo"
        },
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": {
              "en": "Logo",
              "de": "Logo",
              "es": "Logotipo",
              "fr": "Logo",
              "pt-PT": "Logótipo"
            }
          },
          
          {
            "type": "range",
            "id": "image_max_width",
            "min": 20,
            "max": 100,
            "step": 5,
            "unit": {
              "en": "%",
              "de": "%",
              "es": "%",
              "fr": "%",
              "pt-PT": "%"
            },


            "label": {
              "en": "Preferred width",
              "de": "Bevorzugte Breite",
              "es": "Ancho preferido",
              "fr": "Largeur préférée",
              "pt-PT": "Largura preferida"
            },
            "default": 80
          },
          {
            "type": "range",
            "id": "image_opacity",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": {
              "en": "%",
              "de": "%",
              "es": "%",
              "fr": "%",
              "pt-PT": "%"
            },
            "label": {
              "en": "Opacity",
              "de": "Deckkraft",
              "es": "Opacidad",
              "fr": "Opacité",
              "pt-PT": "Opacidade"
            },
            "default": 100
          },
           {
            "type": "richtext",
            "id": "logo_description",
            "label": {
              "en": "Text",
              "de": "Text",
              "es": "Texto",
              "fr": "Texte",
              "pt-PT": "Texto"
            }
           }
        ]
      },
      {
        "type": "follow_on_shop",
        "name": "Follow on Shop",
        "limit": 1,
        "settings": [
            {
                "type": "paragraph",
                "content": "Display follow button for your storefront on the Shop app. [Learn more](https://help.shopify.com/en/manual/online-store/themes/customizing-themes/follow-on-shop)"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Follow us on the Shop app"
            }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "text"
        }, {
          "type": "menu"
        }, {
          "type": "newsletter"
        }, {
          "type": "social"
        }
      ]
    }
  }
{% endschema %}