<style>
.footer-bottom{

  /* background-color: {{ section.settings.footerBottom--background-color }}; */
}
</style>

<div class="footer-bottom">
  <div class="container">
    <div class="footer-bottom__row">
      <div>
        <div class="footer-bottom__localization-forms {% unless section.settings.show_methods_of_payment %} payment-methods-disabled{% endunless %}">
          {% render 'localization-form' with show_currency_selector: section.settings.show_currency_selector, show_locale_selector: section.settings.show_locale_selector %}
        </div>

        {% if section.settings.show_methods_of_payment %}
          {% unless shop.enabled_payment_types == empty %}
            <ul id="footer-payment-methods" class="inline-list footer-bottom__payment-icons">
              {% for type in shop.enabled_payment_types %}
                <li>{{ type | payment_type_svg_tag: class: 'payment-icon' }}</li>
              {% endfor %}
            </ul>
          {% endunless %}
        {% endif %}
      </div>

      <div class="footer-bottom__copyright">
        <p>
          <a href="{{ routes.root_url }}">&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": {
      "en": "Footer bottom"
    },
    "settings": [
       {
        "type": "color",
        "id": "footerBottom--background-color",
        "label":  "Section background",
        "default" : "#2D2D2D"
        },
      {
        "type": "checkbox",
        "id": "show_methods_of_payment",
        "label": {
          "en": "Show payment icons",
          "de": "Zahlungssymbole anzeigen",
          "es": "Mostrar los íconos de pago",
          "fr": "Afficher les icônes de paiement",
          "pt-PT": "Mostrar os ícones de pagamento"
        },
        "default": true
      },
      {
        "type": "header",
        "content": {
          "en": "Country\/region selector",
          "de": "Auswahl für Land\/Region",
          "es": "Selector de país\/región",
          "fr": "Sélecteur de pays\/région",
          "pt-PT": "Seletor de país\/região"
        },
        "info": {
          "en": "To add a country\/region, go to your [market settings.](\/admin\/settings\/markets)",
          "de": "Gehe zu den [Markteinstellungen](\/admin\/settings\/markets), um ein Land \/ eine Region hinzuzufügen.",
          "es": "Para agregar un país\/región, ve a tu [configuración de mercado.](\/admin\/settings\/markets)",
          "fr": "Pour ajouter un pays\/une région, allez à vos [paramètres du marché.](\/admin\/settings\/markets)",
          "pt-PT": "Para adicionar um país\/região, vá a [configurações de mercado.](\/admin\/settings\/markets)"
        }
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": {
          "en": "Enable country\/region selector",
          "de": "Auswahl für Land\/Region aktivieren",
          "es": "Activar selector de país\/región",
          "fr": "Activer le sélecteur de pays\/région",
          "pt-PT": "Ativar seletor de país\/região"
        },
        "default": true
      },
      {
        "type": "header",
        "content": {
          "en": "Language selector",
          "de": "Sprachauswahl",
          "es": "Selector de idioma",
          "fr": "Sélecteur de langue",
          "pt-PT": "Seletor de idioma"
        },
        "info": {
          "en": "To add a language, go to your [language settings.](\/admin\/settings\/languages)",
          "de": "Gehe zu den [Spracheinstellungen](\/admin\/settings\/languages), um eine Sprache hinzuzufügen.",
          "es": "Para agregar un idioma, ve a tu [configuración de idiomas.](\/admin\/settings\/languages)",
          "fr": "Pour ajouter une langue, allez à vos [paramètres de langue.](\/admin\/settings\/languages)",
          "pt-PT": "Para adicionar um idioma, vá a [definições de idioma.](\/admin\/settings\/languages)"
        }
      }, {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": {
          "en": "Enable language selector",
          "de": "Sprachauswahl aktivieren",
          "es": "Activar selector de idioma",
          "fr": "Activer le sélecteur de langue",
          "pt-PT": "Ativar seletor de idioma"
        },
        "default": true
      }
    ]
  }
{% endschema %}