{{ 'section-store-availability.min.css' | asset_url | stylesheet_tag }}
{{ 'template--pastry-product.css' | asset_url | stylesheet_tag }}
{{ 'custom-subscription-app.css' | asset_url | stylesheet_tag }}

{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.image | default: product.featured_image -%}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}

{% assign sold_out = false %}


<div itemtype="http://schema.org/Product" itemscope>
  <meta itemprop="name" content="{{ product.title }}{% unless current_variant.title == 'Default Title' %} - {{ current_variant.title }}{% endunless %}" />
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}" />
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}" />
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <div itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
    <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
    <meta itemprop="availability" content="{% if product.available %}InStock{% else %}OutOfStock{% endif %}" />
    <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
    <meta itemprop="price" content="{{ current_variant.price | money_without_currency }}" />
  </div>
  <meta itemprop="sku" content="{{ current_variant.sku }}" />
  <div itemprop="brand" itemtype="http://schema.org/Brand" itemscope>
    <meta itemprop="name" content="{{ product.vendor }}" />
  </div>
</div>

{%- assign product_image_width = 6 -%}
{%- assign product_description_width = 6 -%}

<div class=" pastry-product-Outer" style="background-color: {{ section.settings.secondSection--background-color }};">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <nav class="breadcrumb" aria-label="breadcrumbs">
        <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.back_home' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

          {% if collection.url %}
            <span aria-hidden="true">&rsaquo;</span>
              {{ collection.title | link_to: collection.url }}
          {% endif %}
          <span aria-hidden="true">&rsaquo;</span>
          <span>{{ product.title }}</span>
      </nav> -->
    </div>
  </div>

  {% capture thumbnails %}
    
  <div class="product-single__thumbnails product-single__thumbnails--below product-page--thumb-slider
    {% if product.media.size <= 4 %} no-arrows{% endif %}
    horizontal">
    {% if product.media.size > 0 %}
      
      <div class="thumbs-direction-nav">
        <a class="thumbs-direction-nav--prev" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
        </a>
      </div>
      <div class="swiper-container"
        data-direction="horizontal"
        data-slides-per-view="11"
      >
        <div class="swiper-wrapper">
          {% assign featured_media = current_variant.featured_media | default: product.featured_media %}
          {% render 'product-media', product: product, section_id: section.id, featured_media_id: featured_media.id, enable_image_zoom: section.settings.enable_zoom, enable_video_loop: section.settings.enable_video_loop, autoplay:false %}
        </div>
      </div>
      <div class="thumbs-direction-nav">
        <a class="thumbs-direction-nav--next" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </a>
      </div>
      <div class="swiper-pagination"></div>
    {% endif %}
  </div>
  {% endcapture %}


  <div class="row align-items-center" id="product-box-bottom" data-section-id="{{ section.id }}" data-wetheme-section-type="template--product" data-wetheme-section-id="{{ section.id }}" {% if section.settings.image_display == 'full-size' %} data-media-size="fullsize"{% endif %} data-selected-variant="{{ product.selected_or_first_available_variant.id }}"{% if current_variant.available %}data-instock="true"{% endif %}>
    <div class="product-medias col-12 col-lg-{{ product_image_width }}{% if section.settings.image_display == 'full-size' %} product-medias--full-size{% endif %}" data-media-col>
      <div class="product-mediasInnerColumnwrap">
      <input type="hidden" id="thumbnail_changes_variant" value="{% if section.settings.thumbnail_changes_variant %}true{% else %}false{% endif %}" />

      

      <div class="product-single__medias">
        {% comment %}Medias for thumbnails will go here on desktop{% endcomment %}
        {% if product.media.size == 0 %}
          {{ 'product-1' | placeholder_svg_tag: 'icon--placeholder' }}
        {% endif %}
      </div>

      {{ thumbnails }}

      {% if section.settings.image_display == 'full-size' %}
        <div class="product-media--full-size">{% comment %}Full size secondary media will go here on desktop{% endcomment %}</div>
      {% endif %}
      </div>
      
    </div>

   
        <div class="col-12 col-lg-{{ product_description_width }}" data-form-col>
          <section class="entry-content product-description-main-wrapper variant-dropdown-enabled{% if settings.enable_store_pickup %} store-pickup-enabled{% endif %}">
      
      
              <div class="product-info-wrapper">
                {% for block in section.blocks %}
                  {% case block.type %}
                   
                    {% when 'product-title' %}
                      {% comment %}
                        <h1 class="custom-font product-description-header" {{ block.shopify_attributes }}>{{ product.title }}</h1>
                      {% endcomment %}
              
                       <h2 class="sectionHeading" {{ block.shopify_attributes }}>{{ product.title }}</h2>
      
                     
                      {% when 'product-description' %}
      
                        <div class="product-description-wrapper" {{ block.shopify_attributes }}>
                         <p>{{ product.description }}</p>
                        </div>
      
                     
                   
      
                  {% endcase %}
                {% endfor %}
              </div>
      
       
      
        
          </section>
        </div>
      
        {% unless product == empty %}
          <script type="application/json" class="product-json">
            {{ product | json }}
          </script>
        {% endunless %}
      </div>
      </div>
</div>


<div class="sepratorOuter position-relative">
  <div class="bottomSectionImage position-absolute"> <img class="" alt="" src="//thepastryproject.myshopify.com/cdn/shop/files/cookie_1.png?v=1692867834" loading="lazy" height="195" width="195"></div>
</div>



<style>
  @media (min-width: 769px) {
    .product-description-main-wrapper {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
</style>




  
 

{% schema %}
 
{
  "name": {
    "en": "Product pages",
    "de": "Produktseiten",
    "es": "Páginas de producto",
    "fr": "Pages des produits",
    "pt-PT": "Páginas de produtos"
  },
    "settings": [
        {
        "type": "color",
        "id": "topSection--background-color",
        "label":  "Top section background",
        "default" : "#2D2D2D"
        },

       {
        "type": "color",
        "id": "secondSection--background-color",
        "label":  "Second section background",
        "default" : "#2D2D2D"
        },

  
      {
        "type": "checkbox",
        "id": "show_out_of_stock_email",
        "label": {
            "en": "Enable out of stock email",
            "de": "Die E-Mail \"Nicht lieferbar\" aktivieren",
            "es": "Habilitar correo electrónico agotado",
            "fr": "Activer le courriel Rupture de stock",
            "pt-PT": "Ativar e-mail de esgotado"
        },
        "default": true
      },
      {
        "type": "radio",
        "id": "out_of_stock_email_position",
        "label": {
          "en": "Out of stock form position"
        },
        "default": "below-details",
        "options": [
            {
              "value": "above-details",
              "label": {
                "en": "Above product details"
              }
            },
            {
              "value": "below-details",
              "label": {
                "en": "Below product details"
              }
            }
        ]
      },
      {
        "type": "header",
        "content": {
          "en": "Variants",
          "de": "Varianten",
          "es": "Variantes",
          "fr": "Variantes",
          "pt-PT": "Variantes"
        }
      },
      {
        "type": "checkbox",
        "id": "hide_out_of_stock",
        "label": {
          "en": "Hide out of stock variants",
          "de": "Nicht lieferbare Varianten verbergen",
          "es": "Ocultar las variantes en el stock",
          "fr": "Masquer les variantes en rupture de stock",
          "pt-PT": "Ocultar variantes em falta"
        },
        "default": false,
        "info": {
          "en": "Hide variants that are out of stock when there's one variant set",
          "de": "Nicht lieferbare Varianten verbergen, wenn eine Variante eingestellt ist",
          "es": "Oculta las variantes que no están disponibles en el stock cuando hay un grupo de variaciones",
          "fr": "Masquer les variantes en rupture de stock lorsqu'il n'y a qu'un seul ensemble de variantes.",
          "pt-PT": "Ocultar variantes em falta quando houver uma variante definida"
        }
      },
      {
        "type": "checkbox",
        "id": "thumbnail_changes_variant",
        "label": {
          "en": "Change variant based on the thumbnail",
          "de": "Variante basierend auf Thumbnail verändern",
          "es": "Cambiar variante en base a la imagen en miniatura",
          "fr": "Modifier la variante en fonction de la vignette",
          "pt-PT": "Alterar base da variante na imagem em miniatura"
        },
        "default": false,
        "info": {
          "en": "Does not apply to full width secondary images",
          "de": "Gilt nicht für Sekundärbilder in voller Breite",
          "es": "No se aplica a imágenes secundarias de ancho completo",
          "fr": "Ne s'applique pas aux images secondaires en pleine largeur",
          "pt-PT": "Não se aplica a imagens secundárias de largura total"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Media",
          "de": "Medien",
          "es": "Medios de comunicación",
          "fr": "Médias",
          "pt-PT": "Multimédia"
        },
        "info": {
          "en": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)",
          "de": "Mehr Informationen über [Medientypen ](https://help.shopify.com/manual/products/product-media)",
          "es": "Más información sobre [tipos de archivos multimedia](https://help.shopify.com/manual/products/product-media)",
          "fr": "En savoir plus sur les [types de supports multimédia](https://help.shopify.com/manual/products/product-media)",
          "pt-PT": "Saiba mais sobre [media types](https://help.shopify.com/manual/products/product-media)"
        }
      },
      {
        "type": "radio",
        "id": "image_display",
        "label": {
          "en": "Secondary media display",
          "de": "Sekundäre Mediendarstellung",
          "es": "Visualización de medios secundarios",
          "fr": "Affichage des médias secondaires",
          "pt-PT": "Exibição de media secundária"
        },
        "options": [
          {
            "value": "full-size",
            "label": {
              "en": "Full size",
              "de": "Vollständige Größe",
              "es": "Tamaño completo",
              "fr": "Pleine grandeur",
              "pt-PT": "Tamanho completo"
            }
          },
          {
            "value": "thumbnails",
            "label": {
              "en": "Thumbnails",
              "de": "Thumbnails",
              "es": "Imagen en miniatura",
              "fr": "Vignettes",
              "pt-PT": "Miniaturas"
            }
          }
        ],
        "default": "thumbnails"
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": {
          "en": "Enable image zoom",
          "de": "Bildzoom aktivieren",
          "es": "Habilitar zoom sobre la imagen",
          "fr": "Activer le zoom de l'image",
          "pt-PT": "Ativar zoom de imagem"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_video_loop",
        "label": {
          "de": "Videschleife aktivieren",
          "en": "Enable video looping",
          "es": "Habilitar la reproducción de video en bucle",
          "fr": "Activer le bouclage de la vidéo",
          "pt-PT": "Ativar ciclo de vídeo"
        },
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "name": "Product Vendor/SKU",
        "type": "vendor-sku",
        "limit": 1,
        "settings": [
          {
            "id": "show_vendor",
            "type": "checkbox",
            "default": false,
            "label": "Show vendor"
          },
          {
            "id": "show_sku",
            "type": "checkbox",
            "default": false,
            "label": "Show SKU"
          }
        ]
      },
      {
        "name": "Product title",
        "type": "product-title",
        "limit": 1,
        "settings": [
        ]
      },
      {
        "name": "Product price",
        "type": "product-price",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "show_discount",
            "label": {
              "en": "Show savings tag",
              "de": "Spar-Tag anzeigen",
              "es": "Mostrar etiqueta de ahorros",
              "fr": "Afficher l'étiquette de réduction",
              "pt-PT": "Mostrar etiqueta de poupanças"
            },
            "options": [
              {
                "value": "hide",
                "label": {
                  "en": "Hide",
                  "de": "Verbergen",
                  "es": "Ocultar",
                  "fr": "Cacher",
                  "pt-PT": "Ocultar"
                }
              },
              {
                "value": "percentage",
                "label": {
                  "en": "Percentage",
                  "de": "Prozentsatz",
                  "es": "Porcentaje",
                  "fr": "Pourcentage",
                  "pt-PT": "Percentagem"
                }
              },
              {
                "value": "value",
                "label": {
                  "en": "Value",
                  "de": "Wert",
                  "es": "Valor",
                  "fr": "Valeur",
                  "pt-PT": "Valor"
                }
              }
            ],
            "default": "hide",
            "info": {
              "en": "Discounts will only be shown on variants that are on sale",
              "de": "Rabatte werden nur auf Varianten angezeigt, die im Angebot sind",
              "es": "Los descuentos solo se mostrarán en las variantes que están de oferta.",
              "fr": "Les remises ne s'appliqueront qu'aux variantes en vente.",
              "pt-PT": "Os descontos apenas serão exibidos em variantes que estejam à venda"
            }
          },
          {
            "type": "checkbox",
            "id": "tax_included",
            "label": {
                "en": "Show 'tax included' message",
                "de": "Nachricht \"Steuer enthalten\" anzeigen",
                "es": "Mostrar mensaje \"impuesto incluido\"",
                "fr": "Afficher le message « taxe incluse »",
                "pt-PT": "Mostrar mensagem de 'impostos incluídos'"
            },
            "default": true
          },
          {
            "type": "checkbox",
            "id": "shipping_policy",
            "label": {
                "en": "Show shipping policy link",
                "de": "Link zur Versandrichtlinie anzeigen",
                "es": "Mostrar enlace de política de envío",
                "fr": "Afficher le lien de la politique d'expédition",
                "pt-PT": "Mostrar hiperligação da política de envios"
            },
            "default": true
          }
        ]
      },
      {
        "name": "Product options",
        "type": "product-options",
        "limit": 1
      },
      {
        "name": "Quantity selector",
        "type": "quantity-selector",
        "limit": 1
      },
      {
        "name": "Payment buttons",
        "type": "payment-buttons",
        "limit": 1,
        "settings": [
          {
              "type": "checkbox",
              "id": "show_smart_checkout",
              "label": {
                  "en": "Show dynamic checkout button",
                  "de": "Dynamischen Bezahlbutton anzeigen",
                  "es": "Mostar el botón de compra dinámica",
                  "fr": "Afficher le bouton de paiement dynamique",
                  "pt-PT": "Mostrar botão de checkout dinâmico"
              },
              "default": true,
              "info": {
                  "en": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
                  "de": "Lässt Kunden direkt unter Verwendung einer bekannten Zahlungsmethode bezahlen. [Mehr erfahren](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
                  "es": "Permita a los clientes finalizar su compra directamente utilizando un método de pago que les sea familiar. [Aprenda más](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
                  "fr": "Permet aux clients de payer directement en utilisant un mode de paiement familier. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
                  "pt-PT": "Permita que os clientes façam checkout diretamente utilizando um método de pagamento familiar. [Saber mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
              }
          },
          {
            "type": "checkbox",
            "id": "show_gift_card_recipient",
            "default": false,
            "label": {
                "en": "Show recipient information form for gift card products",
                "de": "Empfängerinformationen für Geschenkkartenprodukte anzeigen",
                "es": "Mostrar formulario de información del destinatario para productos de tarjetas de regalo",
                "fr": "Afficher le formulaire d'informations sur le destinataire pour les produits de cartes-cadeaux",
                "pt-PT": "Mostrar formulário de informações do destinatário para produtos de cartões de oferta"
            },
            "info": {
                "en": "Gift card products can optionally be sent direct to a recipient along with a personal message. [Learn more](https:\/\/help.shopify.com\/manual\/online-store\/themes\/customizing-themes\/add-gift-card-recipient-fields)",
                "de": "Geschenkkartenprodukte können optional zusammen mit einer persönlichen Nachricht direkt an einen Empfänger gesendet werden. [Mehr erfahren](https:\/\/help.shopify.com\/manual\/online-store\/themes\/customizing-themes\/add-gift-card-recipient-fields)",
                "es": "Los productos de tarjetas de regalo se pueden enviar opcionalmente directamente a un destinatario junto con un mensaje personal. [Saber más](https:\/\/help.shopify.com\/manual\/online-store\/themes\/customizing-themes\/add-gift-card-recipient-fields)",
                "fr": "Les produits de cartes-cadeaux peuvent être envoyés directement à un destinataire avec un message personnel. [En savoir plus](https:\/\/help.shopify.com\/manual\/online-store\/themes\/customizing-themes\/add-gift-card-recipient-fields)",
                "pt-PT": "Os produtos de cartões de oferta podem ser enviados diretamente para um destinatário, juntamente com uma mensagem pessoal. [Saber Mais](https:\/\/help.shopify.com\/manual\/online-store\/themes\/customizing-themes\/add-gift-card-recipient-fields)"
            }
          }
        ]
      },
      {
        "name": "Complementary products",
        "type": "complementary-products",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "To select complementary products, add the Search & Discovery app. [Learn more](https://help.shopify.com/en/manual/online-store/search-and-discovery/product-recommendations)"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Pairs well with..."
          },
          {
            "type": "range",
            "id": "products_to_show",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "Products to show",
            "default": 5
          },
          {
            "type": "range",
            "id": "products_per_page",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 1,
            "label": {
              "en": "Number of products per page",
              "de": "Anzahl der Produkte pro Seite",
              "es": "Cantidad de productos por página",
              "fr": "Nombre de produits par page",
              "pt-PT": "Número de produtos por página"
            }
          },
          {
            "type": "color",
            "id": "complementary_block_bg",
            "label": "Background color",
            "default": "#F8F8F8"
          }
        ]
      },
      {
        "name": "Cross sells",
        "type": "cross-sells",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Label",
            "default": "Don't forget these..."
          },
          {
            "type": "product",
            "id": "cross_sell_product_1",
            "label": "Cross sell product 1"
          },
          {
            "type": "product",
            "id": "cross_sell_product_2",
            "label": "Cross sell product 2"
          },
          {
            "type": "product",
            "id": "cross_sell_product_3",
            "label": "Cross sell product 3"
          },
          {
            "type": "color",
            "id": "cross_sell_bg",
            "label": "Background color",
            "default": "#F8F8F8"
          }
        ]
      },
      {
        "name": "Shop pay installments",
        "type": "shop-pay",
        "limit": 1
      },
      {
        "name": "Social sharing",
        "type": "social-sharing",
        "limit": 1,
        "settings": [
          {
            "type": "radio",
            "id": "social_align",
            "label": {
              "en": "Social icon position"
            },
            "options": [
              {
                "value": "left",
                "label": {
                  "en": "Left"
                }
              },
              {
                "value": "right",
                "label": {
                  "en": "Right"
                }
              }
            ],
            "default": "left"
          },
          {
            "type": "checkbox",
            "id": "social_sharing_facebook",
            "label": {
                "en": "Facebook",
                "de": "Facebook",
                "es": "Facebook",
                "fr": "Facebook",
                "pt-PT": "Facebook"
            },
            "default": true
          },
          {
              "type": "checkbox",
              "id": "social_sharing_twitter",
              "label": {
                  "en": "Twitter",
                  "de": "Twitter",
                  "es": "Twitter",
                  "fr": "Twitter",
                  "pt-PT": "Twitter"
              },
              "default": true
          },
          {
              "type": "checkbox",
              "id": "social_sharing_pinterest",
              "label": {
                  "en": "Pinterest",
                  "de": "Pinterest",
                  "es": "Pinterest",
                  "fr": "Pinterest",
                  "pt-PT": "Pinterest"
              },
              "default": true
          }
        ]
      },
      {
        "name": "Local pickup",
        "type": "local-pickup",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Enable the local pickup setting in 'Theme settings' > 'Products'."
          }
        ]
      },
      {
        "name": "Product description",
        "type": "product-description",
        "limit": 1
      },
      {
        "name": "Text with icon",
        "type": "text-with-icon",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": {
                "en": "Icon",
                "de": "Symbol",
                "es": "Icono",
                "fr": "Icône",
                "pt-PT": "Ícone"
            },
            "default": "takeaway",
            "options": [
                {
                    "value": "none",
                    "label": {
                        "en": "None",
                        "de": "Keiner",
                        "es": "Ninguno",
                        "fr": "Aucun",
                        "pt-PT": "Nenhum"
                    }
                },
                {
                    "value": "home-smile",
                    "label": {
                        "en": "Home with smile",
                        "de": "Haus mit Lächeln",
                        "es": "Hogar con sonrisa",
                        "fr": "Accueil souriant",
                        "pt-PT": "Casa com sorriso"
                    }
                },
                {
                    "value": "store",
                    "label": {
                        "en": "Store",
                        "de": "Speichern",
                        "es": "Tienda",
                        "fr": "Magasin",
                        "pt-PT": "Loja"
                    }
                },
                {
                    "value": "flag",
                    "label": {
                        "en": "Flag",
                        "de": "Flagge",
                        "es": "Bandera",
                        "fr": "Drapeau",
                        "pt-PT": "Bandeira"
                    }
                },
                {
                    "value": "service",
                    "label": {
                        "en": "Customer service",
                        "de": "Kundendienst",
                        "es": "Servicio al cliente",
                        "fr": "Service clients",
                        "pt-PT": "Serviço ao cliente"
                    }
                },
                {
                    "value": "chat",
                    "label": {
                        "en": "Chat bubble",
                        "de": "Chat-Blase",
                        "es": "Burbuja de chat",
                        "fr": "Bulle de chat",
                        "pt-PT": "Bolha de conversa"
                    }
                },
                {
                    "value": "chat-smile",
                    "label": {
                        "en": "Chat bubble with smile",
                        "de": "Chat-Blase mit Lächeln",
                        "es": "Burbuja de chat con sonrisa",
                        "fr": "Bulle de chat avec sourire",
                        "pt-PT": "Bolha de conversa com sorriso"
                    }
                },
                {
                    "value": "question-answer",
                    "label": {
                        "en": "Question and answer",
                        "de": "Frage und Antwort",
                        "es": "Pregunta y respuesta",
                        "fr": "Question et réponse",
                        "pt-PT": "Pergunta e resposta"
                    }
                },
                {
                    "value": "wallet",
                    "label": {
                        "en": "Wallet",
                        "de": "Geldbörse",
                        "es": "Cartera",
                        "fr": "Portefeuille",
                        "pt-PT": "Carteira"
                    }
                },
                {
                    "value": "price-tag",
                    "label": {
                        "en": "Price tag",
                        "de": "Preisschild",
                        "es": "Etiqueta de precio",
                        "fr": "Étiquette de prix",
                        "pt-PT": "Etiqueta de preço"
                    }
                },
                {
                    "value": "vip",
                    "label": {
                        "en": "VIP",
                        "de": "VIP",
                        "es": "VIP",
                        "fr": "VIP",
                        "pt-PT": "VIP"
                    }
                },
                {
                    "value": "crown",
                    "label": {
                        "en": "Crown",
                        "de": "Krone",
                        "es": "Corona",
                        "fr": "Couronne",
                        "pt-PT": "Coroa"
                    }
                },
                {
                    "value": "exchange",
                    "label": {
                        "en": "Exchange",
                        "de": "Austausch",
                        "es": "Intercambio",
                        "fr": "Échange",
                        "pt-PT": "Trocar"
                    }
                },
                {
                    "value": "gift",
                    "label": {
                        "en": "Gift",
                        "de": "Geschenk",
                        "es": "Regalo",
                        "fr": "Cadeau",
                        "pt-PT": "Presente"
                    }
                },
                {
                    "value": "24-hours",
                    "label": {
                        "en": "24 Hours",
                        "de": "24 Stunden",
                        "es": "24 horas",
                        "fr": "24 heures",
                        "pt-PT": "24 Horas"
                    }
                },
                {
                    "value": "heart",
                    "label": {
                        "en": "Heart",
                        "de": "Herz",
                        "es": "Corazón",
                        "fr": "Cœur",
                        "pt-PT": "Coração"
                    }
                },
                {
                    "value": "map-pin",
                    "label": {
                        "en": "Map pin",
                        "de": "Karten-Nadel",
                        "es": "Pin de mapa",
                        "fr": "Épingle de carte",
                        "pt-PT": "Alfinete no mapa"
                    }
                },
                {
                    "value": "car",
                    "label": {
                        "en": "Car",
                        "de": "Auto",
                        "es": "Coche",
                        "fr": "Voiture",
                        "pt-PT": "Automóvel"
                    }
                },
                {
                    "value": "takeaway",
                    "label": {
                        "en": "Takeaway",
                        "de": "Imbissbude",
                        "es": "Para llevar",
                        "fr": "Emporter",
                        "pt-PT": "Comida para fora"
                    }
                },
                {
                    "value": "restaurant",
                    "label": {
                        "en": "Restaurant",
                        "de": "Restaurant",
                        "es": "Restaurante",
                        "fr": "Restaurant",
                        "pt-PT": "Restaurante"
                    }
                },
                {
                    "value": "cup",
                    "label": {
                        "en": "Cup",
                        "de": "Körbchen",
                        "es": "Taza",
                        "fr": "Tasse",
                        "pt-PT": "Caneca"
                    }
                },
                {
                    "value": "goblet",
                    "label": {
                        "en": "Goblet",
                        "de": "Kelch",
                        "es": "Copa",
                        "fr": "Gobelet",
                        "pt-PT": "Cálice"
                    }
                },
                {
                    "value": "star",
                    "label": {
                        "en": "Star",
                        "de": "Stern",
                        "es": "Estrella",
                        "fr": "Étoile",
                        "pt-PT": "Estrela"
                    }
                },
                {
                    "value": "sun",
                    "label": {
                        "en": "Sun",
                        "de": "Sonne",
                        "es": "Sol",
                        "fr": "Soleil",
                        "pt-PT": "Sol"
                    }
                },
                {
                    "value": "moon",
                    "label": {
                        "en": "Moon",
                        "de": "Mond",
                        "es": "Luna",
                        "fr": "Lune",
                        "pt-PT": "Lua"
                    }
                },
                {
                    "value": "cake",
                    "label": {
                        "en": "Cake",
                        "de": "Kuchen",
                        "es": "Pastel",
                        "fr": "Gâteau",
                        "pt-PT": "Bolo"
                    }
                },
                {
                    "value": "handbag",
                    "label": {
                        "en": "Handbag",
                        "de": "Handtasche",
                        "es": "Bolso",
                        "fr": "Sac à main",
                        "pt-PT": "Mala de mão"
                    }
                },
                {
                    "value": "umbrella",
                    "label": {
                        "en": "Umbrella",
                        "de": "Regenschirm",
                        "es": "Paraguas",
                        "fr": "Parapluie",
                        "pt-PT": "Guarda-chuva"
                    }
                },
                {
                    "value": "recycle",
                    "label": {
                        "en": "Recycle",
                        "de": "Recyceln",
                        "es": "Reciclar",
                        "fr": "Recycler",
                        "pt-PT": "Reciclar"
                    }
                }
              ]
          },
          {
            "type": "text",
            "id": "text",
            "label": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            },
            "default": {
                "en": "Free shipping",
                "de": "Kostenloser versand",
                "es": "Envío gratis",
                "fr": "Livraison gratuite",
                "pt-PT": "Envio grátis"
            }
          },
          {
            "type": "url",
            "id": "link",
            "label": {
                "en": "Link",
                "de": "Link",
                "es": "Enlace",
                "fr": "Lien",
                "pt-PT": "Ligação"
            },
            "info": {
                "en": "Optional",
                "de": "Optional",
                "es": "Opcional",
                "fr": "Facultatif",
                "pt-PT": "Opcional"
            }
          }
        ]
      },
      {
        "name": "Custom Liquid",
        "type": "custom-liquid",
        "settings": [
          {
            "type": "liquid",
            "id": "custom-liquid",
            "label": "Custom liquid",
            "default": "<p>Add app snippets or other Liquid code to create advanced customizations.</p>"
          }
        ]
      },
      {
        "name": "Product rating",
        "type": "product-rating",
        "settings": [
          {
            "type": "text",
            "id": "rating-label",
            "label": "Label",
            "default": "Rating"
          },
          {
            "type": "text",
            "id": "rating",
            "label": "Rating",
            "info": "To display a rating, add a [product rating metafield](/admin/metafields/product)"
          },
          {
            "type": "image_picker",
            "id": "rating-icon-full",
            "label": "Full icon"
          },
          {
            "type": "image_picker",
            "id": "rating-icon-empty",
            "label": "Empty icon",
            "info": "Optional"
          },
          {
            "type": "number",
            "id": "rating-max",
            "label": "Maximum",
            "default": 5,
            "info": "Select a maximum equal to the rating metafield's [scale maximum](/admin/metafields/product)"
          }
        ]
      },
      {
        "name": "Image with offers",
        "type": "image-offer",
        "settings": [
            {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
            },
            {
            "type": "url",
            "id": "link",
            "label": {
                "en": "Link",
                "de": "Link",
                "es": "Enlace",
                "fr": "Lien",
                "pt-PT": "Ligação"
            },
            "info": {
                "en": "Optional",
                "de": "Optional",
                "es": "Opcional",
                "fr": "Facultatif",
                "pt-PT": "Opcional"
              }
            },
            {
              "type": "color",
              "id": "hover_border_color",
              "label": {
                  "en": "Link hover border color",
                  "de": "Link hover border color",
                  "es": "Link hover border color",
                  "fr": "Link hover border color",
                  "pt-PT": "Link hover border color"
              }
            }
          ]
        }
    ]
}
{% endschema %}



