<section id="blog_posts" class="collection">

	{% paginate blog.articles by section.settings.blog-posts-per-page %}

	<div class="row blog__post-container">

	<div class="col-md-10 offset-md-1 blog-main">

  {% assign item_width = '' %}
  {% if section.settings.blog_layout == 'grid' %}
    {% if section.settings.blog-posts-per-page == 1 %}
      {% assign item_width = 'col-12' %}
    {% elsif section.settings.blog-posts-per-page == 2 %}
      {% assign item_width = 'col-12 col-sm-6' %}
    {% else %}
      {% assign item_width = 'col-12 col-sm-6 col-md-4' %}
    {% endif %}
    <div class="container-fluid">
      <div class="row">
  {% endif %}

			{% for article in blog.articles %}

      <article class="{{ item_width }}">

				{% if article.image %}
					<div class="article-image">
						<a href="{{article.url}}" title="{{ 'blogs.article.view_post' | t }}" tabindex="-1">
							{% render 'responsive-image' with article.image, alt: article.image.alt %}
						</a>
					</div>
				{% endif %}

				<div class="blog-title-wrapper{% if article.image %} article-image-header{% endif %}">

					<div class="blog-title-wrapper homepage-blog-title-wrapper{% if article.image %} article-image-header{% endif %}">

						<h3 class="type-subheading type-subheading--2">
							<a href="{{ article.url }}">{{ article.title }}</a>
						</h3>

						{% if section.settings.show_dates or section.settings.show_author_name %}
							<div class="blog__date-author">
								<div class="blog-publish-date">
									{% if section.settings.show_dates %}
										<time class="updated blog--indiv-date" datetime="{{ article.published_at | date: format: 'long' }}" pubdate>{{ article.published_at | date: format: 'month_day_year' }}</time>
									{% endif %}

									{% if section.settings.show_dates and section.settings.show_author_name %}
										<span>  |  </span>
									{% endif %}

									{% if section.settings.show_author_name %}<span>
										{{ article.author }}</span>
									{% endif %}
								</div>
							</div>
						{% endif %}

					</div>

				{% if section.settings.blog_layout != 'grid' %}
  				<div class="blog--excerpt entry-content">
  					  {{ article.excerpt_or_content | truncate: 300 }}
  				</div>
				  {% endif %}

  				<div class="blog--read-more">
  					<a href="{{ article.url }}" class="button--text-subdued" tabindex="-1">{{ 'blogs.article.read_more' | t }}</a>
  				</div>

        </div>

      </article>

			{% endfor %}

  {% if section.settings.blog_layout == 'grid' %}
    </div>
  </div>
  {% endif %}

	</div>

	</div>

	{% render 'pagination', paginate: paginate  %}

	{% endpaginate %}

</section>

{% schema %}
{
    "name": {
        "en": "Blog pages",
        "de": "Blogseiten",
        "es": "Páginas del blog",
        "fr": "Pages du blog",
        "pt-PT": "Páginas de blogs"
		},
		"class": "container",
    "settings": [
        {
            "type": "select",
            "id": "blog_layout",
            "label": {
                "en": "Layout",
                "de": "Layout",
                "es": "Diseño",
                "fr": "Mise en page",
                "pt-PT": "Apresentação"
            },
            "options": [
                {
                    "value": "list",
                    "label": {
                        "en": "List",
                        "fr": "Liste",
                        "de": "Lista",
                        "es": "Liste",
                        "pt-PT": "Lista"
                    }
                },
                {
                    "value": "grid",
                    "label": {
                        "en": "Grid",
                        "de": "Raster",
                        "es": "Cuadrícula",
                        "fr": "Grille",
                        "pt-PT": "Grelha"
                    }
                }
            ],
            "default": "grid"
        },
				{
						"type": "range",
						"id": "blog-posts-per-page",
						"min": 1,
						"max": 12,
						"step": 1,
						"label": {
							"en": "Posts per page",
							"de": "Posts pro Seite",
							"es": "Publicaciones por página",
							"fr": "Messages par page",
							"pt-PT": "Publicações por página"
						},
						"default": 6
				},
				{
						"type": "checkbox",
						"id": "show_author_name",
						"label": {
								"en": "Show author name",
								"de": "Autorennamen anzeigen",
								"es": "Mostrar el nombre de autor",
								"fr": "Afficher le nom de l'auteur",
								"pt-PT": "Mostrar nome do autor"
						},
						"default": false
				},
				{
						"type": "checkbox",
						"id": "show_dates",
						"label": {
								"en": "Show dates",
								"de": "Daten anzeigen",
								"es": "Mostrar fechas",
								"fr": "Afficher les dates",
								"pt-PT": "Mostrar datas"
						},
						"default": true
				}
    ]
}
{% endschema %}
