<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Establish early connection to external domains -->
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
  <link rel="preconnect" href="//ajax.googleapis.com" crossorigin />

  {%- liquid

    assign main_font = settings.main_font
    assign main_font = settings.main_font
    assign nav_font = settings.nav_font
    assign main_font_bold = main_font | font_modify: 'weight', 'bolder'
    assign main_font_italic = main_font | font_modify: 'style', 'italic'
    assign main_font_bold_italic = main_font_bold | font_modify: 'style', 'italic'

  -%}

    <!-- Preload onDomain stylesheets and script libraries -->
  <link rel="preload" href="{{ 'stylesheet.css' | asset_url }}" as="style">
  <link rel="preload" as="font" href="{{ main_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ nav_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ heading_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'eventemitter3.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">

  {% if settings.favicon %}<link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png" />{% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />

  <title>{% if template == 'index' %}{% if page_title contains 'Welcome' %}{{ shop.name }} &ndash; Welcome{% else %}{{ page_title }}{% endif %}{% elsif template == '404' %}Page Not Found{% elsif page_title contains shop.name %}{{ page_title }}{% else %}{{ page_title }} &ndash; {{ shop.name }}{% endif %}</title>
  {% if page_description %}<meta name="description" content="{{ page_description }}" />{% endif %}

  {% render 'social-meta-tags' %}
  {% render 'structured-data' %}
  {% render 'css-variables' %}

  <link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}" type="text/css">

  <style>
  {{ main_font | font_face: font_display: 'swap' }}
  {{ nav_font | font_face: font_display: 'swap' }}
  {{ heading_font | font_face: font_display: 'swap' }}
  {{ main_font_bold | font_face: font_display: 'swap' }}
  {{ main_font_italic | font_face: font_display: 'swap' }}
  {{ main_font_bold_italic | font_face: font_display: 'swap' }}
  </style>

  {{ content_for_header }}

</head>

<body class="gridlock js-slideout-toggle-wrapper">
  <div class="js-slideout-overlay site-overlay"></div>
  <main class="password-page__wrapper">
    {{ content_for_layout }}
  </main>
  <aside class="slideout slideout__drawer-right" data-wau-slideout="password" id="password-slideout">
    <div class="slideout__trigger--close">
      <button class="slideout__trigger-password js-slideout-close" data-slideout-direction="right" aria-label="Close navigation" tabindex="0" type="button" name="button" aria-controls="slideout-password">
        <div class="icn-close"></div>
      </button>
    </div>
    <div class="password-page__login">
      {% form 'storefront_password' %}
        {%- if form.errors -%}
          <div class="note-error">
            {{ form.errors | default_errors }}
          </div>
        {%- endif -%}
        <label for="password" for="password">{{ 'general.password_page.enter_store' | t }}</label>
        <input type="password" name="password" placeholder="{{ 'general.password_page.password' | t }}" id="password">
        <input type="submit" value="{{ 'general.password_page.enter' | t }}">
      {% endform %}
    </div>
  </aside>

  <script src="{{ 'eventemitter3.min.js' | asset_url }}"></script>
  <script src="{{ 'theme.js' | asset_url }}"></script>

  <script>
      document.documentElement.className =
         document.documentElement.className.replace("no-js","js");
  </script>
  <!-- JS Variable Helpers -->
<script>
    var template = {{ template | json }};
</script>

</body>
</html>
