<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://whale.camera/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"core-pickleball.myshopify.com",ver:"2.11",plat:"SHOPIFY",isHeadless:false},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","application/json")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1,P))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1,L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)};try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push({u:location.href,r:document.referrer,t:Date.now(),id:L()}),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(E=A[H]=function(t,e,a){return void 0===a&&(a=[]),"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e].concat(a)),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,plat:A.TriplePixelData.plat,url:window.location.href,ref:document.referrer,ver:A.TriplePixelData.ver},O("https://api.config-security.com/event",5,p),O("https://whale.camera/live/dot.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="author" content="Debutify">

  <!-- Fav icon ================================================== -->
  {% if settings.favicon %}
    <link sizes="192x192" rel="shortcut icon" href="{{ settings.favicon | img_url: '192x192' }}" type="image/png">
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
    {{ shop.name }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}
  
  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Vendors ================================================== -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
  {{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}
  
  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
  
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  
  <!-- JS ================================================== -->
  <script>
    window.password = window.password || {};

    var password = {
      strings: {
        pageClose: {{ 'general.password_page.close' | t | json }}
      }
    }

    window.theme = window.theme || {};
    theme.strings = {
      addressError: {{ 'home_page.map.address_error' | t | json }},
      addressNoResults: {{ 'home_page.map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'home_page.map.address_query_limit_html' | t | json }},
      authError: {{ 'home_page.map.auth_error_html' | t | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }}
    };
  </script>
  
  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% render 'shogun-head' %}
{% include 'pagefly-app-header' %}</head>

  <body class="template-password">

    <header class="password-page__header" role="banner"  data-section-id="{{ section.id }}" data-section-type="password-header">
      <div class="password-page__header__inner">
        {% comment %}
          Link to password modal
        {% endcomment %}
          <a href="#LoginModal" class="btn btn--small btn-outline-primary js-toggle-login-modal" data-mfp-src="#LoginModal">
            <span class="fas fa-lock" aria-hidden="true"></span>
            {{ 'general.password_page.password_link' | t }}
          </a>
      </div>
    </header>
    
    {{ content_for_layout }}
    
    <footer class="password-page__footer text-center" role="contentinfo">
      <div class="password-page__footer_inner">
        {% capture shopify %}
        <a rel="nofollow" class="shopify-link" href="https://www.shopify.com/?ref=debutify" target="_blank" title="Create your own online store with Shopify">
          {% include 'svg-definitions' with 'shopify-logo' %}
          <span class="shopify-name">Shopify</span>
        </a>
        {% endcapture %}
        {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
      </div>
    </footer>

    <div id="LoginModal" class="password-page__login-form text-center mfp-hide">
      <div class="box">
        <div class="wrapper">
          
          <div class="grid">
             <div class="grid__item large--one-third push--large--one-third text-center">
                <p class="h4">{{ 'general.password_page.login_form_heading' | t }}</p>
                {% form 'storefront_password' %}
                {{ form.errors | default_errors }}
                <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
                <div class="input-group">
                  <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn--primary password-page__login-form__submit">
                      <span class="fas fa-sign-in-alt" aria-hidden="true"></span>
                      <span class="sumbit-text">{{ 'general.password_page.login_form_submit' | t }}</span>
                    </button>
                  </span>
                </div>
                {% endform %}
                <hr class="hr">
                <p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
  </body>
</html>
