{% render 'hs-defer-css', filename: 'component-article-card.css', pages: 'collection,index,product' | split: ',', local: true %}
{% render 'hs-defer-css', filename: 'component-card.css', pages: 'collection,index,product' | split: ',', local: true %}
{% render 'hs-defer-css', filename: 'section-main-blog.css', pages: 'collection,index,product' | split: ',', local: true %}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- paginate blog.articles by 24 -%}
  <div class="main-blog medium-up-page-width section-{{ section.id }}-padding">
    <div class="small-page-width">
        <h1 class="title--primary {{ section.settings.header_alignment }}">{{ blog.title | escape }}</h1>
    </div>
    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %} {% if section.settings.layout_mobile == 'slider' %}small--overflow-scroll-x{% endif %}">
      {%- for article in blog.articles -%}
        {% if section.settings.layout == 'masonry' %}
        <div class="grid-sizer"><span class="visually-hidden">Sizing</span></div>
        {% endif %}
        <div class="blog-articles__article article">
          {%- render 'article-card',
            article: article,
            media_height: section.settings.image_height,
            media_aspect_ratio: article.image.aspect_ratio,
            show_image: section.settings.show_image,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: false 
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{%- if section.settings.layout == 'masonry' -%}
  <script defer src="{{ 'masonry.pkgd.min.js' | asset_url }}"></script>
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      var msnry = new Masonry( '.blog-articles', {
        itemSelector: '.blog-articles__article',
        columnWidth: '.grid-sizer',
        percentPosition: false,
        gutter: 10
      });
    });
    
  </script>
  {% render 'hs-defer-css', filename: 'blog.masonry.css', pages: 'collection,index,product' | split: ',', local: true %}
{%- endif -%}

{% schema %}
{
  "name": "Blog posts",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Blog"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        },
        {
          "value": "masonry",
          "label": "Masonry"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "slider",
          "label": "Slider"
        }
      ],
      "default": "slider",
      "label": "Mobile layout"
    },
    {
      "type": "select",
      "id": "header_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Header alignment"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Blog posts"
    }
  ]
}
{% endschema %}
