{%- liquid
  assign heading = section.settings.heading
  
  assign description = section.settings.description
  
  assign form = section.settings.form
  
  assign image = section.settings.image
  
  assign image_url = image | image_url: width: 1200
  
  assign image_alt = image.alt | escape
  
  assign form_success_message = section.settings.form_success_message
  
  assign form_call_to_action = section.settings.form_call_to_action
-%}

<style>
  .Friendbuy-ribbon-transition {
    display: none !important;
  }
  
  #smile-ui-lite-launcher-frame-container {
    display: none !important;
  }
  
  .fulfillment-grid {
    background-color: #FEE7F1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
  
  .fulfillment-grid > div {
    position: relative;
  }
  
  .fulfillment-content {
    padding: 8rem;
    padding-top: 6rem;
    padding-bottom: 10rem;
  }

  .fulfillment-heading {
    font-size: calc(var(--font-heading-scale) * 3rem);
  }
  
  .fulfillment-description {
    max-width: 500px;
    margin-bottom: 2.5rem;
  }
  
  .fulfillment-image-container {
    font-size: 0;
    width: 100%;
    height: 100%;
  }
  
  .fulfillment-image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 989px) {
    .fulfillment-content {
      padding: 3rem;
      padding-top: 1rem;
      padding-bottom: 4rem;
    }
  }
  
  .fulfillment-form {
    max-width: 375px;
  }

  .fulfillment-form .form__message {
    align-items: flex-start;
  }

  .fulfillment-form .icon-success {
    margin-top: 0.2rem;
  }

  .fulfillment-form .field {
    margin-bottom: 1.5rem;
  }

  @media screen and (min-width: 750px) {
    .fulfillment-form .field {
      margin-bottom: 2rem;
    }
  }
  
  .fulfillment-form-button button {
    width: 100%;
  }
  
  .fulfillment-form .select__select {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSI4IiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSIjMDAwIiBkPSJNMTQgLjg3NiAxMy4xNDEgMCA3IDYuMjY3Ljg1OSAwIDAgLjg3Nmw2LjU3IDYuNzA1TDcgOGwuNDMtLjQyTDE0IC44NzdaIi8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 50%;
    padding: 2.2rem 1.5rem .5rem 2rem;
    font-size: 1.6rem;
    margin: var(--inputs-border-width);
    height: auto;
    color: #000000;
  }
  
  .fulfillment-form .select__select ~ .field__label {
    font-size: 1rem;
    top: calc(var(--inputs-border-width) + 0.5rem);
    left: calc(var(--inputs-border-width) + 2rem);
  }
  
  .fulfillment-form .form__message:focus-visible,
  .fulfillment-form .form-status:focus-visible {
    outline: none;
    background: none;
    box-shadow: none;
  }
</style>

<div class="fulfillment-grid">
  <div>
    <div class="fulfillment-content">
      <h1 class="fulfillment-heading">
        {{ heading }}
      </h1>
    
      <div class="fulfillment-description">
        {{ description }}
      </div>
    
      <div class="fulfillment-form">
        {%- form "contact" -%}
          {%- if form.errors -%}
            <div class="form__message">
              <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
              </h2>
            </div>

            <ul class="form-status-list caption-large" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                </a>
              </li>
            </ul>
          {%- endif -%}
          
          <div class="contact__fields">
            <div class="field">
              <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[Name]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
              <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
            </div>
            
            <div class="field">
              <input class="field__input" text="text" id="ContactForm-company" name="contact[Company]" placeholder="Company" />
              <label class="field__label" for="ContactForm-company">Company</label>
            </div>
            
            <div class="field">
              <input
                type="email"
                id="ContactForm-email"
                class="field__input"
                name="contact[email]"
                spellcheck="false"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                placeholder="{{ 'templates.contact.form.email' | t }}"
              >
              
              <label class="field__label" for="ContactForm-email">
                {{ 'templates.contact.form.email' | t }} *
              </label>
            </div>
            
            <div class="field">
              <select id="ContactForm-volume" class="select__select" name="contact[Volume]">
                <option value="1-1000">1,000</option>
                <option value="1001-5000">5,000</option>
                <option value="5001-10000">10,000</option>
                <option value="10000+">10,000+</option>
              </select>
              <label class="field__label" for="ContactForm-volume">Monthly order volume</label>
            </div>
            
            <div class="field">
              <select id="ContactForm-platform" class="select__select" name="contact[Platform]">
                <option value="Shopify">Shopify</option>
                <option value="Big Commerce">Big Commerce</option>
                <option value="Other">Other</option>
              </select>
              <label class="field__label" for="ContactForm-platform">Ecommerce platform</label>
            </div>
          </div>
          
          <div class="fulfillment-form-button">
            <button type="submit" class="button">
              {{ form_call_to_action }}
            </button>
          </div>
          
          {%- if form.posted_successfully? -%}
            <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
              {% render 'icon-success' %} {{ form_success_message }}
            </h2>
          {%- endif -%}
        {%- endform -%}
      </div>
    </div>
  </div>
  <div>
    <div class="fulfillment-image-container">
      <img src="{{ image_url }}" alt="{{ image_alt }}" loading="lazy" width height/>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Fulfillment",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Wildflower Fulfillment Solution"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Wildflower offers a full suite of fulfillment services for growing brands like yours. We know what its like packing your own orders because Wildflower Cases was there 10 years ago.</p><p>Just fill out the form below. Share a little information about your business and we'll follow up with a customized proposal catered to your specific needs.</p>"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Form"
    },
    {
      "type": "text",
      "id": "form_success_message",
      "label": "Success message",
      "default": "Thank you! We'll reply as soon as possible."
    },
    {
      "type": "text",
      "id": "form_call_to_action",
      "label": "Call to action",
      "default": "Submit"
    }
  ]
}
{% endschema %}