<style>
  #shopify-section-{{ section.id }} .custom-richtext-link{
    color: {{section.settings.lg}};
  }
  #shopify-section-{{ section.id }} .custom-richtext-link:hover{
    color: {{section.settings.fg}};
  }
</style>
<div class="custom-richtext" style="background: {{ section.settings.bg }}; color: {{ section.settings.fg }};">
  <div class="custom-richtext-wrapper {{ section.settings.aligment }}">
    {% if section.settings.preheading != blank %}
      <p class="custom-richtext-preheading">{{ section.settings.preheading }}</p>
    {% endif %}
    {% if section.settings.heading != blank %}
      <h2 class="custom-richtext-heading">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.text != blank %}
      <div class="custom-richtext-text">{{ section.settings.text }}</div>
    {% endif %}
    {% if section.settings.link_text != blank %}
      <a href="{{ section.settings.link }}" class="custom-richtext-link">{{ section.settings.link_text }}</a>
    {% endif %}
    {% if section.settings.button_text != blank %}
      <a href="{{ section.settings.button_link }}" class="custom-richtext-btn" style="background: {{ section.settings.bbg }}; color: {{ section.settings.bfg }};">{{ section.settings.button_text }}</a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Custom Richtext",
  "settings": [
    {
      "type": "radio",
      "id": "aligment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "custom-richtext-left",
          "label": "Left"
        },
        {
          "value": "custom-richtext-center",
          "label": "Center"
        },
        {
          "value": "custom-richtext-right",
          "label": "Right"
        }
      ],
      "default": "custom-richtext-center"
    },
    {
      "type": "text",
      "id": "preheading",
      "label": "Preheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Bg Color",
      "default": "#f3f3f3"
    },
    {
      "type": "color",
      "id": "fg",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "lg",
      "label": "Link Color",
      "default": "#197bbd"
    },
    {
      "type": "color",
      "id": "bbg",
      "label": "Button Bg Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "bfg",
      "label": "Button Text Color",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "Custom Richtext"
    }
  ],
  "disabled_on": {
    "groups": ["custom.popups"]
  }
}
{% endschema %}