<style>
.custom-iwt3{
  padding: 0 20px;
  padding-top: 40px;
}
.custom-iwt3-wrapper{
      max-width: 1000px;
    margin: 0 auto;
    width: 100%;
  display: flex;
  align-items: center;
}
.custom-iwt3-wrapper-switch{
  flex-direction: row-reverse;
}
.custom-iwt3-text-wrapper{
  flex: 1 1 50%;
      padding: 50px;
    padding-left: 0;
}
.custom-iwt3-wrapper-switch .custom-iwt3-text-wrapper{
      padding: 50px;
    padding-right: 0;
}
.custom-iwt3-heading{
font-size: 45px;
    margin: 0;
    color: black;
    font-weight: 700;
    line-height: 1;
}
.custom-iwt3-text{
  font-size: 14px;
  color: black;
}
.custom-iwt3-link{
      display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 28px;
    transition: all .45s cubic-bezier(.785,.135,.15,.86),border .45s cubic-bezier(.785,.135,.15,.86);
    background: black;
    color: white;
    border: 1px solid black;
    letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}
.custom-iwt3-link:hover{
  color: black;
  background: white;
}
.custom-iwt3-image-wrapper{
  flex: 1 1 50%;
}
.custom-iwt3-image{
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}
  .custom-iwt3-text-center{
    padding: 0 !important;
    text-align: center;
  }
  @media screen and (max-width: 992px){
    .custom-iwt3-heading{
      font-size: 30px;
    }
.custom-iwt3-text-wrapper{
      padding: 20px;
    padding-left: 0;
}
.custom-iwt3-wrapper-switch .custom-iwt3-text-wrapper{
      padding: 20px;
    padding-right: 0;
}
    .custom-iwt3-text-center{
      padding: 20px 0 !important;
    }
  }
  @media screen and (max-width: 767px){
.custom-iwt3-wrapper{
  flex-direction: column !important;
}
    .custom-iwt3-text-wrapper {
      flex: 1 1 100%;
      padding: 20px 0 !important;
    }
    .custom-iwt3-image-wrapper{
      flex: 1 1 100%;
    }
    .custom-iwt3{
padding-top: 20px;
    }
  }
</style>

<div class="custom-iwt3">
  <div class="custom-iwt3-wrapper {% if section.settings.switch %}custom-iwt3-wrapper-switch{% endif %}">
    <div class="custom-iwt3-text-wrapper {% unless section.settings.img %}custom-iwt3-text-center{% endunless %}">
      {% if section.settings.heading != blank %}
        <h2 class="custom-iwt3-heading">{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="custom-iwt3-text">
          {{ section.settings.text }}
        </div>
      {% endif %}
      {% if section.settings.link_text != blank %}
        <a href="{{ section.settings.link }}" class="custom-iwt3-link custom-iwt3-link-toggle">{{ section.settings.link_text }}</a>
      {% endif %}
    </div>
    {% if section.settings.img %}
    <div class="custom-iwt3-image-wrapper">
      <img src="{{ section.settings.img | img_url: 'master' }}" class="custom-iwt3-image" />
    </div>
    {% endif %}
  </div>
</div>

<script>
  // $(".custom-iwt3-link-toggle").click(function(){
  //   let href = $(this).attr("href");
  //   $('html, body').animate({scrollTop: $(href).offset().top}, 100);
  // });
</script>

{% schema %}
  {
    "name": "Custom Image With Text 3",
    "settings": [
      {
        "type": "checkbox",
        "id": "switch",
        "label": "Switch Directions"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Your heading here"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Your text here</p>"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link Text",
        "default": "Link Text"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link Url"
      },
      {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
      }
    ],
  "presets": [
    {
      "name": "Custom Image With Text 3"
    }
  ]
  }
{% endschema %}