{% if section.blocks.size > 0 %}
  <div class="custom-size-cards">
    <div class="custom-size-cards-wrapper page-width">
      <div class="custom-size-cards-container">
      {% if section.settings.heading != blank %}
        <h2 class="custom-size-cards-heading">{{ section.settings.heading }}</h2>
      {% endif %}
      <div class="custom-size-cards-flex-wrapper">
        {% for block in section.blocks %}
        <div class="custom-size-cards-flex-item">

              {% if block.settings.img %}
                {% if block.settings.link != blank %}
                <a href="{{ block.settings.link }}" class="custom-size-cards-img-wrapper">
                {% else %}
                <div class="custom-size-cards-img-wrapper">
                {% endif %}
                  <img src="{{ block.settings.img | img_url: '1024x' }}" class="custom-size-cards-img" />
                {% if block.settings.link != blank %}
                </a>
                {% else %}
                </div>
                {% endif %}
              {% endif %}

              
              {% if block.settings.title != blank %}
                <p class="custom-size-cards-title" style="color: {{section.settings.fg}}">{{ block.settings.title }}</p>
              {% endif %}
              {% if block.settings.text != blank %}
                <p class="custom-size-cards-text" style="color: {{section.settings.fg}}">{{ block.settings.text }}</p>
              {% endif %}
              {% if block.settings.link_text != blank %}
                <a href="{{ block.settings.link }}" class="custom-size-cards-link" style="color: {{section.settings.fg}}">{{ block.settings.link_text }}</a>
              {% endif %}
        </div>
        {% endfor %}
      </div>
        </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Custom Size Cards",
  "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "fg",
      "label": "Text Color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
      {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link Text"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Size Cards"
    }
  ],
  "disabled_on": {
    "groups": ["custom.popups"]
  }
}
{% endschema %}