{%- liquid
  assign isModal = false
  if template == 'product.modal'
    assign isModal = true
  endif
-%}

<style>
  label.custom-sticky-option-label.default_title {
    display: none;
}
    .swym-button-bar{
      position: absolute;
      top: 0;
      right: 70px;
      margin: 0;
    }
    .custom-rt {
      font-size: 13px;
      text-align: left;
      margin:30px 0;
  }
    .swym-btn-container .swym-button:after{
      font-size: 16px !important;
    }
  button.swym-button.disabled, button.swym-button:disabled{
  opacity: 1 !important;
  }
  .custom-pdp-icons-wrapper{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      border-top: 1px solid #ddd;
      padding-top: 30px;
  }
  .custom-pdp-icons{
      width: calc(25% - 8px);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
  }
  .custom-pdp-icons svg{
      display: block;
      width: 30px !important;
      height: 30px !important;
  }
  .custom-pdp-icons p{
      font-size: 13px;
      margin: 0;
      line-height: 1.2;
  }

  .custom-product-images-wrapper{

  }
  .custom-product-images-thumb{
      width: 62px;
        left: 30px;
  }
  .custom-product-images-thumb-slider{

  }
    .custom-main-product-grid{
      margin: 0 !important;
    }
  .custom-product-image-container{
    width: calc(100% - 600px);
    padding: 0;
  }
  .custom-product-info-container{
    width: 600px;
    padding: 0;
  }
    .custom-product-info-container .product-single__meta{
      padding: 0 90px;
          padding-top: 40px;
      text-align: left !important;
    }
    .product-single__sticky{
      top: 100px;
    }
  .custom-product-images-thumb-img{
    width: 61px;
    height: auto;
    display: block;
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
    margin: 5px 0;
      box-shadow: 0 0 2px 1px #a7a7a799;
    border-radius: 2px;
    opacity: 0.8;
    transition: all 0.25s;
  }
    .custom-product-images-thumb-img:hover{
      opacity: 1;
    }
    .custom-product-images-thumb-img.active{
      opacity: 1;
    }
  .custom-product-images-gallery{
      padding-left: 25%;
      padding-right: 5%;
    position:relative;
  }
  .csutom-product-images-main{
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
  }
  .custom-product-image-mobile{
    display: none;
  }
  .custom-product-image-mobile-img{
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
    .custom-thumb-prev{
      width: 34px;
      height: 34px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
          margin: 0 auto;
      border-radius: 50%;
          margin-bottom: 5px;
    }
    .custom-thumb-next{
      width: 34px;
      height: 34px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
          margin: 0 auto;
      border-radius: 50%;
          margin-top: 5px;
    }
    .custom-thumb-prev svg{
  width: 25px;
      height: 25px;
      display: block;
      transform: rotate(90deg);
    }
  .custom-thumb-next svg{
  width: 25px;
      height: 25px;
      display: block;
      transform: rotate(-90deg);
  }
    .custom-thumb-prev.slick-disabled{
  opacity: 0;
      pointer-events: none;
    }
  .custom-thumb-next.slick-disabled{
  opacity: 0;
    pointer-events: none;
  }
    .product-single__title {
      font-size: 24px;
      font-weight: 600;
      text-transform: none !important;
      line-height: 1.3;
  }
    .variant-wrapper--dropdown{
      width: 100%;
      margin: 0;
    }
    .product-block{
      margin-bottom: 15px;
    }
    .variant-input-wrap{
      margin: 0;
    }
    .variant-input-wrap select{
      width: 100%;
      font-size: 13px;
    }
    .variant__label[for]{
      font-size: 14px !important;
      letter-spacing: 0 !important;
      text-transform: none !important;
    }

    .custom-acc{
      border-top: 1px solid #ddd;
    }
    .custom-acc:last-child{
      border-bottom: 1px solid #ddd;
    }
  .custom-acc-title{
    display: flex;
    padding: 20px 30px 20px 0;
    position: relative;
    align-items: center;
    cursor: pointer;
  }
  .custom-acc-title svg{
    display: block;
    width: 25px;
    height: 24px;
    flex: 0 0 25px;
      padding-right: 5px;
  }
  .custom-acc-title p{
      margin: 0;
      font-size: 14px;
    flex: 1 1 auto;
  }
  .custom-acc-title span{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  .custom-acc-title span::after{
    content: '\002B';
  }
  .custom-acc-title.active span::after{
    content: '\2212';
  }
  .custom-acc-content{
    font-size: 14px;
    display: none;
  }
    .custom-size-guide{
      margin: 0;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
    }
    .custom-size-guide span{
      cursor: pointer;
    }
    .custom-size-guide svg{

    }
    .custom-size-guide em{
      text-decoration: underline;
      font-style: normal;
    }
    .custom-stock{
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      font-style: italic;
    }




    .custom-sidebar-overlay{
          background-color: rgba(0, 0, 0, .8);
        position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100dvh;
      z-index: 98;
      display: none;
    }
  .custom-sidebar{
        position: fixed;
      top: 0;
      right: 0;
      width: 50%;
      height: 100dvh;
      background: white;
      z-index: 99;
    transform: translateX(100%);
    pointer-events: none;
    visibility: hidden;
    transition: all 0.25s;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  }
    .custom-sidebar.active{
      transform: translateX(0);
      pointer-events: all;
      visibility: visible;
    }
  .custom-sidebar-title{
    margin-top: 64px;
  padding: 0 8.3vw;
    padding-bottom: 24px;
    display: flex;
    align-items:center;
    justify-content: space-between;
        font-size: 18px;
  }
    .custom-sidebar-title span{
      display: block;
      cursor: pointer;
    }
  .custom-sidebar-content{
    flex: 1 1 auto;
      overflow-y: auto;
  padding: 0 8.3vw;
        font-size: 13px;
    padding-top: 24px;
  }



  .custom-sticky-wrapper{
      display: flex;
    align-items: center;
      width: 100%;
      position: fixed;
      background: {{section.settings.bg}};
      color: {{section.settings.fg}};
      z-index: 9;
      bottom: 0;
      left: 0;
      padding: 15px 10px;
    gap: 40px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    transition: all 0.25s;
  }
    .custom-sticky-wrapper.active{
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  .custom-sticky-left{
    flex: 0 0 auto;
  }
    .custom-sticky-stock{
      font-style: normal;
      font-size: 14px;
      margin: 0;
    }
  .custom-sticky-title{
      margin: 0;
      font-size: 15px;
  }
  .custom-sticky-right{
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 40px;
  }
  .custom-sticky-size-guide{
    margin: 0;
    cursor: pointer;
  }
    .custom-sticky-size-guide svg{
      display: none;
    }
    .custom-sticky-size-guide em{
      text-decoration: underline;
      font-style: normal;
      font-size: 15px;
    }
  .custom-sticky-option-wrapper{
  display: flex;
      flex-direction: column;
      gap: 10px;
  }
  .custom-sticky-option{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
  }
  .custom-sticky-option-inp{
  display: none;
  }
  .custom-sticky-option-label{
      margin: 0;
      border: 1px solid transparent;
      letter-spacing: 0 !important;
      font-size: 12px !important;
      padding: 5px 8px;
    background: {{section.settings.obg}};
  }
    .custom-sticky-option-inp:checked + .custom-sticky-option-label{
      background: {{section.settings.bg}};
      border-color: {{section.settings.fg}};
    }
  .custom-sticky-btn{
      display: block;
      border: 1px solid;
      padding: 8px 25px;
      font-size: 15px;
      cursor: pointer;
      margin-left: 50px;
      margin-right: 80px;
    background: #008000;
    color: {{section.settings.fg}};
    transition: all 0.25s;
  }
    .custom-sticky-btn:hover{
    background: {{section.settings.fg}};
    color: {{section.settings.bg}};
    }
    .custom-sticky-btn.custom-sticky-disabled{
      opacity: 0.5;
      pointer-events: none;
    }
  .custom-sticky-master-select{
    display: none;
  }
    .custom-sticky-option-title{
      display: none;
      font-size: 14px;
    }
    .custom-sticky-size-guide-mobile{
      display: none;
    }
    .custom-sticky-btn-wrapper{
      position: relative;
    }
    .custom-sticky-btn-wrapper .custom-sticky-title{
      display: none;
    }
    .custom-sticky-stock-mobile{
      display: none;
    }
    .custom-sticky-close{
      display: none;
      width: 100%;
      text-align: right;
          margin: 0;
      line-height: 1.1;
    }
    .custom-sticky-close span{
      cursor: pointer;
      display: inline-block;
      color: black;
          font-size: 13px;
    }
    .custom-sticky-mobile-toggle{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      z-index: 2;
    }


    @media screen and (max-width: 1440px){

  .custom-sticky-wrapper{
    flex-wrap: wrap;
    gap: 15px;
  }
      .custom-sticky-left{
        width: 100%;
        flex: 0 0 100%;
      text-align: center;
      }
      .custom-sticky-right{
        flex: 0 0 100%;
        width: 100%;
  justify-content: center;
  gap: 30px;
      }
      .custom-sticky-btn{
        margin: 0;
      }

      .custom-product-info-container .product-single__meta{
        padding-left: 70px;
        padding-right: 70px;
        position: relative;
      }
  .swym-button-bar {
      top: -15px;
      right: 0;
  }
      .custom-product-info-container{
        width: 500px;
      }
      .custom-product-image-container {
      width: calc(100% - 500px);
  }
    }
    @media screen and (max-width: 1024px){
  .custom-product-images-gallery{
    padding: 0;
  }
      .custom-product-info-container .product-single__meta {
      padding-top: 15px;
  }
      .custom-product-images-thumb {
      top: 120px !important;
      }
      .custom-product-info-container{
        width: 50%;
      }
  .custom-product-image-container {
    width: 50%;
  }
      .custom-product-info-container .product-single__meta{
        padding-left: 60px;
        padding-right: 60px;
      }
    }

    @media screen and (max-width: 768px){
        label.custom-sticky-option-label.default_title {
    display: block;
}
      .custom-sticky-mobile-toggle{
  display: block;
      }
      .custom-sticky-close{
  display: block;
      }
      .custom-sticky-btn-wrapper{
      display: flex;
      width: 100%;
      flex: 0 0 100%;
      align-items: center;
      justify-content: space-between;
        padding: 10px 20px;
      }
      .custom-sticky-wrapper{
      bottom: 10px;
      left: 10px;
      width: calc(100% - 20px);
        padding: 0;
      }
    .custom-sticky-btn-wrapper .custom-sticky-title{
      display: block;
    }
      .custom-sticky-stock-mobile{
        display: block;
      }
      .custom-sticky-option-wrapper{
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      background: white;
        color: black;
        padding:10px;
        box-shadow: 0 2px 10px #00000059;
        display: none;
      }
      .custom-sticky-option-wrapper.active{
        display: flex;
      }
      .custom-sticky-option-label{
        background: #9b9b9b40;
        color: black;
      }
  .custom-sticky-option-inp:checked + .custom-sticky-option-label{
    color: black;
    background: #9b9b9b9c;
  }
     .custom-sticky-size-guide-desktop{
        display: none;
      }
      .custom-sticky-size-guide-mobile{
        display: block;
      }
       .custom-sticky-option-title{
  display: block;
       }
      .custom-sticky-left{
        display: none;
      }
      .custom-product-info-container{
        width: 100%;
      }
  .custom-product-image-container {
    width: 100%;
  }
      .custom-product-image-mobile{
        display: block;
      }
      .custom-product-images-thumb{
        display: none;
      }
      .custom-product-images-gallery{
        display: none;
      }
      .custom-product-info-container .product-single__meta {
      padding-left: 20px;
      padding-right: 20px;
  }
      .custom-sidebar{
        width: 100%;
      }
      .custom-sidebar-title{
      padding-left: 6.4vw;
      padding-right: 6.4vw;
        margin-top: 32px;
      }
  .custom-sidebar-content{
      padding-left: 6.4vw;
      padding-right: 6.4vw;
  }
    }
</style>

{%- render 'product-template',
  product: product,
  section_id: section.id,
  blocks: section.blocks,
  image_position: section.settings.image_position,
  image_container_width: section.settings.image_size,
  product_zoom_enable: section.settings.product_zoom_enable,
  sku_enable: section.settings.sku_enable,
  isModal: isModal,
  thumbnail_position: section.settings.thumbnail_position,
  thumbnail_height: section.settings.thumbnail_height,
  thumbnail_arrows: section.settings.thumbnail_arrows,
  mobile_layout: section.settings.mobile_layout,
  video_looping: section.settings.enable_video_looping,
  video_style: section.settings.product_video_style,
  context: 'main-product'
-%}
<script>
$('#shopify-section-{{ section.id }} .custom-product-images-thumb-slider').slick({
  slidesToShow: 5,
  slidesToScroll: 1,
  infinite: false,
  dots: false,
  arrows: true,
  vertical: true,
  verticalSwiping: true,
  prevArrow: '<button type="button" class="custom-thumb-prev"><svg viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="icomoon-ignore"></g><path d="M12.792 15.233l-0.754 0.754 6.035 6.035 0.754-0.754-5.281-5.281 5.256-5.256-0.754-0.754-3.013 3.013z" fill="currentColor"></path></svg></button>',
  nextArrow: '<button type="button" class="custom-thumb-next"><svg viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="icomoon-ignore"></g><path d="M12.792 15.233l-0.754 0.754 6.035 6.035 0.754-0.754-5.281-5.281 5.256-5.256-0.754-0.754-3.013 3.013z" fill="currentColor"></path></svg></button>',
  swipeToSlide: true,
  responsive: [
    {
      breakpoint: 1440,
      settings: {
        slidesToShow: 4
      }
    },
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3
      }
    }
  ]
});
$(function(){
  let h = $(".custom-product-images-thumb").outerHeight();
  $(".custom-product-images-gallery").attr("style", `margin-top: -${h}px`);
});
  $(".custom-product-images-thumb-img").click(function(){
    $(".custom-product-images-thumb-img").removeClass("active");
    $(this).addClass("active");
    let index = $(this).attr("data-index");
    $(".csutom-product-images-main").each(function(){
      if($(this).attr("data-index") == index){
        let top = $(this).offset().top;
        $("html, body").animate({ scrollTop: top }, 600);
      }
    })
  });

  $(".custom-acc-toggle").click(function(){
    if($(this).hasClass("active")){
      $(this).toggleClass("active");
      $(this).next(".custom-acc-content").slideToggle(250);
    }
    else{
      $(".custom-acc-toggle").removeClass("active");
      $(this).addClass("active");
      $(".custom-acc-content").slideUp();
      $(this).next(".custom-acc-content").slideToggle(250);
    }
  });

  $(".custom-sidebar-toggle").click(function(){
    let title = $(this).attr("data-title");
    $(".custom-sidebar").each(function(){
      if($(this).attr("data-title") == title){
        $(this).addClass("active");
        $(".custom-sidebar-overlay").fadeIn(250);
      }
    })
  });
  $(".custom-sidebar-overlay").click(function(){
    $(this).fadeOut(250);
    $(".custom-sidebar").removeClass("active");
  });

  $(".custom-sidebar-title span").click(function(){
    $(".custom-sidebar-overlay").fadeOut(250);
    $(".custom-sidebar").removeClass("active");
  })

  // $("[data-variant-input]").change(function(){
  //   setTimeout(function(){
  //     if($(".custom-stock").length > 0){
  //       let iq = parseInt($("[data-product-select] option:selected").attr("data-stock"));
  //       let limit = parseInt($(".custom-stock").attr("data-limit"));
  //       if(iq < limit){
  //         $(".custom-stock").text(`${iq} in stock`);
  //       }
  //       else{
  //         $(".custom-stock").text(`in stock`);
  //       }
  //     }
  //   }, 100);

  // });

  if($(".custom-sticky-option-inp").length > 0){
    $(".custom-sticky-option-inp").change(function(){
      let comb = "";
      $(".custom-sticky-option-inp:checked").each(function(){
        comb += $(this).val() + " / ";
      });
      comb = comb.substring(0, comb.length - 2).trim();
      $(".custom-sticky-master-select").val(comb).trigger("change");
      let master = $(".custom-sticky-master-select option:selected");
      $(".custom-sticky-title span").text(master.attr("data-p"));
      if($(".custom-sticky-stock").length > 0){
        console.log("asdasdasd");
        let iq = parseInt(master.attr("data-stock"));
        let limit = parseInt($(".custom-sticky-stock").attr("data-limit"));
        if(iq < limit){
          $(".custom-sticky-stock").text(`${iq} left in stock!`);
        }
        else{
          $(".custom-sticky-stock").text(`In stock!`);
        }
      }
      if(master.attr("data-available") == "available"){
        $(".custom-sticky-btn").removeClass("custom-sticky-disabled");
      }
      else{
        $(".custom-sticky-btn").addClass("custom-sticky-disabled");
      }
    });
    $(".custom-sticky-close span").click(function(){
      $(".custom-sticky-option-wrapper").removeClass("active");
      $(".custom-sticky-mobile-toggle").show();
    })
    $(".custom-sticky-mobile-toggle").click(function(){
      $(this).hide();
      $(".custom-sticky-option-wrapper").addClass("active");
    })
  }

  $(".custom-sticky-btn").click(function(){
    let vid = $(".custom-sticky-master-select option:selected").attr("data-vid");
    let formData = {
        'items': [{'id': vid, 'quantity': 1}]
    };
    fetch(window.Shopify.routes.root + 'cart/add.js', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-Requested-With': 'xmlhttprequest'
        },
        body: JSON.stringify(formData)
    })
    .then(response => {
        return response.json();
    })
    .then(res => {
        if(res.status){
          toastr.error(res.description);
        }
        else{
          // location.href="/cart";
            document.dispatchEvent(new CustomEvent('cart:build'));
            $(".site-nav__icons .site-nav__link--icon .cart-link").trigger("click");
        }
    })
    .catch((error) => {
        console.error('Error test:', error);
    })
  })

  $(function(){
    if($(".custom-sticky-wrapper").length > 0){
      let top = $(".custom-main-product-grid").offset().top + $(".custom-main-product-grid").outerHeight();
      
      if($(window).width() < 768){
        top = $(".product-single__form").offset().top + $(".product-single__form").outerHeight();
      }
      if($(window).scrollTop() > top){
        $(".custom-sticky-wrapper").addClass("active");
      }
      else{
        $(".custom-sticky-wrapper").removeClass("active");
      }
      console.log('top = '+top);
      var $defaultCartButton = $('.custom-product-info-container button.btn.btn--full.add-to-cart'); // Replace with your default cart button's selector
    var $stickyCartBar = $('.custom-sticky-wrapper');
    $(document).scroll(function() {
      var scrolltoop = $(this).scrollTop();
      var buttonOffsetTop = $defaultCartButton.offset().top;
      if (scrolltoop > buttonOffsetTop) {
        $(".custom-sticky-wrapper").addClass("active");
      } else {
        $(".custom-sticky-wrapper").removeClass("active");
      }
    });
    }
  })


  // Variant Change
  document.querySelectorAll('.variant-input-wrap .variant-input input').forEach(function(var_input){
    var_input.addEventListener('click', function(){
        var final_val = var_input.value;
      this.closest(".variant-wrapper.js").querySelector(".var_selected_val").innerText= final_val;
        //document.querySelector('.var_selected_val').innerText = final_val;
      setTimeout(function(){
        
      
     var data_stock = $("[data-product-select] option:selected").attr("data-stock");
      if(data_stock == undefined || parseInt(data_stock) <=0){
        document.querySelector(".final_custom_stock").innerText = "Out of stock";
        document.querySelector('.custom-stock-circle').classList.add('out-stock-circle');
        document.querySelector('.custom-stock-circle').classList.remove('in-stock-circle');
      }
        else{
          document.querySelector(".final_custom_stock").innerText = "In stock, ready to ship";
          document.querySelector('.custom-stock-circle').classList.remove('out-stock-circle');
          document.querySelector('.custom-stock-circle').classList.add('in-stock-circle');
        }
        },100)
    });
  });
</script>
{% schema %}
{
  "name": "t:sections.main-product.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "Enable Sticky ATC",
      "default": true
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Sticky Bg",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "fg",
      "label": "Sticky Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "obg",
      "label": "Sticky Option Bg",
      "default": "#545454"
    }
  ],
  "blocks": [
    {
  "type": "@app"
},
    {
      "type": "custom_colorswatches",
      "name": "Custom Color Swatches",
      "limit": 1
    },
{
  "type": "custom_icon_pos",
  "name": "Custom Icon Position",
  "limit": 1
},
{
  "type": "custom_icon",
  "name": "Custom Icons",
  "settings": [
    {
      "type": "html",
      "id": "svg",
      "label": "Svg"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    }
  ]
},
    {
  "type": "rt",
  "name": "Rich text",
  "settings": [
    {
      "type": "richtext",
      "id": "rrt",
      "label": "Text",
      "default": "<p>Your text here</p>"
    }
  ]
},
{
  "type": "acc",
  "name": "Custom Accordion",
  "settings": [
    {
      "type": "html",
      "id": "svg",
      "label": "Svg"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Your text here</p>"
    }
  ]
},
{
  "type": "desc",
  "name": "Custom Description",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    }
  ]
},
{
  "type": "custom-reviews",
  "name": "Custom Reviews",
  "limit": 1,
    "settings": [
    {
      "type": "html",
      "id": "svg",
      "label": "Svg"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Reviews"
    }
    ]
},
{
  "type": "guide",
  "name": "Custom Size Guide",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Size Guide"
    },
    {
      "type": "page",
      "id": "page",
      "label": "Page"
    }
  ]
},
{
  "type": "cstock",
  "name": "Custom Stock",
  "limit": 1,
  "settings": [
    {
      "type": "range",
      "id": "limit",
      "label": "Threshold",
      "default": 10,
      "min": 1,
      "max": 10,
      "step": 1
    }
  ]
},
{
  "type": "price",
  "name": "t:product_block.price.name",
  "limit": 1
},
{
  "type": "quantity_selector",
  "name": "t:product_block.quantity_selector.name",
  "limit": 1
},
{
  "type": "complementary_products",
  "name": "Complementary products",
  "limit": 1,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product-complementary.settings.paragraph.content"
    },
    {
      "type": "text",
      "id": "product_complementary_heading",
      "label": "t:sections.product-complementary.settings.product_complementary_heading.label",
      "default": "Pairs well with"
    },
    {
      "type": "range",
      "id": "complementary_count",
      "label": "t:sections.product-complementary.settings.complementary_count.label",
      "default": 4,
      "min": 2,
      "max": 10,
      "step": 1
    },
    {
      "type": "range",
      "id": "per_slide",
      "label": "t:sections.product-complementary.settings.per_slide.label",
      "default": 2,
      "min": 2,
      "max": 4,
      "step": 1
    },
    {
      "type": "select",
      "id": "control_type",
      "label": "t:sections.product-complementary.settings.control_type.label",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.product-complementary.settings.control_type.options.dots.label"
        },
        {
          "value": "arrows",
          "label": "t:sections.product-complementary.settings.control_type.options.arrows.label"
        }
      ],
      "default": "dots"
    },
    {
      "type": "header",
      "content": "t:sections.product-complementary.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_style",
      "label": "t:sections.product-complementary.settings.image_style.label",
      "options": [
        {
          "value": "default",
          "label": "t:sections.product-complementary.settings.image_style.options.default.label"
        },
        {
          "value": "circle",
          "label": "t:sections.product-complementary.settings.image_style.options.circle.label"
        }
      ],
      "default": "default"
    }
  ]
},
{
  "type": "size_chart",
  "name": "t:product_block.size_chart.name",
  "limit": 1,
  "settings": [
    {
      "type": "page",
      "id": "size_chart",
      "label": "t:product_block.size_chart.settings.page.label"
    }
  ]
},
{
  "type": "variant_picker",
  "name": "Variant picker",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sizeguide",
      "label": "Enable Sizeguide"
    },
    {
      "type": "text",
      "id": "sizeguide_title",
      "label": "Title",
      "default": "Size Guide"
    },
    {
      "type": "checkbox",
      "id": "variant_labels",
      "label": "t:product_block.variant_picker.settings.variant_labels.label",
      "default": true
    },
    {
      "type": "select",
      "id": "picker_type",
      "label": "t:product_block.variant_picker.settings.picker_type.label",
      "options": [
        {
          "value": "button",
          "label": "t:product_block.variant_picker.settings.picker_type.options.button.label"
        },
        {
          "value": "dropdown",
          "label": "t:product_block.variant_picker.settings.picker_type.options.dropdown.label"
        }
      ],
      "default": "button"
    },
    {
      "type": "checkbox",
      "id": "product_dynamic_variants_enable",
      "label": "t:product_block.variant_picker.settings.product_dynamic_variants_enable.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "color_swatches",
      "label": "Enable color swatches",
      "info": "Requires type to be set to 'Buttons'. [Learn how to set up swatches](https://archetypethemes.co/blogs/impulse/how-do-i-set-up-color-swatches)"
    }
  ]
},
{
  "type": "description",
  "name": "t:product_block.description.name",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "is_tab",
      "label": "t:product_block.description.settings.is_tab.label"
    }
  ]
},
{
  "type": "buy_buttons",
  "name": "t:product_block.buy_buttons.name",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_dynamic_checkout",
      "label": "t:product_block.buy_buttons.settings.show_dynamic_checkout.label",
      "info": "t:product_block.buy_buttons.settings.show_dynamic_checkout.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "surface_pickup_enable",
      "label": "t:product_block.buy_buttons.settings.surface_pickup_enable.label",
      "info": "t:product_block.buy_buttons.settings.surface_pickup_enable.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_gift_card_recipient",
      "default": false,
      "label": "t:common.gift_card.show_gift_card_recipient.label",
      "info": "t:common.gift_card.show_gift_card_recipient.info"
    }
  ]
},
{
  "type": "inventory_status",
  "name": "t:product_block.inventory_status.name",
  "limit": 1,
  "settings": [
    {
      "type": "range",
      "id": "inventory_threshold",
      "label": "t:product_block.inventory_status.settings.inventory_threshold.label",
      "default": 10,
      "min": 0,
      "max": 20,
      "step": 2
    },
    {
      "type": "checkbox",
      "id": "inventory_transfers_enable",
      "label": "t:product_block.inventory_status.settings.inventory_transfers_enable.label",
      "info": "t:product_block.inventory_status.settings.inventory_transfers_enable.info",
      "default": true
    }
  ]
},
{
  "type": "sales_point",
  "name": "t:product_block.sales_point.name",
  "settings": [
    {
      "type": "select",
      "id": "icon",
      "label": "t:product_block.sales_point.settings.icon.label",
      "default": "globe",
      "options": [
        {
          "value": "checkmark",
          "label": "t:product_block.sales_point.settings.icon.options.checkmark.label"
        },
        {
          "value": "gift",
          "label": "t:product_block.sales_point.settings.icon.options.gift.label"
        },
        {
          "value": "globe",
          "label": "t:product_block.sales_point.settings.icon.options.globe.label"
        },
        {
          "value": "heart",
          "label": "t:product_block.sales_point.settings.icon.options.heart.label"
        },
        {
          "value": "leaf",
          "label": "t:product_block.sales_point.settings.icon.options.leaf.label"
        },
        {
          "value": "lock",
          "label": "t:product_block.sales_point.settings.icon.options.lock.label"
        },
        {
          "value": "package",
          "label": "t:product_block.sales_point.settings.icon.options.package.label"
        },
        {
          "value": "phone",
          "label": "t:product_block.sales_point.settings.icon.options.phone.label"
        },
        {
          "value": "ribbon",
          "label": "t:product_block.sales_point.settings.icon.options.ribbon.label"
        },
        {
          "value": "shield",
          "label": "t:product_block.sales_point.settings.icon.options.shield.label"
        },
        {
          "value": "tag",
          "label": "t:product_block.sales_point.settings.icon.options.tag.label"
        },
        {
          "value": "truck",
          "label": "t:product_block.sales_point.settings.icon.options.truck.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "text",
      "label": "t:product_block.sales_point.settings.text.label",
      "default": "Free worldwide shipping"
    }
  ]
},
{
  "type": "text",
  "name": "t:product_block.text.name",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "Text block",
      "label": "t:product_block.text.settings.text.label"
    }
  ]
},
{
  "type": "trust_badge",
  "name": "t:product_block.trust_badge.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "trust_image",
      "label": "t:product_block.trust_badge.settings.trust_image.label"
    }
  ]
},
{
  "type": "tab",
  "name": "t:product_block.tab.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:product_block.tab.settings.title.label",
      "default": "Shipping information"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "t:product_block.tab.settings.content.label",
      "default": "<p>Use collapsible tabs for more detailed information that will help customers make a purchasing decision.</p><p>Ex: Shipping and return policies, size guides, and other common questions.</p>"
    },
    {
      "type": "page",
      "id": "page",
      "label": "t:product_block.tab.settings.page.label"
    }
  ]
},
{
  "type": "share",
  "name": "t:product_block.share_on_social.name",
  "limit": 1,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:product_block.share_on_social.settings.content"
    }
  ]
},
{
  "type": "separator",
  "name": "t:product_block.separator.name"
},
{
  "type": "contact",
  "name": "t:product_block.contact_form.name",
  "limit": 1,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:product_block.contact_form.settings.content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:product_block.contact_form.settings.title.label",
      "default": "Ask a question"
    },
    {
      "type": "checkbox",
      "id": "phone",
      "label": "t:product_block.contact_form.settings.phone.label"
    }
  ]
},
{
  "type": "custom",
  "name": "t:product_block.html.name",
  "settings": [
    {
      "type": "liquid",
      "id": "code",
      "label": "t:product_block.html.settings.code.label",
      "default": "<h4>Custom code block</h4><p>Use this advanced section to add custom HTML, app scripts, or liquid.</p>",
      "info": "t:product_block.html.settings.code.info"
    }
  ]
},
{
  "type": "custom-advance-content",
  "name": "Custom Advance Content",
"settings": [
        {
          "type": "liquid",
          "id": "code",
          "label": "t:sections.advanced-content.blocks.html.settings.code.label",
          "default": "<h2>Custom content</h2><p>Use this advanced section to build your own layouts or to add custom HTML, Liquid, or scripts.</p>",
          "info": "t:sections.advanced-content.blocks.html.settings.code.info"
        },
        {
          "type": "image_picker",
          "id": "ad_image",
          "label": "t:sections.advanced-content.blocks.image.settings.image.label"
      }
  ]
}
]
}
{% endschema %}
