{%- liquid
  assign row_of = section.settings.recent_count

  capture gridView
    render 'products_per_row', products_per_row: row_of, style: 'fractions'
  endcapture

  # On smaller screen sizes, 39vw is used for grid items in the CSS
  capture sizes
    render 'sizes-explicit', sizeVariable: gridView, fallback: '39vw'
  endcapture
-%}
<style>
  .custom-recent-swiper{
    width: 100%;
  }
</style>
<div
  data-subsection
  data-section-id="{{ section.id }}"
  data-section-type="recently-viewed"
  data-product-handle="{{ product.handle }}"
  data-recent-count="{{ section.settings.recent_count }}"
  data-image-sizes="{{ sizes }}"
>
  <hr class="hr--large" style="border: 0;">
  <div class="index-section index-section--small">
    <div class="page-width">
      <header class="section-header">
        <h3 class="section-header__title" style="text-align: left;">{{ 'products.general.recent_products' | t }}</h3>
      </header>
    </div>

    <div class="page-width page-width--flush-small recently-viewed-area">
      <swiper-container slides-per-view="3" navigation="true" scrollbar="true" id="RecentlyViewed-{{ section.id }}" class="custom-recent-swiper"></swiper-container>
    </div>
  </div>
</div>


<script>
var swiperElrec = document.querySelector("#shopify-section-{{section.id}} .custom-recent-swiper");
Object.assign(swiperElrec, {
  slidesPerView: 1,
  breakpoints: {
    0: {
      slidesPerView: 1.3
    },
    768: {
      slidesPerView: 2.3
    },
    1024: {
      slidesPerView: 3
    },
    1250: {
      slidesPerView: 4
    }
  },
});
swiperElrec.initialize();
</script>
{% schema %}
{
  "name": "t:sections.recently-viewed.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.recently-viewed.settings.content"
    },
    {
      "type": "range",
      "id": "recent_count",
      "label": "t:sections.recently-viewed.settings.recent_count.label",
      "default": 5,
      "min": 2,
      "max": 10,
      "step": 1
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
