<section class="blurb-list-item-section">
    <div class="wrap-blurb-list-item-section">
        <div class="main-heading">{{ section.settings.heading }}</div>
        <div class="image-container">
            <div class="image left-image">
                <img src="{{ section.settings.left_image |  img_url: 'master' }}" alt="">
            </div>
           
            <div class="image right-image">
                <img src="{{ section.settings.right_image |  img_url: 'master' }}" alt="">
            </div>
        </div>
        <div class="content-container">
            {% for block in section.blocks %}
                <div class="wrapper">
                <div class="heading">{{ block.settings.heading }}</div>
                <div class="description">
                    {{ block.settings.description }}
                </div>
                </div>
            {% endfor %}
           
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Two Column List Section",
    "settings": [
            {
                "type": "image_picker",
                "id": "left_image",
                "label": "Left Image"
            },
            {
                "type": "image_picker",
                "id": "right_image",
                "label": "Right Image"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Main Heading"
            }
         
        ],
        "blocks": [
            {
            "type": "List",
            "name": "List Item",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                }
            ]
        }
        ],
        "presets": [
            {
                "name": "Two Column List Section"
            }
        ]
}
{% endschema %}