
<div id="contactFormWrapper">
  {% form 'contact' %}

    {% if form.posted_successfully? %}
      <div class="note-success successForm feedback">
        <p>{{ 'sections.contact_form.post_success' | t }}</p>
      </div>
    {% endif %}

    {% if form.errors %}
      <div class="errorForm feedback">
        <p>{{ 'general.forms.post_error' | t }}</p>
      </div>
    {% endif %}

  {% if type.settings.cf_show_first_name %}
    <div class="desktop-12 tablet-6 mobile-3 contained">
      <p>
        <label class="visually-hidden" for="contactFormFirstName">{{ 'sections.contact_form.firstname' | t }}</label>
        <input type="text" id="contactFormFirstName" name="contact[FirstName]" placeholder="{{ 'sections.contact_form.firstname' | t }}" />
      </p>
    </div>
  {% endif %}
  {% if type.settings.cf_show_last_name %}
    <div class="desktop-12 tablet-6 mobile-3 contained">
      <p>
        <label class="visually-hidden" for="contactFormLastName">{{ 'sections.contact_form.lastname' | t }}</label>
        <input type="text" id="contactFormLastName" name="contact[LastName]" placeholder="{{ 'sections.contact_form.lastname' | t }}" />
      </p>
    </div>
  {% endif %}
  {% if type.settings.cf_show_company_name %}
    <div class="desktop-12 tablet-6 mobile-3 contained">
      <p>
        <label class="visually-hidden" for="contactFormCompanyName">{{ 'sections.contact_form.companyname' | t }}</label>
        <input type="text" id="contactFormCompanyName" name="contact[CompanyName]" placeholder="{{ 'sections.contact_form.companyname' | t }}" />
      </p>
    </div>
  {% endif %}
  {% if type.settings.cf_show_company_name %}
    <div class="desktop-12 tablet-6 mobile-3 contained">
      <p>
        <label class="visually-hidden" for="contactFormAddress">{{ 'sections.contact_form.address' | t }}</label>
        <input type="text" id="contactFormAddress" name="contact[address]" placeholder="{{ 'sections.contact_form.address' | t }}" />
      </p>
    </div>
  {% endif %}
  {% if type.settings.cf_show_website_url %}
    <div class="desktop-12 tablet-6 mobile-3 contained">
      <p>
        <label class="visually-hidden" for="contactFormWebsiteURL">{{ 'sections.contact_form.websiteurl' | t }}</label>
        <input type="text" id="contactFormWebsiteURL" name="contact[WebsiteUrl]" placeholder="{{ 'sections.contact_form.websiteurl' | t }}" />
      </p>
    </div>
  {% endif %}
  <div class="desktop-12 tablet-6 mobile-3 contained">
    <p>
      <label class="visually-hidden" for="contactFormEmail">{{ 'sections.contact_form.email' | t }}</label>
      <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'sections.contact_form.email' | t }}" />
    </p>
  </div>
  {% if type.settings.cf_show_phone %}
    <div class="desktop-12 tablet-6 mobile-3 contained">
      <p>
        <label class="visually-hidden" for="contactFormTelephone">{{ 'sections.contact_form.phone' | t }}</label>
        <input type="text" id="contactFormTelephone" name="contact[phone]" placeholder="{{ 'sections.contact_form.phone' | t }}" />
      </p>
    </div>
  {% endif %}
  {% if type.settings.cf_show_custom_field_one %}
    <div class="desktop-12 tablet-6 mobile-3 contained">
      <p>
        {% if type.settings.cf_custom_field_one_type == 'input' %}
            <label class="visually-hidden" for="contactFormCustomFieldOne">{{ type.settings.cf_custom_field_one }}</label>
            <input type="text" id="contactFormCustomFieldOne" name="contact[CustomFieldOne]" placeholder="{{ type.settings.cf_custom_field_one }}" />
        {% else %}
          <label class="visually-hidden" for="contactFormCustomFieldOne">{{ type.settings.cf_custom_field_one }}</label>
          <textarea rows="15" cols="90" id="contactFormCustomFieldOne" name="contact[CustomFieldOne]" placeholder="{{ type.settings.cf_custom_field_one }}"></textarea>
        {% endif %}
      </p>
    </div>
  {% endif %}
  {% if type.settings.cf_show_custom_field_two %}
    <div class="desktop-12 tablet-6 mobile-3 contained">
      <p>
        {% if type.settings.cf_custom_field_two_type == 'input' %}
            <label class="visually-hidden" for="contactFormCustomFieldTwo">{{ type.settings.cf_custom_field_two }}</label>
            <input type="text" id="contactFormCustomFieldTwo" name="contact[CustomFieldTwo]" placeholder="{{ type.settings.cf_custom_field_two }}" />
        {% else %}
          <label class="visually-hidden" for="contactFormCustomFieldTwo">{{ type.settings.cf_custom_field_two }}</label>
          <textarea rows="15" cols="90" id="contactFormCustomFieldTwo" name="contact[CustomFieldTwo]" placeholder="{{ type.settings.cf_custom_field_two }}"></textarea>
        {% endif %}
      </p>
    </div>
  {% endif %}

    <div class="desktop-12 tablet-6 mobile-3 contained">
      <p>
        <label class="visually-hidden" for="contactFormMessage">{{ 'sections.contact_form.message' | t }}</label>
        <textarea rows="15" cols="90" id="contactFormMessage" name="contact[body]" placeholder="{{ 'sections.contact_form.message' | t }}"></textarea>
      </p>
      <p>
        <input type="submit" id="contactFormSubmit" class="secondary button" value="{{ 'sections.contact_form.send' | t }}" />
      </p>
    </div>
  {% endform %}
</div>

<div class="clear"></div>
