<div class="grid__item medium-up--one-third small--one-whole">
  <a href="{{ article.url }}" class="article__link">
    {% if article.image %}
    {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
    {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
    {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
      <div class="article__grid-image lazyload lazyfade"
           style="background-image: url({{article.image | img_url: '200x'}});"
           data-bgset="{% include 'bgset', image: article.image %}"
           data-sizes="auto"
           data-parent-fit="contain">
      </div>
    </div>
    <noscript>
      <div class="article__grid-image-wrapper">
        {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
      </div>
    </noscript>
    {% endif %}
  </a>
  <div class="article__tags text-center rte">
    {% for tag in article.tags %}
    {% unless tag contains ':' %}
    <a href="/blogs/news/tagged/{{tag | handle}}" class="article__grid-tag">{{tag}}</a>
    {% endunless %}
    {% endfor %}
  </div>

  <h2 class="article__title text-center h4{% if article.image %} article__title--has-image{% endif %}">
    {{ article.title | escape | link_to: article.url }}
  </h2>


  <div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %} text-center">
    {% if section.settings.blog_show_author %}
    <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
    {% endif %}

    {% if section.settings.blog_show_date %}
    <span class="article__date">
      {{ article.published_at | time_tag: format: 'month_day_year' }}
    </span>
    {% endif %}

    <div class="rte article__grid-excerpt">
      {% if article.excerpt.size > 0 %}
      {{- article.excerpt -}}
      {% else %}
      {{- article.content | strip_html | truncate: 150 -}}
      {% endif %}
    </div>



    <ul class="list--inline article__meta-buttons text-center">
      <li>
        <a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
          {{ 'blogs.article.read_more' | t }}
        </a>
      </li>     
    </ul>
  </div>
</div>