{% render 'hs-defer-css' with filename: 'contact-form.css', pages: 'collection,index,product' | split: ',', minify: true, local: true %}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
    {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
    {%- if form.posted_successfully? -%}
    <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>Thank you for taking the time to fill out the PINKYS form. A representative will contact you shortly.</h2>
    {%- elsif form.errors -%}
    <div class="form__message">
      <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>Error</h2>
    </div>
    <ul class="form-status-list caption-large" role="list">
      <li>
        <a href="#ContactForm-email" class="link">
          {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
        </a>
      </li>
    </ul>
    {%- endif -%}
    <div class="contact__fields">
      <div class="field">
        <label class="field__label" for="ContactForm-first-name">First name <span aria-hidden="true">*</span></label>
        <input required class="field__input" autocomplete="name" type="text" id="ContactForm-first-name" name="contact[first_name]" value="{% if form.first_name %}{{ form.first_name }}{% elsif customer %}{{ customer.first_name }}{% endif %}" >
      </div>
      <div class="field">
        <label class="field__label" for="ContactForm-last-name">Last name <span aria-hidden="true">*</span></label>
        <input required class="field__input" autocomplete="name" type="text" id="ContactForm-last-name" name="contact[last_name]" value="{% if form.last_name %}{{ form.last_name }}{% elsif customer %}{{ customer.last_name }}{% endif %}" >
      </div>
      <div class="field field--with-error">
        <label class="field__label" for="ContactForm-email">Email <span aria-hidden="true">*</span></label>
        <input
               autocomplete="email"
               type="email"
               id="ContactForm-email"
               class="field__input"
               name="contact[email]"
               spellcheck="false"
               autocapitalize="off"
               required
               value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
               aria-required="true"
               {% if form.errors contains 'email' %}
               aria-invalid="true"
               aria-describedby="ContactForm-email-error"
               {% endif %}

               >

        {%- if form.errors contains 'email' -%}
        <small class="contact__field-error" id="ContactForm-email-error">
          <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
          <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
        </small>
        {%- endif -%}
      </div>
      
      <div class="field">
        <label class="field__label" for="ContactForm-phone">Phone</label>
        <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" >
        
      </div>
      
      <div class="field">
        <label class="field__label" for="ContactForm-company">Company</label>
        <input type="text" id="ContactForm-company" class="field__input" autocomplete="company" name="contact[company]" value="{% if form.company %}{{ form.company }}{% elsif customer %}{{ customer.current_company }}{% endif %}" >
      </div>
      
      
      <div class="field">
        &nbsp;
        {% comment %}
        <label class="field__label" for="ContactForm-order-number">Order # (if applicable)</label>
        <input type="text" id="ContactForm-order-number" class="field__input" autocomplete="company" name="contact[order_number]" value="{% if form.order_number %}{{ form.order_number }}{% endif %}" >
        {% endcomment %}
      </div>


      <div class="field full-width">
        <label class="form__label field__label" for="ContactForm-body">Description</label>
        <textarea
                  rows="10"
                  id="ContactForm-body"
                  class="text-area field__input"
                  name="contact[description]"
                  required
                  >
          {{- form.body -}}
        </textarea>
        
      </div>
    </div>
    <div class="contact__button">
      <button type="submit" class="btn btn--primary">Submit</button>
    </div>
    {%- endform -%}
  </div>
</div>