<div class="page-width--tiny index-section">
  <div class="contact-form form-vertical">
    {%- assign formId = 'ContactForm' -%}
    {% form 'contact', id: formId %}
    {% include 'form-status', form_id: formId %}

    <div class="grid grid--half-gutters">
      {% assign labelsHidden = true %}
      {% include 'form-item', width:'medium-up--one-half', type:'text', name:'First Name', required: true %}
      {% include 'form-item', width:'medium-up--one-half', type:'text', name:'Last Name', required: true %}
      {% include 'form-item', width:'medium-up--one-half', type:'text', name:'Company Name', required: true %}
      {% include 'form-item', width:'medium-up--one-half', type:'text', name:'Email', required: true %}
      {% include 'form-item', width:'medium-up--one-half', type:'text', name:'Phone Number', required: true %}
      {% include 'form-item', width:'medium-up--one-half', type:'text', name:'Street Address', required: true %}
      {% include 'form-item', width:'medium-up--one-half', type:'text', name:'City', required: true %}
      {% include 'form-item', width:'medium-up--one-quarter', type:'text', name:'State', required: true %}
      {% include 'form-item', width:'medium-up--one-quarter', type:'text', name:'Zip', required: true %}
      {% include 'form-item', width:'medium-up--one-half', type:'text', name:'Country', required: true %}
      {% include 'form-item', width:'medium-up--one-half', type:'text', name:'Yelp Profile URL', required: true %}
      {% include 'form-item', width:'medium-up--one-half', type:'text', name:'Zip Code you can service', required: true %}

      {% include 'form-item', width:'medium-up--one-half', type:'text', name:'Up to how many miles from service zip code can you service?', required: true %}
      
      {% include 'form-item', width:'one-whole', type:'text', name:'License #', required: true %}
    </div>

    <label class="visually-hidden" for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
    <textarea rows="10" id="{{ formId }}-message" name="contact[body]" placeholder="Tell us about yourself">{% if form.body %}{{ form.body }}{% endif %}</textarea>

    <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

    {% endform %}
  </div>
</div>
