<div class="impact-block" {% if section.settings.bg_image %}style="background-image:url({{ section.settings.bg_image | img_url: 'master' }})"{% endif %}>
    <div class="wrap-impact-block">
        <div class="content-block">
            <h2 class="heading" data-aos="fade-up" data-aos-duration="1000">{{ section.settings.heading }}</h2>
            <div class="divider-block">
                <div class="content-text-block"  data-aos="fade-up" data-aos-duration="1200">
                    <div class="title">{{ section.settings.left_title }}</div>
                    <div class="text">{{ section.settings.left_text }}</div>
                </div>
                
                <div class="line"></div>

                <div class="content-text-block"  data-aos="fade-up" data-aos-duration="1500">
                    <div class="title">{{ section.settings.right_title }}</div>
                    <div class="text">{{ section.settings.right_text }}</div>
                </div>
            </div>
        </div>
    </div>
</div>



{% schema %}
    {
      "name": "Impact Process Block",
      "tag": "section",
      "class": "impact-section",
      "settings": [
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Image"
            },
            {
              "type": "text",
              "id": "heading",
              "label": "Heading"
            },
            {
              "type": "text",
              "id": "left_title",
              "label": "Left Title"
            },
            {
              "type": "textarea",
              "id": "left_text",
              "label": "Left Text"
            },
            {
              "type": "text",
              "id": "right_title",
              "label": "Right Title"
            },
            {
              "type": "textarea",
              "id": "right_text",
              "label": "Right Text"
            }
          
      ],
     
      "presets": [
        {
          "name": "Impact Process Block"
        }
      ]
    }
    {% endschema %}