<section class="technology-cycle-slider cycle-slider">
    {% for block in section.blocks %}
        <div class="wrap-cycle-slider">
            <div class="content-block" style="background-image: url({{ block.settings.bg_image |  img_url: 'master' }});">
                <div class="content">
                    <div class="main-title">{{ block.settings.title }}</div>
                    <div class="text">{{ block.settings.text }}</div>
                {% if block.settings.btn_text != blank %} <a class="link_btn" href="{{ block.settings.button_link }}">{{ block.settings.btn_text }} </a>{% endif %}
                </div>
            </div>
        </div>        
    {% endfor %}
</section>


{% schema %}
    {
      "name": "Technology - Cycle Slider",
      "tag": "section",
      "class": "technology-cycle-section",
      "settings": [
      ],
      "blocks": [
        {
          "name": "slide",
          "type": "slide",
          "settings":[
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "background Image"
            },
            
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "text",
                "id": "btn_text",
                "label": "Link Title"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Link"
            }
           
          ]
        }
      ],
      "presets": [
        {
          "name": "Technology - Cycle Slider"
        }
      ]
    }
    {% endschema %}