{% if false %}
						{% assign excluded_vat_text = "exc. VAT | " %}
						{% assign included_vat_text = "inc. VAT" %}
				<div class="bss-b2b-cart-vat" data-cart-vat-line-item-key="{{ item.key }}" data-cart-variant-taxable="{{ item.taxable }}" data-cart-item-final-line-price="{{ item.final_line_price }}" data-cart-item-collections="{% for collection in item.product.collections %}{{ collection.id }}{% unless forloop.last %},{% endunless %}{% endfor %}">
  	<span class="bss-b2b-cart-item-no-vat-price" data-excluded-vat-text="{{ excluded_vat_text }}"></span>
  	<span class="bss-b2b-cart-item-with-vat-price"  data-included-vat-text="{{ included_vat_text }}"></span>
</div>{% endif %}