<!-- /snippets/product-template.liquid -->
<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
<meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

{% assign on_sale = false %}

{% if current_variant.compare_at_price > current_variant.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}

{% if current_variant.available %}
  {% assign sold_out = false %}
{% endif %}

{% capture variantStatus %}
  {% if sold_out == true %}
    variant-soldout
  {% else %}
	variant-available
  {% endif %}
{% endcapture %}

{%- assign enable_zoom = section.settings.enable_zoom -%}
{%- assign product_image_zoom_size = '1024x1024' -%}
{%- assign product_image_scale = '2' -%}

{% capture product_header_layout %}
  {% if section.settings.product_vendor %}
    <p class="product-single__vendor vendor" itemprop="brand">{{ product.vendor }}</p>
  {% endif %}

  {% if settings.review_badge == 'review_badge_above' %}
    {% include 'review-badge', badge_template: 'product' %}
  {% endif %}

  <h1 class="product-single__title {% if section.settings.product_title_size %}product-title-big {% endif %}" itemprop="name">
    {% if template != "product" %}
       <a {% unless section_onboarding %} href="{{ product.url }}?variant={{ current_variant.id }}"{% endunless %}>
    {% endif %}

    {% unless section_onboarding %}
      {{ product.title }}
    {% else %}
      {{ title }}
    {% endunless %}

    {% if template != "product" %}
      </a>
    {% endif %}
  </h1>

  <!-- Stamped - Begin Star Rating Badge -->
    <span class="stamped-product-reviews-badge" style="margin-bottom:10px;" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}"  style="display:block;"> {{product.metafields.stamped.badge}} </span>
  <!-- Stamped - End Star Rating Badge -->
  
  {% if settings.review_badge == 'review_badge_under' %}
    {% include 'review-badge', badge_template: 'product' %}
  {% endif %}
{% endcapture %}

<div class="product-single{% if section.settings.product_photo_alignement == 'right' %} product-photos-right{% endif %}">
  <div class="box">
    <div class="wrapper">
      <div class="grid product-wrapper">
        <!-- images -->
        <div
          class="
            product-photos grid__item medium--six-twelfths large--six-twelfths
            {% if section.settings.image_layout == "stacked" %}layout-stacked
            {% elsif section.settings.image_layout == "thumbnail" %}layout-thumbnail {% endif %}
            mobile-image-{{ section.settings.mobile_image }}
          "
        >
          <div class="medium--hide large--hide text-center">
            {{ product_header_layout }}
          </div>

          <!--
            <div
              class="
                product-single__photos slick-format slick-format-sm
                {% if section.settings.image_layout == "stacked" %}product-stacked__photos
                {% elsif section.settings.image_layout == "thumbnail" %}product-thumbnail__photos{% endif %}
              "
            >
          -->
          <div>
            {% if section_onboarding %}
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {% else %}
              {% capture img_id_class %}product-single__photo-{{ featured_image.id }}{% endcapture %}
              {% capture zoom_img_id %}FeaturedImageZoom-{{ featured_image.id }}-{{ image.id }}{% endcapture %}
              {% capture wrapper_id %}ProductImageWrapper-{{ featured_image.id }}{% endcapture %}

              {% comment %}
                Display current variant image
              {% endcomment %}
              <div class="product-single__photo--flex-wrapper">
                <div class="product-single__photo--flex">
                  <div
                    id="{{ wrapper_id }}"
                    class="product-single__photo--container {% if section.settings.image_layout == "thumbnail" %}product-single__photo--container-thumb{% endif %}"
                  >
                    <img
                      class="product-single__photo"
                      src="{{ featured_image | img_url: 'master' }}"
                      alt="{{ featured_image.alt | escape }}"
                      data-image-id="{{ featured_image.id }}"
                    >
                  </div>
                </div>
              </div>
            {% endif %}

            {% comment %}
              Display variant image
            {% endcomment %}

            {% for image in product.images %}
              {% unless image.id == featured_image.id %}
                {% capture img_id_class %}product-single__photo-{{ image.id }}{% endcapture %}
                {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ image.id }}{% endcapture %}
                {% capture wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}

                <div class="product-single__photo--flex-wrapper not-featured-image">
                  <div class="product-single__photo--flex">
                    <div
                      id="{{ wrapper_id }}"
                      class="product-single__photo--container{% if section.settings.image_layout == "thumbnail" %} product-single__photo--container-thumb{% endif %}"
                    >
                      <div
                        id="{{ zoom_img_id }}"
                        class="product-single__photo-wrapper image-wrapper {% if enable_zoom %} js-zoom-enabled{% endif %}"
                        {% if enable_zoom %}
                          data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"
                        {% endif %}
                        style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;"
                        data-image-id="{{ image.id }}"
                      >
                        {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                        <img
                          class="product-single__photo image lazyload {{ img_id_class }}"
                          src="{{ image | img_url: '300x' }}"
                          data-src="{{ img_url }}"
                          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                          data-aspectratio="{{ image.aspect_ratio }}"
                          data-sizes="auto"
                          data-image-id="{{ image.id }}"
                          alt="{{ image.alt | escape }}"
                        >

                        <noscript>
                          <img
                            class="product-single__photo"
                            src="{{ image.src | img_url: 'master' }}"
                            alt="{{ image.alt | escape }}"
                            data-image-id="{{ image.id }}"
                          >
                        </noscript>
                      </div>
                    </div>
                  </div>
                </div>
              {% endunless %}
            {% endfor %}
          </div>
          {% unless product.id == 8488179269850 %}
            {% if product.images.size > 1 %}
              <div
                class="product-single__thumbnails slick-format slick-format-sm grid grid--small {% if product.images.size < 6  %}slick-disabled{% endif %}"
                id="ProductThumbs"
              >
                <div class="grid__item one-fifth">
                  <a class="product-single__thumbnail">
                    <img
                      class="product-single__thumb"
                      src="{{ featured_image.src | img_url: '150x150', crop: 'center' }}"
                      alt="{{ featured_image.alt | escape }}"
                    >
                  </a>
                </div>
                {% for image in product.images %}
                  {% unless image.id == featured_image.id %}
                    <div class="grid__item one-fifth">
                      <a class="product-single__thumbnail">
                        <img
                          class="product-single__thumb"
                          src="{{ image.src | img_url: '150x150', crop: 'center' }}"
                          alt="{{ image.alt | escape }}"
                        >
                      </a>
                    </div>
                  {% endunless %}
                {% endfor %}
              </div>
            {% endif %}

            {% include 'dbtfy-product-video' %}
          {% endunless %}
        </div>

        <!-- product details -->
        <div
          data-upsell-target-id="{{ product.id }}"
          class="product-details grid__item medium--six-twelfths large--six-twelfths {{variantStatus}}"
        >
          <div class="product-single__meta">
            <div class="small--hide {{ section.settings.product_header_alignement }}">
              {{ product_header_layout }}
            </div>
            {% if product.id == 8488179269850 %}
            <div
              data-rid="1eeac712-2b69-4a19-a94d-9927057e4960"
              data-replo-repeated-index=".0.0.0.0.0.0"
              tabindex="0"
              role="link"
              class="review-section"
            >
              <div
                data-rid="f331c583-197e-4fc4-ad9b-14f3b9575b84"
                data-replo-repeated-index=".0.0.0.0.0.0.0"
                class="r-ggilf1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12px"
                  height="12px"
                  fill="#FFB815FF"
                  class="r-rjzo47"
                  viewBox="0 0 16 16"
                >
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12px"
                  height="12px"
                  fill="#FFB815FF"
                  class="r-rjzo47"
                  viewBox="0 0 16 16"
                >
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12px"
                  height="12px"
                  fill="#FFB815FF"
                  class="r-rjzo47"
                  viewBox="0 0 16 16"
                >
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12px"
                  height="12px"
                  fill="#FFB815FF"
                  class="r-rjzo47"
                  viewBox="0 0 16 16"
                >
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12px"
                  height="12px"
                  fill="#FFB815FF"
                  class="r-rjzo47"
                  viewBox="0 0 16 16"
                >
                  <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"></path>
                </svg>
              </div>
              <div
                data-rid="1975132c-a60f-4c26-bf48-74a854a0a5af"
                data-replo-repeated-index=".0.0.0.0.0.0.0"
                class="r-1focadd alchemy-rte"
                style="margin-left: 20px;"
              >
                <span contenteditable="false" style="width:100%">929 reviews | Excellent 4.88 Stars</span>
              </div>
            </div>
            {% endif %}
            {% if product.id == 8488179269850 %}
              <div
                class="selected-design"
              >
                <div
                  class="r-121d6ls alchemy-rte"
                >
                  <span contenteditable="false" style="width:100%">Selected Design&nbsp; |</span>
                </div>
                <div
                  class="variant-title"
                >
                  <span contenteditable="false" style="width:100%">{{ current_variant.title }}</span>
                </div>
              </div>
 
            {% endif %}

            <div
              itemprop="offers"
              itemscope
              itemtype="http://schema.org/Offer"
              style=" background: #e5a5560f;  padding: 20px;  border-radius: 8px;"
            >
              {% if product.id != 8488179269850 %}
                <div class="price-wrapper {{ section.settings.product_header_alignement }}" data-price-container>
                  {% if section_onboarding %}
                    <span
                      bss-b2b-product-id="{{ product.id }}"
                      data-sale-price
                      bss-b2b-product-price
                      bss-b2b-product-parent-price
                      id="ProductPrice"
                      class="product-single__price"
                      itemprop="price"
                      content="{{ price | divided_by: 100.00 }}"
                    >
                      <span
                        bss-b2b-product-id="{{ product.id }}"
                        bss-b2b-variant-price
                        bss-b2b-variant-id="{{ variant.id }}"
                        bss-b2b-product-sale-price
                      >
                        {{- price | money -}}
                      </span>
                    </span>
                  {% else %}
                    {% if on_sale %}
                      <span
                        id="PriceA11y"
                        class="visually-hidden"
                        {% if sold_out %}
                          aria-hidden="true"
                        {% endif %}
                      >
                        {{- 'products.general.regular_price' | t -}}
                      </span>
                      <span class="product-single__price--wrapper" aria-hidden="false">
                        <span
                          bss-b2b-product-id="{{ product.id }}"
                          data-sale-price
                          bss-b2b-product-price
                          bss-b2b-product-compare-price
                          id="ComparePrice"
                          class="price-compare product-single__price--compare-at"
                        >
                          <span bss-b2b-product-id="{{ product.id }}" data-regular-price bss-b2b-product-compare-price>
                            {{- current_variant.compare_at_price | money -}}
                          </span>
                        </span>
                      </span>
                      <span id="ComparePriceA11y" class="visually-hidden" aria-hidden="false">
                        {{- 'products.general.sale_price' | t -}}
                      </span>
                    {% else %}
                      <span
                        id="PriceA11y"
                        class="visually-hidden"
                        {% if sold_out %}
                          aria-hidden="true"
                        {% endif %}
                      >
                        {{- 'products.general.regular_price' | t -}}
                      </span>
                      <span class="product-single__price--wrapper hide" aria-hidden="true">
                        <span
                          bss-b2b-product-id="{{ product.id }}"
                          data-sale-price
                          bss-b2b-product-price
                          bss-b2b-product-compare-price
                          id="ComparePrice"
                          class="price-compare product-single__price--compare-at"
                        ></span>
                      </span>
                      <span id="ComparePriceA11y" class="visually-hidden" aria-hidden="true">
                        {{- 'products.general.sale_price' | t -}}
                      </span>
                    {% endif %}

                    <span
                      bss-b2b-product-id="{{ product.id }}"
                      data-sale-price
                      bss-b2b-product-price
                      bss-b2b-product-parent-price
                      id="ProductPrice"
                      class="product-single__price{% if on_sale %} on-sale{% endif %}"
                      itemprop="price"
                      data-sale-price
                      bss-b2b-product-id="{{ product.id }}"
                      bss-b2b-product-price
                      bss-b2b-product-parent-price
                      content="{{ current_variant.price | divided_by: 100.00 }}"
                      {% unless current_variant.available %}
                        aria-hidden="true"
                      {% endunless %}
                    >
                      <span
                        bss-b2b-product-id="{{ product.id }}"
                        bss-b2b-variant-price
                        bss-b2b-variant-id="{{ current_variant.id }}"
                        bss-b2b-current-variant-price
                      >
                        {{- current_variant.price | money -}}
                      </span>
                    </span>
                    {%- include 'dbtfy-discount-saved' %}
                  {% endif %}
                  {% if settings.position_currency_converter == 'product' %}{% include 'currency-selector' %}{% endif %}
                </div>
              {% endif %}
              {% comment %}
                       {% include "dbtfy-inventory-quantity" %}{% include "dbtfy-live-view" %}{% include "dbtfy-delivery-time" %}<meta itemprop="priceCurrency" content="{{ shop.currency }}">
                <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
              {% endcomment %}
              {% if product.id == 8488179269850 %}
                 {% if product.images.size > 1 %}
                  {% for image in product.images %}
                    <div class="grid__item one-quarter" style="margin-bottom: 20px;">
                      <a class="product-single__thumbnail" style="border-radius: 50% !important;">
                        <img
                          class="product-single__thumb"
                          src="{{ image.src | img_url: '150x150', crop: 'center' }}"
                          alt="{{ image.alt | escape }}"
                        >
                      </a>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endif %}
              {% if section_onboarding %}
                <div class="product-single__add-to-cart default-product product-single__add-to-cart--full-width">
                  <button
                    type="submit"
                    name="add"
                    id="AddToCart--{{ section.id }}"
                    class="btn btn--buy btn--add-to-cart"
                    disabled="disabled"
                  >
                    <span class="btn__text">
                      <span class="fas fa-clock"></span>
                      {{ 'products.product.sold_out' | t }}
                    </span>
                  </button>
                </div>
              {% else %}
                {% capture "form_classes" %}
                    product-single__form{% if product.has_only_default_variant %} product-single__form--no-variants{% endif %}
                  {%- endcapture %}

                {% capture "form_id" %}AddToCartForm--{{ section.id }}{%- endcapture %}

                {% include 'dbtfy-color-swatches' %}
                {% form 'product', product, class: form_classes, id: form_id %}
                  {% unless product.has_only_default_variant %}
                    <div class="grid grid-uniform grid--small variant-wrapper">
                      {% for option in product.options_with_values %}
                        <div class="grid__item radio-wrapper js product-form__item {% if section.settings.product_selector == 'radio' %}product-form__item-radio {% endif %}">
                          <label
                            class="single-option-radio__label{% if option.name == 'Default' or option.name == 'Title' %} hidden-label{% endif %}"
                            for="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}"
                          >
                            {{ option.name | escape }}
                          </label>

                          {% if section.settings.product_selector == 'radio' %}
                            <fieldset
                              class="single-option-radio"
                              name="{{ option.name | handleize }}"
                              id="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}"
                            >
                              {% assign option_index = forloop.index %}
                              {% for value in option.values %}
                                {% assign variant_label_state = true %}
                                {% if product.options.size == 1 %}
                                  {% unless product.variants[forloop.index0].available %}
                                    {% assign variant_label_state = false %}
                                  {% endunless %}
                                {% endif %}

                                <input
                                  type="radio"
                                  {% if option.selected_value == value %}
                                    checked="checked"
                                  {% endif %}
                                  {% unless variant_label_state %}
                                    disabled="disabled"
                                  {% endunless %}
                                  value="{{ value | escape }}"
                                  data-index="option{{ option_index }}"
                                  name="{{ option.name | handleize }}"
                                  class="single-option-selector__radio{% unless variant_label_state %} disabled{% endunless %}"
                                  id="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}"
                                >
                                <label
                                  for="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}"
                                  class="btn btn--small {% unless variant_label_state %} disabled{% endunless %}"
                                >
                                  {{- value | escape -}}
                                </label>
                              {% endfor %}
                            </fieldset>
                          {% else %}
                            <select
                              class="single-option-selector__radio single-option-selector-{{ section.id }} product-form__input"
                              id="SingleOptionSelector-{{ forloop.index0 }}"
                              data-index="option{{ forloop.index }}"
                            >
                              {% for value in option.values %}
                                <option
                                  value="{{ value | escape }}"
                                  {% if option.selected_value == value %}
                                    selected="selected"
                                  {% endif %}
                                >
                                  {{ value | escape }}
                                </option>
                              {% endfor %}
                            </select>
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  {% endunless %}
                  <input type="hidden" name="properties[Custom Display Name]" id="custom_display_name" value="">
                  <select name="id" id="ProductSelect" class="product-single__variants no-js product-form__item">
                    {% for variant in product.variants %}
                      {% if variant.available %}
                        <option
                          {% if variant == product.selected_or_first_available_variant %}
                            selected="selected"
                          {% endif %}
                          data-sku="{{ variant.sku }}"
                          value="{{ variant.id }}"
                        >
                          {{ variant.title }} -
                          <span
                            bss-b2b-product-id="{{ product.id }}"
                            bss-b2b-variant-price
                            bss-b2b-variant-id="{{ variant.id }}"
                            bss-b2b-variant-price
                          >
                            {{- variant.price | money_with_currency -}}
                          </span>
                        </option>
                      {% else %}
                        <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  {% include 'paywhirl-subscriptions-product-selling-plans', product: product %}
                  <div class="qty-and-cart">
                    {% if section.settings.quantity_enabled %}
                      <div class="product-single__quantity product-form__item">
                        {% if product.id != 8488179269850 %}
                          <label for="Quantity" class="product-single__quantity-label">
                            {{- 'products.product.quantity' | t -}}
                          </label>
                        {% endif %}
                        {% include 'quantity-selector', type: 'product' %}
                      </div>
                    {% endif %}
                    <div class="product-single__add-to-cart product-single__add-to-cart--full-width">
                      <button
                        type="submit"
                        name="add"
                        id="AddToCart--{{ section.id }}"
                        class="btn btn--buy btn--add-to-cart"
                        {% unless current_variant.available %}
                          disabled="disabled"
                        {% endunless %}
                      >
                        <span class="btn__text">
                          {% if section.settings.button_cart_icon %}
                            <span class="fas fa-shopping-{{ settings.cart_icon }} button-cart-icon"></span>
                            <span class="fas fa-clock button-soldout-icon"></span>
                          {% endif %}
                          <span class="btn__add-to-cart-text">
                            {% if current_variant.available %}
                              {% if product.id == 6595551920293 %}
                                Subscribe & Save
                              {% else %}
                                {{ 'products.product.add_to_cart' | t }}
                              {% endif %}
                            {% else %}
                              {{ 'products.product.sold_out' | t }}
                            {% endif %}
                          </span>
                        </span>
                      </button>
                    </div>
                  </div>
                  {% if product.id == 8488179269850 %}
                  <div class="j4-sale">
                    <span>JULY 4TH SALE — 2 for $99&nbsp; </span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      role="presentation"
                      class="r-1c5715t"
                    >
                      <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                    </svg>
                  </div>
                  <div class="free-paddle">Free Paddle Cover with purchase</div>
                  {%  endif %}
                  {% if section.settings.amazon_enable %}
                    <a
                      class="btn amazon-button {% if current_variant.id != 36653232619685 %}button-hidden{% endif %}"
                      href="{{ section.settings.amazon_link }}"
                      target="_blank"
                    >
                      {{- section.settings.amazon_button_label -}}
                    </a>
                  {% endif %}
                  {% if section.settings.enable_payment_button %}
                    {{ form | payment_button }}
                  {% endif %}
                {% endform %}
                </div>
              {% endif %}

              {% include 'dbtfy-sales-countdown' -%}
              {%- include 'dbtfy-trust-badge', position: 'product' -%}
              {%- unless product.description == blank or section.settings.show_description == false %}
                <div class="product-single__description rte" itemprop="description">
                  {% comment %}
                    <img class="usapa-img" src="{{ 'usapa.png' | file_img_url: '150x' }}" alt="">
                  {% endcomment %}
                  {{ product.description }}
                </div>
              {% endunless %}
              {% include 'dbtfy-product-tabs' %}
              {% if section.settings.social_sharing_products %}
                {% include 'social-sharing',
                  share_title: product.title,
                  share_permalink: product.url,
                  share_image: product
                %}
              {% endif %}
            </div>

            {% comment %}
              {% if section.settings.show_product_tags %}
                {% for tag in product.tags %}
                  {% if forloop.first %}
                    <div class="product-tags">
                      <span>{{ 'blogs.article.tags' | t }}: </span>
                  {% endif %}
                  <a class="text-link" href="/collections/all/{{ tag | handleize }}">{{ tag }}</a>
                  {% if forloop.last %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endcomment %}

            {% if template != 'product' %}
              <hr>
              <a
                {% unless section_onboarding %}
                  href="{{ product.url }}?variant={{ current_variant.id }}"
                {% endunless %}
                class="text-link continue-link"
              >
                {{ 'products.product.full_details' | t }}
                <span class="fas fa-arrow-right" aria-hidden="true"></span>
              </a>
            {% endif %}
          </div>
          {% include 'dbtfy-sticky-addtocart' %}
        </div>
      </div>
      <!-- /.grid -->
    </div>
    <!-- /.wrapper -->
  </div>
  <!-- /.box -->
  <!-- /.product-single -->
  {% include 'dbtfy-linked-options' %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var thumbnails = document.querySelectorAll('.product-single__thumbnail');
    var customDisplayNames = {
      "Tree": "Forest camo",
      "Digital": "Digital camo",
      "Versace": "Venice"
    };

  // Call the update function whenever featured_image or current_variant changes
  // Example: call this function after updating featured_image or current_variant in your Liquid template

    thumbnails.forEach(function(thumbnail) {
      thumbnail.addEventListener('click', function(event) {
        event.preventDefault();
        var imageSrc = event.currentTarget.querySelector('.product-single__thumb').getAttribute('src');
        var currentVariant = null;
        var featuredImage = clickedImage;
        // Find the corresponding image in product.images
        var clickedImage = null;
        {% for image in product.images %}
          if ("{{ image.src | img_url: '150x150', crop: 'center' }}" === imageSrc) {
            clickedImage = {{ image | json }};
          }
        {% endfor %}
        // console.log('clicked image', clickedImage);
        // Update current_variant and featured_image
        var productVariants = {{ product.variants | json }};
        productVariants.forEach(function(variant) {
          if (variant.featured_image && variant.featured_image.src.includes(clickedImage)) {
            currentVariant = variant;
            featuredImage = variant.featured_image.src;
          }
        });
        if(currentVariant) {
            var variantTitle = currentVariant.title;
            var customTitle = customDisplayNames[variantTitle] || variantTitle;
            
            document.querySelector('.variant-title span').textContent = customTitle;
          
            var customDisplayNameInput = document.getElementById('custom_display_name');
            if (customDisplayNameInput) {
              customDisplayNameInput.value = customTitle;
            }
            var variantSelect = document.getElementById('ProductSelect');
            if (variantSelect) {
              variantSelect.value = currentVariant.id;
            }
        }
        var mainImageElement = document.querySelectorAll('.product-single__photo--container.product-single__photo--container-thumb .product-single__photo')[0];
        if (mainImageElement && clickedImage) {
          mainImageElement.setAttribute('src', clickedImage);
          mainImageElement.setAttribute('alt', 'print-paddle');
        }
      });
    });
  });
</script>
