{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_dcd1969f-3cbc-4d3b-b8a0-4d8f44b8c540 = section.settings['replo_text_dcd1969f-3cbc-4d3b-b8a0-4d8f44b8c540'] -%}
    {%- capture default_replo_text_dcd1969f-3cbc-4d3b-b8a0-4d8f44b8c540 -%}<p>Why CORE Camps?</p>{%- endcapture -%}
    {%- assign replo_text_dcd1969f-3cbc-4d3b-b8a0-4d8f44b8c540 = replo_text_dcd1969f-3cbc-4d3b-b8a0-4d8f44b8c540 | default: default_replo_text_dcd1969f-3cbc-4d3b-b8a0-4d8f44b8c540 -%}
    "replo_text_dcd1969f-3cbc-4d3b-b8a0-4d8f44b8c540": {{ replo_text_dcd1969f-3cbc-4d3b-b8a0-4d8f44b8c540 | json }}, {%- assign replo_text_b53e5b14-bf03-415e-b807-7e9c74b6bc33 = section.settings['replo_text_b53e5b14-bf03-415e-b807-7e9c74b6bc33'] -%}
    {%- capture default_replo_text_b53e5b14-bf03-415e-b807-7e9c74b6bc33 -%}<p>Browse By State</p>{%- endcapture -%}
    {%- assign replo_text_b53e5b14-bf03-415e-b807-7e9c74b6bc33 = replo_text_b53e5b14-bf03-415e-b807-7e9c74b6bc33 | default: default_replo_text_b53e5b14-bf03-415e-b807-7e9c74b6bc33 -%}
    "replo_text_b53e5b14-bf03-415e-b807-7e9c74b6bc33": {{ replo_text_b53e5b14-bf03-415e-b807-7e9c74b6bc33 | json }}, {%- assign replo_text_f4c36b5d-9d99-42ed-94b2-f18e0207769d = section.settings['replo_text_f4c36b5d-9d99-42ed-94b2-f18e0207769d'] -%}
    {%- capture default_replo_text_f4c36b5d-9d99-42ed-94b2-f18e0207769d -%}<p>BY LEVEL</p>{%- endcapture -%}
    {%- assign replo_text_f4c36b5d-9d99-42ed-94b2-f18e0207769d = replo_text_f4c36b5d-9d99-42ed-94b2-f18e0207769d | default: default_replo_text_f4c36b5d-9d99-42ed-94b2-f18e0207769d -%}
    "replo_text_f4c36b5d-9d99-42ed-94b2-f18e0207769d": {{ replo_text_f4c36b5d-9d99-42ed-94b2-f18e0207769d | json }}, {%- assign replo_text_a1b51c5c-5b4e-4cf0-be2c-16d86738578d = section.settings['replo_text_a1b51c5c-5b4e-4cf0-be2c-16d86738578d'] -%}
    {%- capture default_replo_text_a1b51c5c-5b4e-4cf0-be2c-16d86738578d -%}<p>BY STATE</p>{%- endcapture -%}
    {%- assign replo_text_a1b51c5c-5b4e-4cf0-be2c-16d86738578d = replo_text_a1b51c5c-5b4e-4cf0-be2c-16d86738578d | default: default_replo_text_a1b51c5c-5b4e-4cf0-be2c-16d86738578d -%}
    "replo_text_a1b51c5c-5b4e-4cf0-be2c-16d86738578d": {{ replo_text_a1b51c5c-5b4e-4cf0-be2c-16d86738578d | json }}, {%- assign replo_url_4845cb76-a306-4a39-87ce-d852c635a20d = section.settings['replo_url_4845cb76-a306-4a39-87ce-d852c635a20d'] -%}
    {%- capture default_replo_url_4845cb76-a306-4a39-87ce-d852c635a20d -%}https://coreathletics.com/pages/camp{%- endcapture -%}
    {%- assign replo_url_4845cb76-a306-4a39-87ce-d852c635a20d = replo_url_4845cb76-a306-4a39-87ce-d852c635a20d | default: default_replo_url_4845cb76-a306-4a39-87ce-d852c635a20d -%}
    "replo_url_4845cb76-a306-4a39-87ce-d852c635a20d": {{ replo_url_4845cb76-a306-4a39-87ce-d852c635a20d | json }}, {%- assign replo_text_d07787d7-f5bf-4a6e-a11c-a124191a4792 = section.settings['replo_text_d07787d7-f5bf-4a6e-a11c-a124191a4792'] -%}
    {%- capture default_replo_text_d07787d7-f5bf-4a6e-a11c-a124191a4792 -%}<p>WHY CORE&nbsp;PICKLEBALL ?</p>{%- endcapture -%}
    {%- assign replo_text_d07787d7-f5bf-4a6e-a11c-a124191a4792 = replo_text_d07787d7-f5bf-4a6e-a11c-a124191a4792 | default: default_replo_text_d07787d7-f5bf-4a6e-a11c-a124191a4792 -%}
    "replo_text_d07787d7-f5bf-4a6e-a11c-a124191a4792": {{ replo_text_d07787d7-f5bf-4a6e-a11c-a124191a4792 | json }}, {%- assign replo_text_77ba195d-4022-4636-9e2f-28d4c14e2225 = section.settings['replo_text_77ba195d-4022-4636-9e2f-28d4c14e2225'] -%}
    {%- capture default_replo_text_77ba195d-4022-4636-9e2f-28d4c14e2225 -%}<p>BY LEVEL</p>{%- endcapture -%}
    {%- assign replo_text_77ba195d-4022-4636-9e2f-28d4c14e2225 = replo_text_77ba195d-4022-4636-9e2f-28d4c14e2225 | default: default_replo_text_77ba195d-4022-4636-9e2f-28d4c14e2225 -%}
    "replo_text_77ba195d-4022-4636-9e2f-28d4c14e2225": {{ replo_text_77ba195d-4022-4636-9e2f-28d4c14e2225 | json }}, {%- assign replo_text_cec5f2f1-4279-43f0-abef-d12cd6e36b37 = section.settings['replo_text_cec5f2f1-4279-43f0-abef-d12cd6e36b37'] -%}
    {%- capture default_replo_text_cec5f2f1-4279-43f0-abef-d12cd6e36b37 -%}<p>BY STATE</p>{%- endcapture -%}
    {%- assign replo_text_cec5f2f1-4279-43f0-abef-d12cd6e36b37 = replo_text_cec5f2f1-4279-43f0-abef-d12cd6e36b37 | default: default_replo_text_cec5f2f1-4279-43f0-abef-d12cd6e36b37 -%}
    "replo_text_cec5f2f1-4279-43f0-abef-d12cd6e36b37": {{ replo_text_cec5f2f1-4279-43f0-abef-d12cd6e36b37 | json }}, {%- assign replo_url_f5044002-da8d-4630-a412-5bb751f014f6 = section.settings['replo_url_f5044002-da8d-4630-a412-5bb751f014f6'] -%}
    {%- capture default_replo_url_f5044002-da8d-4630-a412-5bb751f014f6 -%}https://coreathletics.com/pages/camp{%- endcapture -%}
    {%- assign replo_url_f5044002-da8d-4630-a412-5bb751f014f6 = replo_url_f5044002-da8d-4630-a412-5bb751f014f6 | default: default_replo_url_f5044002-da8d-4630-a412-5bb751f014f6 -%}
    "replo_url_f5044002-da8d-4630-a412-5bb751f014f6": {{ replo_url_f5044002-da8d-4630-a412-5bb751f014f6 | json }}, {%- assign replo_text_5029a71d-7a11-4c83-a447-5feaf300cf74 = section.settings['replo_text_5029a71d-7a11-4c83-a447-5feaf300cf74'] -%}
    {%- capture default_replo_text_5029a71d-7a11-4c83-a447-5feaf300cf74 -%}<p>WHY CORE&nbsp;PICKLEBALL ?</p>{%- endcapture -%}
    {%- assign replo_text_5029a71d-7a11-4c83-a447-5feaf300cf74 = replo_text_5029a71d-7a11-4c83-a447-5feaf300cf74 | default: default_replo_text_5029a71d-7a11-4c83-a447-5feaf300cf74 -%}
    "replo_text_5029a71d-7a11-4c83-a447-5feaf300cf74": {{ replo_text_5029a71d-7a11-4c83-a447-5feaf300cf74 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}