{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_d523e0da-37a7-42aa-981f-cba8ae969ac4 = section.settings['replo_text_d523e0da-37a7-42aa-981f-cba8ae969ac4'] -%}
    {%- capture default_replo_text_d523e0da-37a7-42aa-981f-cba8ae969ac4 -%}<p>Slide 2 of 2</p>{%- endcapture -%}
    {%- assign replo_text_d523e0da-37a7-42aa-981f-cba8ae969ac4 = replo_text_d523e0da-37a7-42aa-981f-cba8ae969ac4 | default: default_replo_text_d523e0da-37a7-42aa-981f-cba8ae969ac4 -%}
    "replo_text_d523e0da-37a7-42aa-981f-cba8ae969ac4": {{ replo_text_d523e0da-37a7-42aa-981f-cba8ae969ac4 | json }}, {%- assign replo_text_8c3fbba7-42a3-4ba3-9043-5c654b3b8a0f = section.settings['replo_text_8c3fbba7-42a3-4ba3-9043-5c654b3b8a0f'] -%}
    {%- capture default_replo_text_8c3fbba7-42a3-4ba3-9043-5c654b3b8a0f -%}<p>From 10/22/2024 - 10/31/2024&nbsp; - 20% off</p>{%- endcapture -%}
    {%- assign replo_text_8c3fbba7-42a3-4ba3-9043-5c654b3b8a0f = replo_text_8c3fbba7-42a3-4ba3-9043-5c654b3b8a0f | default: default_replo_text_8c3fbba7-42a3-4ba3-9043-5c654b3b8a0f -%}
    "replo_text_8c3fbba7-42a3-4ba3-9043-5c654b3b8a0f": {{ replo_text_8c3fbba7-42a3-4ba3-9043-5c654b3b8a0f | json }}, {%- assign replo_text_02d8d004-b854-4e8c-b773-698844008195 = section.settings['replo_text_02d8d004-b854-4e8c-b773-698844008195'] -%}
    {%- capture default_replo_text_02d8d004-b854-4e8c-b773-698844008195 -%}<p>From 11/08/2024 - 11/15/2024 - 10% off</p>{%- endcapture -%}
    {%- assign replo_text_02d8d004-b854-4e8c-b773-698844008195 = replo_text_02d8d004-b854-4e8c-b773-698844008195 | default: default_replo_text_02d8d004-b854-4e8c-b773-698844008195 -%}
    "replo_text_02d8d004-b854-4e8c-b773-698844008195": {{ replo_text_02d8d004-b854-4e8c-b773-698844008195 | json }}, {%- assign replo_text_7c401ef0-82fa-4599-952f-b0ad528731dd = section.settings['replo_text_7c401ef0-82fa-4599-952f-b0ad528731dd'] -%}
    {%- capture default_replo_text_7c401ef0-82fa-4599-952f-b0ad528731dd -%}<p>$</p>{%- endcapture -%}
    {%- assign replo_text_7c401ef0-82fa-4599-952f-b0ad528731dd = replo_text_7c401ef0-82fa-4599-952f-b0ad528731dd | default: default_replo_text_7c401ef0-82fa-4599-952f-b0ad528731dd -%}
    "replo_text_7c401ef0-82fa-4599-952f-b0ad528731dd": {{ replo_text_7c401ef0-82fa-4599-952f-b0ad528731dd | json }}, {%- assign replo_text_3b0f956f-817d-4ef9-884d-ee9899db5538 = section.settings['replo_text_3b0f956f-817d-4ef9-884d-ee9899db5538'] -%}
    {%- capture default_replo_text_3b0f956f-817d-4ef9-884d-ee9899db5538 -%}<p>Buy 5 or More - 20% off</p>{%- endcapture -%}
    {%- assign replo_text_3b0f956f-817d-4ef9-884d-ee9899db5538 = replo_text_3b0f956f-817d-4ef9-884d-ee9899db5538 | default: default_replo_text_3b0f956f-817d-4ef9-884d-ee9899db5538 -%}
    "replo_text_3b0f956f-817d-4ef9-884d-ee9899db5538": {{ replo_text_3b0f956f-817d-4ef9-884d-ee9899db5538 | json }}, {%- assign replo_text_8dd170c4-fd0d-4a68-a57d-6f0489414e22 = section.settings['replo_text_8dd170c4-fd0d-4a68-a57d-6f0489414e22'] -%}
    {%- capture default_replo_text_8dd170c4-fd0d-4a68-a57d-6f0489414e22 -%}<p>Buy 2 - 10% off</p>{%- endcapture -%}
    {%- assign replo_text_8dd170c4-fd0d-4a68-a57d-6f0489414e22 = replo_text_8dd170c4-fd0d-4a68-a57d-6f0489414e22 | default: default_replo_text_8dd170c4-fd0d-4a68-a57d-6f0489414e22 -%}
    "replo_text_8dd170c4-fd0d-4a68-a57d-6f0489414e22": {{ replo_text_8dd170c4-fd0d-4a68-a57d-6f0489414e22 | json }}, {%- assign replo_text_564306de-2548-4e6e-8f8a-8d92bdfb4859 = section.settings['replo_text_564306de-2548-4e6e-8f8a-8d92bdfb4859'] -%}
    {%- capture default_replo_text_564306de-2548-4e6e-8f8a-8d92bdfb4859 -%}<p>Only a&nbsp;</p>{%- endcapture -%}
    {%- assign replo_text_564306de-2548-4e6e-8f8a-8d92bdfb4859 = replo_text_564306de-2548-4e6e-8f8a-8d92bdfb4859 | default: default_replo_text_564306de-2548-4e6e-8f8a-8d92bdfb4859 -%}
    "replo_text_564306de-2548-4e6e-8f8a-8d92bdfb4859": {{ replo_text_564306de-2548-4e6e-8f8a-8d92bdfb4859 | json }}, {%- assign replo_text_a7431039-0108-40f3-bec2-e9b0665d1bb8 = section.settings['replo_text_a7431039-0108-40f3-bec2-e9b0665d1bb8'] -%}
    {%- capture default_replo_text_a7431039-0108-40f3-bec2-e9b0665d1bb8 -%}<p>spots left!</p>{%- endcapture -%}
    {%- assign replo_text_a7431039-0108-40f3-bec2-e9b0665d1bb8 = replo_text_a7431039-0108-40f3-bec2-e9b0665d1bb8 | default: default_replo_text_a7431039-0108-40f3-bec2-e9b0665d1bb8 -%}
    "replo_text_a7431039-0108-40f3-bec2-e9b0665d1bb8": {{ replo_text_a7431039-0108-40f3-bec2-e9b0665d1bb8 | json }}, {%- assign replo_text_ec4b7262-f837-4c56-b335-d24e2458f659 = section.settings['replo_text_ec4b7262-f837-4c56-b335-d24e2458f659'] -%}
    {%- capture default_replo_text_ec4b7262-f837-4c56-b335-d24e2458f659 -%}<p><b>Add To Cart</b></p>{%- endcapture -%}
    {%- assign replo_text_ec4b7262-f837-4c56-b335-d24e2458f659 = replo_text_ec4b7262-f837-4c56-b335-d24e2458f659 | default: default_replo_text_ec4b7262-f837-4c56-b335-d24e2458f659 -%}
    "replo_text_ec4b7262-f837-4c56-b335-d24e2458f659": {{ replo_text_ec4b7262-f837-4c56-b335-d24e2458f659 | json }}, {%- assign replo_text_1f22a526-7fa1-4c4d-a354-c6e38f46ed79 = section.settings['replo_text_1f22a526-7fa1-4c4d-a354-c6e38f46ed79'] -%}
    {%- capture default_replo_text_1f22a526-7fa1-4c4d-a354-c6e38f46ed79 -%}<p><b>Detailed Description</b></p>{%- endcapture -%}
    {%- assign replo_text_1f22a526-7fa1-4c4d-a354-c6e38f46ed79 = replo_text_1f22a526-7fa1-4c4d-a354-c6e38f46ed79 | default: default_replo_text_1f22a526-7fa1-4c4d-a354-c6e38f46ed79 -%}
    "replo_text_1f22a526-7fa1-4c4d-a354-c6e38f46ed79": {{ replo_text_1f22a526-7fa1-4c4d-a354-c6e38f46ed79 | json }}, {%- assign replo_text_be423fb9-f105-48a7-a64c-4a448d6fb977 = section.settings['replo_text_be423fb9-f105-48a7-a64c-4a448d6fb977'] -%}
    {%- capture default_replo_text_be423fb9-f105-48a7-a64c-4a448d6fb977 -%}<p>Head Pro</p>{%- endcapture -%}
    {%- assign replo_text_be423fb9-f105-48a7-a64c-4a448d6fb977 = replo_text_be423fb9-f105-48a7-a64c-4a448d6fb977 | default: default_replo_text_be423fb9-f105-48a7-a64c-4a448d6fb977 -%}
    "replo_text_be423fb9-f105-48a7-a64c-4a448d6fb977": {{ replo_text_be423fb9-f105-48a7-a64c-4a448d6fb977 | json }}, {%- assign replo_text_3e7f5d21-d2ed-4636-8ebc-f88eb3d55c72 = section.settings['replo_text_3e7f5d21-d2ed-4636-8ebc-f88eb3d55c72'] -%}
    {%- capture default_replo_text_3e7f5d21-d2ed-4636-8ebc-f88eb3d55c72 -%}<p>Location &amp; Time</p>{%- endcapture -%}
    {%- assign replo_text_3e7f5d21-d2ed-4636-8ebc-f88eb3d55c72 = replo_text_3e7f5d21-d2ed-4636-8ebc-f88eb3d55c72 | default: default_replo_text_3e7f5d21-d2ed-4636-8ebc-f88eb3d55c72 -%}
    "replo_text_3e7f5d21-d2ed-4636-8ebc-f88eb3d55c72": {{ replo_text_3e7f5d21-d2ed-4636-8ebc-f88eb3d55c72 | json }}, {%- assign replo_text_029e801d-6101-4562-8e73-8de38a314a38 = section.settings['replo_text_029e801d-6101-4562-8e73-8de38a314a38'] -%}
    {%- capture default_replo_text_029e801d-6101-4562-8e73-8de38a314a38 -%}<p>Camp Skill Level</p>{%- endcapture -%}
    {%- assign replo_text_029e801d-6101-4562-8e73-8de38a314a38 = replo_text_029e801d-6101-4562-8e73-8de38a314a38 | default: default_replo_text_029e801d-6101-4562-8e73-8de38a314a38 -%}
    "replo_text_029e801d-6101-4562-8e73-8de38a314a38": {{ replo_text_029e801d-6101-4562-8e73-8de38a314a38 | json }}, {%- assign replo_text_c1a94b69-ab23-4730-97ea-0d39d4ae3a13 = section.settings['replo_text_c1a94b69-ab23-4730-97ea-0d39d4ae3a13'] -%}
    {%- capture default_replo_text_c1a94b69-ab23-4730-97ea-0d39d4ae3a13 -%}<p>Additional Camp Details</p>{%- endcapture -%}
    {%- assign replo_text_c1a94b69-ab23-4730-97ea-0d39d4ae3a13 = replo_text_c1a94b69-ab23-4730-97ea-0d39d4ae3a13 | default: default_replo_text_c1a94b69-ab23-4730-97ea-0d39d4ae3a13 -%}
    "replo_text_c1a94b69-ab23-4730-97ea-0d39d4ae3a13": {{ replo_text_c1a94b69-ab23-4730-97ea-0d39d4ae3a13 | json }}, {%- assign replo_text_59ea5bb8-2cc6-4c82-b6d3-f28d8a6b884a = section.settings['replo_text_59ea5bb8-2cc6-4c82-b6d3-f28d8a6b884a'] -%}
    {%- capture default_replo_text_59ea5bb8-2cc6-4c82-b6d3-f28d8a6b884a -%}<p>Discounts</p>{%- endcapture -%}
    {%- assign replo_text_59ea5bb8-2cc6-4c82-b6d3-f28d8a6b884a = replo_text_59ea5bb8-2cc6-4c82-b6d3-f28d8a6b884a | default: default_replo_text_59ea5bb8-2cc6-4c82-b6d3-f28d8a6b884a -%}
    "replo_text_59ea5bb8-2cc6-4c82-b6d3-f28d8a6b884a": {{ replo_text_59ea5bb8-2cc6-4c82-b6d3-f28d8a6b884a | json }}, {%- assign replo_text_5188ab08-f743-4483-bab6-34c65fcb0b84 = section.settings['replo_text_5188ab08-f743-4483-bab6-34c65fcb0b84'] -%}
    {%- capture default_replo_text_5188ab08-f743-4483-bab6-34c65fcb0b84 -%}<p>Our Sponsors</p>{%- endcapture -%}
    {%- assign replo_text_5188ab08-f743-4483-bab6-34c65fcb0b84 = replo_text_5188ab08-f743-4483-bab6-34c65fcb0b84 | default: default_replo_text_5188ab08-f743-4483-bab6-34c65fcb0b84 -%}
    "replo_text_5188ab08-f743-4483-bab6-34c65fcb0b84": {{ replo_text_5188ab08-f743-4483-bab6-34c65fcb0b84 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}